---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our font families variables

$fontfamily-v1: Helvetica, Arial, sans-serif;
$alt-font-1: Arial Black, sans-serif;
$alt-font-2: "Maison Neue", sans-serif;
$brand-font: "League Spartan", "Maison Neue", Arial Black, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$section-number-font-size: 1.2em;
$section-hero-font-size: 20px;
$size_img_id: 0.8em;
$base-line-height: 1.5;
$spacing-unit:     20px;
$text-color: #000;
$primary-color: #4a4a4a;
$quote-color: #3b3b3b;
$brand-color: #6F5723;
$brand-color-2: #C9A443;
$background-color: #fff;
$white-bg: #fff;
$image-number-color: #fff;
$color_img_id: #ffffff;
 $grey-color:       #828282;
 $grey-color-light: lighten($grey-color, 40%);
 $grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    1000px;

$on-mobile:         300px;
$on-palm:           400px; /* used this one */
$on-mobile-mid:     480px; /* used this one */
$on-palm-mid:       500px; /* used this one, this is where mobile breaks to desktop */
$on-palm-three:     600px;
$on-mobile-lg:      620px;
$on-tablet:         700px; /* used this one, this is another important breakpoint */
$on-pad:            750px;
$tablet-width:      768px;
$on-tablet-mid:   800px;
$on-laptop:         900px; /* used this one */
$on-desktop:        1024px; /* used this one */
/*$on-laptop:         1024px;*/
$on-desktop-blah:        1200px;
$on-tv:     1400px;






@mixin mobile {
    @media screen and (min-width: #{$on-mobile}) {
        @content;
    }
}

@mixin palm {
    @media screen and (min-width: #{$on-palm}) {
        @content;
    }
}

@mixin mobile-mid {
    @media screen and (min-width: #{$on-mobile-mid}) {
        @content;
    }
}

@mixin palm-mid {
    @media screen and (min-width: #{$on-palm-mid}) {
        @content;
    }
}

@mixin palm-three {
    @media screen and (min-width: #{$on-palm-three}) {
        @content;
    }
}

@mixin mobile-lg {
    @media screen and (min-width: #{$on-mobile-lg}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$on-tablet}) {
        @content;
    }
}

@mixin pad {
    @media screen and (min-width: #{$on-pad}) {
        @content;
    }
}

@mixin tablet-mid {
    @media screen and (min-width: #{$on-tablet-mid}) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: #{$on-laptop}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$on-desktop}) {
        @content;
    }
}

@mixin desktop-blah {
    @media screen and (min-width: #{$on-desktop-blah}) {
        @content;
    }
}

@mixin tv {
    @media screen and (min-width: #{$on-tv}) {
        @content;
    }
}




// Mixins 
@mixin hero-text {
    text-align: right;
    width: 80%;
    padding-left: 1.4em;
    font-size: 20px;
    font-family: 'Maison Neue', Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 900;
    text-decoration: underline;
}

@mixin brandcolortext {
    color: $brand-color;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "home",
        "layout",
        "slider",
        "footer"
        
;
