---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our font families variables
$brand-font: "League Spartan", "Maison Neue", Arial Black, sans-serif;
$fontfamily-v1: Helvetica, Arial, sans-serif;


$font-brand1: 'League Spartan', 'Maison Neue', Arial Black, sans-serif;
$font-brand2: Helvetica, Arial, sans-serif;

$color-brand1:      #040707;
$color-brand2:      #794C08;
$color-brand3:      #A58124;
$color-brand4:      #C6A88D;
$color-brand5:      #6F5723;
$color-gray:        #4A4A4A;
$color-white:       #FFFFFF;


$brown1: #745c1c;
$brand-color: #6F5723;
$section-number-font-size: 1.2em;
$primary-color: #4a4a4a;
$brand-color-2: #C9A443;



$alt-font-1: Arial Black, sans-serif;
$alt-font-2: "Maison Neue", sans-serif;

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

$section-hero-font-size: 20px;
$size_img_id: 0.8em;
$base-line-height: 1.5;
$spacing-unit:     20px;
$text-color: #000;

$quote-color: #3b3b3b;


$brand-color3: #C7A88D;
$background-color: #fff;
$white-bg: #fff;
$image-number-color: #fff;
$color_img_id: #ffffff;
 $grey-color:       #828282;
 $grey-color-light: lighten($grey-color, 40%);
 $grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    1000px;


$on-palm:           400px; /* wrapper, featured */
$on-mobile-mid:     480px; /* catalog */
$on-palm-mid:       500px; /* wrapper, featured, home, footer */
$on-tablet:         700px; /* home, featured, this is another important breakpoint */
$on-laptop:         900px; /* featured, catalog, footer, home */
$on-desktop:        1024px; /* wrapper */
$on-desktop-blah:        1200px; /* catalog, home, header */
$on-tv:     1400px; /* wrapper, featured, home */







@mixin palm {
    @media screen and (min-width: #{$on-palm}) {
        @content;
    }
}

@mixin mobile-mid {
    @media screen and (min-width: #{$on-mobile-mid}) {
        @content;
    }
}

@mixin palm-mid {
    @media screen and (min-width: #{$on-palm-mid}) {
        @content;
    }
}


@mixin tablet {
    @media screen and (min-width: #{$on-tablet}) {
        @content;
    }
}


@mixin laptop {
    @media screen and (min-width: #{$on-laptop}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$on-desktop}) {
        @content;
    }
}

@mixin desktop-blah {
    @media screen and (min-width: #{$on-desktop-blah}) {
        @content;
    }
}

@mixin tv {
    @media screen and (min-width: #{$on-tv}) {
        @content;
    }
}




// Mixins 
@mixin hero-text {
    text-align: right;
    width: 80%;
    padding-left: 1.4em;
    font-size: 20px;
    font-family: 'Maison Neue', Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 900;
    text-decoration: underline;
}

@mixin brandcolortext {
    color: $brand-color;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "home",
        "layout",
        "footer"
;
