---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our font families variables

$fontfamily-v1: Helvetica, Arial, sans-serif;
$alt-font-1: Arial Black, sans-serif;
$alt-font-2: "Maison Neue", sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$section-number-font-size: 1.2em;
$section-hero-font-size: 20px;
$size_img_id: 0.8em;

$base-line-height: 1.5;

/*$section-id-number: 1.2em;*/


/*
@mixin MaisonNeue-Bold {
  font-family: 'MaisonNeue-Bold', arial, sans-serif;
  font-weight: 300; font-style: normal; }

@include font-face(MaisonNeue-Bold, 'https://dl.dropboxusercontent.com/u/12644668/fonts/maisonneuebold.ttf', 300, normal);*/

@mixin brandcolortext {
    color: $brand-color;
}


$spacing-unit:     20px;

$text-color: #000;
$primary-color: #4a4a4a;
$quote-color: #3b3b3b;
$brand-color: #6F5723;
$brand-color-2: #C9A443;
$background-color: #fff;
$white-bg: #fff;
$image-number-color: #fff;
$color_img_id: #ffffff;

 $grey-color:       #828282;
 $grey-color-light: lighten($grey-color, 40%);
 $grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:           400px; /* used this one */
$on-palm-mid:       500px; /* used this one */
$on-palm-three:     600px;
$on-tablet:         700px; /* used this one */
$on-tablet-mid:   800px;
$on-laptop:         900px; /* used this one */
$tablet-width:      768px;
$on-desktop:        1024px;





@mixin palm {
    @media screen and (min-width: #{$on-palm}) {
        @content;
    }
}

@mixin palm-mid {
    @media screen and (min-width: #{$on-palm-mid}) {
        @content;
    }
}

@mixin palm-three {
    @media screen and (min-width: #{$on-palm-three}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$on-tablet}) {
        @content;
    }
}

@mixin tablet-mid {
    @media screen and (min-width: #{$on-tablet-mid}) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: #{$on-laptop}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$on-desktop}) {
        @content;
    }
}

/* mixins for second set of media queries */
/* other media queries to consider - i think i need to redo the home page a-fucking-gain -_-

* mobile - from 300px
* mobile-mid - from 480px
* pad - from 786px
* laptop - from 1024px
* desktop and larger - from 1200 px
*/

$on-mobile:         300px;
$on-mobile-mid:     480px; /* used this one */
$on-mobile-lg:      620px;
$on-pad:            750px;
/*$on-laptop:         1024px;*/
$on-desktop-blah:        1200px;



@mixin mobile {
    @media screen and (min-width: #{$on-mobile}) {
        @content;
    }
}

@mixin mobile-mid {
    @media screen and (min-width: #{$on-mobile-mid}) {
        @content;
    }
}

@mixin mobile-lg {
    @media screen and (min-width: #{$on-mobile-lg}) {
        @content;
    }
}

@mixin pad {
    @media screen and (min-width: #{$on-pad}) {
        @content;
    }
}

/*@mixin laptop {
    @media screen and (min-width: #{$on-laptop}) {
        @content;
    }
}*/

@mixin desktop-blah {
    @media screen and (min-width: #{$on-desktop-blah}) {
        @content;
    }
}

/* #mixins for second set of media queries */









// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}









// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}










// Mixins 
@mixin hero-text {
    text-align: right;
    width: 80%;
    padding-left: 1.4em;
    font-size: 20px;
    font-family: 'Maison Neue', Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 900;
    text-decoration: underline;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "home",
        "layout",
        "gallery",
        "footer"
        
;
