<div class="slide" id="credits-slide">
     
    {% include new_component_library/credits.html %}
    
    
    <div class="vertical_img_wrapper clear">
	  	<div class="credits_link_wrapper">
		  	<a href="{{ site.baseurl }}/featured" class="return-cta-link">
		  		<div class="return-cta">return to featured</div>
		  	</a>
	  	</div>
	  	<div class="credits_link_wrapper">
	  		<a href="{{ site.baseurl }}/catalog" class="return-cta-link"><div class="return-cta">return to work</div></a>
	  	</div>
  	</div>
    
</div>