---
layout            				: default

video_url         				: "https://player.vimeo.com/video/104641191?api=1"
video_hero_img    				: "/assets/images/hero_home3.png"

featured-body-hero 				: "/assets/images/contact_hero.jpg"

---

<div class="clear" id="home"></div>

<!-- Section 1 -->
{% include 

	new_component_library/masthead.html 

%}
<!-- #Section 1 -->

<!-- Section 2 -->
{% include 

	new_component_library/hero.html 

	hero-img="/assets/images/black-tv.jpg"
	hero-list="yes"

	caption_title = "B-Roll from Nomad Yard, 2015" 
	caption_text = "We're creating branded content. Film, Fashion and Art&mdash; are the industries that we pivot. We help our clients launch + sell consumer goods."

%}
<!-- #Section 2 -->

<!-- Section 3 -->
{% include 

	new_component_library/section_content.html 

	layout="right" 

	section-number="01"
	section_bg="/assets/images/home-bg-1.jpg" 

	featured-image= "/assets/images/backstage-bw.jpg"
	featured-title= "Strategy is at the crux of what our brand represents."

	caption_title = "Backstage at Spectrum" 
	caption_text = "Our love for strategy works well with our vision for produced projects. We believe if you can create a strong vision, you can create success"
	url = "/catalog/collabmore-spectrum"

%}
<!-- #Section 3 -->

<!-- Section 4 -->
{% include 

	new_component_library/hero.html 

	hero-img="/assets/images/sankofa-bw.jpg"

	caption_title = "Kids Exploring <br />@ Pop-Up Museum: Sankofa" 
	caption_text = "A mix of brand strategy and activation are a great recipe for growth and exposure. Connecting with people in the community through common threads is a good start to building relationships around commerce"
	url = "/catalog/pop-up-museum-sankofa"

%}
<!-- #Section 4 -->

<!-- Section 5 -->
{% include 

	new_component_library/section_content.html 

	layout="left" 

	section-number="03"
	section_bg="/assets/images/home-bg-1.jpg" 

	featured-image= "/assets/images/team.jpg"
	featured-title= "We are the team for executing the plan that's needed for the big idea"

	caption_title = "BTS Thug Myth Documentary" 
	caption_text = "We look at our company like having the tools to sow into the seeds that are around us.  We want to help other brands grow and provide the best products and services to our extended communities."

%}
<!-- #Section 5 -->