// Width of the content area

$on-palm                : 400px;
$on-mobile-mid          : 480px; 
$on-palm-mid            : 500px; 
$on-tablet-small        : 600px;
$on-tablet              : 750px; 
$on-tablet-frow         : 767px;
$on-laptop              : 900px; 
$on-desktop             : 1024px;
$on-desktop-blah        : 1200px;
$on-widescreen          : 1320px;
$on-tv                  : 1439px;
$on-bigscreen           : 1600px;

// Media Query Mixins
@mixin palm {
  @media screen and (min-width: #{$on-palm}) {
    @content;
  }
}
@mixin mobile-mid {
  @media screen and (min-width: #{$on-mobile-mid}) {
    @content;
  }
}
@mixin palm-mid {
  @media screen and (min-width: #{$on-palm-mid}) {
    @content;
  }
}
@mixin tablet-small {
  @media screen and (min-width: #{$on-tablet-small}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: #{$on-tablet}) {
    @content;
  }
}
@mixin tablet-frow {
  @media screen and (min-width: #{$on-tablet-frow}) {
    @content;
  }
}
@mixin laptop {
  @media screen and (min-width: #{$on-laptop}) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: #{$on-desktop}) {
    @content;
  }
}
@mixin desktop-blah {
  @media screen and (min-width: #{$on-desktop-blah}) {
    @content;
  }
}
@mixin widescreen {
  @media screen and (min-width: #{$on-widescreen}) {
    @content;
  }
}
@mixin tv {
  @media screen and (min-width: #{$on-tv}) {
    @content;
  }
}
@mixin bigscreen {
  @media screen and (min-width: #{$on-bigscreen}) {
    @content;
  }
}
