// Global Settings

$menu-link-color: $off-black;
$menu-link-hover: $color-brand1;
$menu-btn-color: $off-white;
$see-all-work-color: $off-white;
$editorial-links-color: $color-brand1;
$overlay-bg-color: $off-white;
// Main Menu Overlay


// Home Page Variables - Brand Colors
// Home Page Background Color setting is in config.yml

$paragraph-color: $off-black;
$homepage-title-color: $color-brand1;
$homepage-links-color: $off-black;
$homepage-links-hover: $color-brand1;
$portfolio-title-color: $off-black;
$portfolio-title-hover: $color-brand1;
$our-work-color: $off-black;
$slideshow-text-color: $off-white;