// Folder Path
 $imgpath: /dist/images;

// Base Properties
$base-font-size:   16px;
$spacing-unit:     20px;

// Font Families
$font-brand3                : 'Libre Baskerville', Helvetica, serif;
$font-brand4                : 'Montserrat', sans-serif;
$line-height                : 1.4;

// Font Colors
$color-brand1				: #99703E;
$color-brand2				: #7A5F1A;
$color-brand3               : #A58124;
$color-brand5               : #6F5723;

$neon-green					: #d8ff01;
$neon-blue					: rgb(1, 255, 243);
$neon-money					: rgb(1, 255, 220);
$neon-orange				: rgb(255, 189, 1);

$brown						: #A16414;
$burgundy					: #401515;
$off-white                  : #F7F7F7;
$off-black                  : #070707;
$yellow1 					: #fff474;
$yellow						: #c8f330;
$soft-red					: #d3b7ac;
$light-brown				: #b69d9d;
$light-bg					: #ded0bf;



// Blues
$blue1 						: #bbecf3;
$blue2 						: #77d8e6;
$blue3 						: #1aabc1;
$blue4 						: #0f5f6b;
$blue5 						: #06262b;

// Font Weights
$normal                     : 400;
$medium                     : 500;
$heavy                      : 700;



// Design System Fonts
.font_size_lg {
  @include font_size_lg;
  text-align: right;
  line-height: 30px;
}
.font_size_micro {
  @include font_size_micro;
  text-align: right;
  @include desktop {
    font-size: 16px !important;
  }
}
.uppercase {
  text-transform: uppercase;
}
