<section class="archive_work js_scroll_reveal" style="background-image:url('{{ page.archive_image }}');">
  <div class="grid archive_grid" >
  <div class="archive_header">
    All Work
  </div>

  <div class="frow justify-between">
    <div class="archive_season js_scroll_reveal">
      <div class="archive_season_title">
        2017 Season
        <div>III</div>
      </div>
      <div class="frow justify-start">
        {% assign season_3 = site.catalog | where: "season", "3" %}
        {% for items in season_3 %}
          {% include components/archive_single_item.html %}
        {% endfor %}
      </div>
    </div>
    <div class="archive_season js_scroll_reveal">
      <div class="archive_season_title">
        2016 Season
        <div>II</div>
      </div>
      <div class="frow justify-start">
        {% assign season_2 = site.catalog | where: "season", "2" %}
        {% for items in season_2 %}
          {% include components/archive_single_item.html %}
        {% endfor %}
      </div>
    </div>
    <div class="archive_season js_scroll_reveal">
      <div class="archive_season_title">
        2015 Season
        <div>I</div>
      </div>
      <div class="frow justify-start">
        {% assign season_1 = site.catalog | where: "season", "1" %}
        {% for items in season_1 %}
          {% include components/archive_single_item.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>