<div class="work_szn">
    <div class="work_szn_header">
        featured work
    </div>
    <div class="work_szn_items">
        <!-- need to change this layout to ul > li to get the hover images to display correctly-->
            {% assign featured_projects = site.catalog | where: "featured", "yes" | sort: "featured-rank" %}
            {% for project in featured_projects %}

            <div class="work_item_wrapper">
                <div class="work_item_title phase1-js-background-trigger">
                    <a href="{{ project.url }}">{{ project.title }}</a>
                    {% if project.catalog-cover-image %}
                    <div class="phase1-js-background-receiver" style="background-image: url({{ project.catalog-cover-image }});"></div>
                    {% endif %}
                </div>
                <div class="work_item_summary">{{ project.summary }}</div>
            </div>

            {% endfor %}
        <!--  -->
    </div>
</div>
