<div class="contain_caption_wrapper clear">
  <div class="svn-content_contain-caption">
    
    <div class="caption">
      <div class="caption_title"><!-- svn-content_caption-title -->
        {{ include.caption_title }}
      </div>
      <div class="caption_text">
        {{ include.caption_text }}
      </div>
    </div>
    
    <div class="caption">
      <div class="caption_title">
        {{ include.caption_title_extra }}
      </div>
      <div class="caption_text">
        {{ include.caption_text_extra }}
      </div>
    </div>
    
  </div>
</div>