<div class="contain_caption_wrapper clear">
  <div class="svn-content_contain-caption">
    <div class="svn-content_caption-title">
      {{ include.caption_title }}
    </div>
    <div class="svn-content_caption-sm">
      {{ include.caption_text }}
    </div>
    <div class="svn-caption_spacer"></div>
    <div class="svn-content_caption-title">
      {{ include.caption_title_extra }}
    </div>
    <div class="svn-content_caption-sm">
      {{ include.caption_text_extra }}
    </div>
  </div>
</div>