<section class="section-bg clear">
    <div class="svn-wrapper clear">

      <div class="svn-content svn-content_col">
        <div class="svn-content_bg">
          <div class="svn-content_no svn-content_no-featured">04.</div>
          <div class="featured-category">Featured Work</div>
          <div class="featured-title">Baltimore Love Thing</div>
          <div class="featured-text">
            <p>Waistcoat chicharrones green juice flexitarian affogato celiac semiotics, cliche pickled pabst. Narwhal intelligentsia gentrify etsy farm-to-table banh mi. Everyday carry vinyl seitan, craft beer paleo wolf literally irony 90's bitters ethical retro banh mi. Bitters godard direct trade +1 post-ironic. </p>
            <p>Waistcoat chicharrones green juice flexitarian affogato celiac semiotics, cliche pickled pabst. Narwhal intelligentsia gentrify etsy farm-to-table banh mi. Everyday carry vinyl seitan, craft beer paleo wolf literally irony 90's bitters ethical retro banh mi. Bitters godard direct trade +1 post-ironic. </p>
          </div>
        
          <div class="featured-button-text">
            <a href="#">view project</a>
          </div>
        
        </div>
      </div>
    </div>
  </section>