<footer class="site-footer">
  <div class="wrapper">
    <!-- <div class="svn-wrapper clear"> changed this because footer was too narrow on featured page -->
    <div class="crwns-wrapper clear">

      <div class="footer-elements center-pos clear">
        <div class="footer-section-wrapper">

          <div class="footer-section float-left">
            <img src="/assets/images/svn-logo.svg" class="logo-img" />
          </div>

          <div class="footer-section float-right">
            <div class="footer-email-meta">
              <div class="footer-email-title">contact</div>
              <ul class="footer-email-list">
                <li><a href="mailto:hello@svncrwns.com">hello@svncrwns.com</a></li>
                <li><a href="#">subscribe</a></li>
              </ul>
            </div>
          </div>

          <div class="footer-section float-right">
            <div class="footer-email-meta">
              <div class="footer-email-title">social</div>
              <ul class="footer-email-list">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Vimeo</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
      <div class="separator"></div>
      <div class="spacer1x"></div>
    </div>
  </div>
</footer>

<!-- Javascript Files -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/d476a27cae.js"></script>
<script type="text/javascript" src="/javascript/main.js"></script>
