<footer class="site-footer">
  <div class="wrapper">
    
    <div class="crwns-wrapper clear">

      <div class="footer-elements clear">
        <div class="footer-section-wrapper clear">
        <div class="footer_section pull_right">
            <div class="footer_align_bottom footer_right">
              <div class="footer_signup_big">good things</div>
              <div class="footer_signup_small">come to those who <br>stay connected</div>
              <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">
                #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                #mc_embed_signup input.email {
                float: right;
                margin: 0 0 10px 0;
                border-radius: 0;
                border-color: #6f5723;
                width: 100%;
                min-height: 27px;
                font-size: 12px;
                color: #6f5723;
                width: 75%;
                }
                #mc_embed_signup input::placeholder {
                color: rgba(111,87,35,0.25);
                }
                #mc_embed_signup input.button {
                float: right;
                border-radius: 0;
                color: #6F5723;
                border: 1px solid #6F5723;
                background: #fff;
                font-size: 11px;
                height: 24px;
                line-height: 24px;
                min-width: 65px;
                width: 10px;
                margin: 0;
                }
                #mc_embed_signup input.button:hover {
                background: #6f5723;
                color: #fff;
                }
                #mc_embed_signup form {
                padding: 0;
                }
              </style>
              <div id="mc_embed_signup">
                <form action="//svncrwns.us11.list-manage.com/subscribe/post?u=ab04d0cabec9aa1f49ca3e65e&amp;id=2fe748f030" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                  
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab04d0cabec9aa1f49ca3e65e_2fe748f030" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="DONE." name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
              </div>

              <!--End mc_embed_signup-->
            </div>
          </div>
          <div class="footer_section pull_left mobile_align_right" >
            <div class="footer_align_bottom">
              <img src="/assets/images/svn-logo.svg" class="logo-img" />
              <div class="footer_copyright">&copy; 2017. All Rights Reserved.</div>
            </div>
          </div>

          <div class="footer_section pull_left">
            <div class="footer_align_bottom footer_social">
              <ul class="list">
                <li><a href="http://www.instagram.com/svncrwns">instagram</a></li>
                <li><a href="http://www.vimeo.com/svncrwns">vimeo</a></li>
              </ul>
              <ul class="list">
                <li><a href="/contact">work with us</a></li>
                <li><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img src="/assets/images/cc-icons.png" width="65" /></a></li>
              </ul>
            </div>
          </div>

          
        </div>

      </div>
    </div>
  </div>
</footer>

<!-- Javascript Files -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script type="text/javascript" src="https://use.fontawesome.com/d476a27cae.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<!-- Slick Slider -->
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>

<!-- Scripts -->
<script type="text/javascript" src="/javascript/main.js"></script>
<script type="text/javascript" src="/javascript/slider.js"></script>

