<footer class="site-footer">
  <div class="wrapper">
    <div class="svn-wrapper clear">

      <div class="footer-elements center-pos">
        <div class="footer-section-wrapper">

          <div class="footer-section float-left">
            <img src="/assets/images/svn-logo.svg" />
          </div>
          
          <div class="footer-section float">
            <div class="footer-email-meta"></div>
          </div>

          <div class="footer-section float-right">
            <div class="footer-email-meta">
              <div class="footer-email-title">contact</div>
              <ul class="footer-email-list">
                <li>hello@svncrwns.com</li>
                <li>subscribe</li>
              </ul>
            </div>
          </div>

          <div class="footer-section float-right">
            <div class="footer-email-meta">
              <div class="footer-email-title">social</div>
              <ul class="footer-email-list">
                <li>Instagram</li>
                <li>Vimeo</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="separator"></div>
      </div>

    </div>
  </div>
</footer>
