<footer class="site-footer">

  <div class="wrapper">

  <div class="svn-wrapper clear">
    <div class="footer-elements center-pos">
      
      <div class="footer-section-wrapper">
        <div class="footer-section float-left">
          <img src="/assets/images/svn-logo.svg" />
        </div>
        <div class="footer-section">
          <!-- <div class="footer-line"></div> -->
          <div class="footer-email-meta">
            <!-- <a href="mailto:hello@svncrwns.com" class="brand-link">hello@svncrwns.com</a><br/> -->
            <!-- <a href="http://www.instagram.com/svncrwns" class="brand-link">@svncrwns</a> -->
          </div>
        </div>

        <div class="footer-section">
          <!-- <div class="footer-line"></div> -->
          <div class="footer-email-meta">
            <!--  -->
            <div class="footer-email-title">contact</div>
            <ul class="footer-email-list">
              <li>hello@svncrwns.com</li>
              <li>subscribe</li>
            </ul>
           <!--  <a href="" class="brand-link">subscribe to the list</a><br/>
            <a href="" class="brand-link">@svncrwns</a> -->
          </div>
        </div>

        <div class="footer-section">
          <!-- <div class="footer-line"></div> -->
          <div class="footer-email-meta">
            <!-- crafted with love<br/>
            baltimore -->
            <div class="footer-email-title">social</div>
            <ul class="footer-email-list">
              <li>Instagram</li>
              <li>Vimeo</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <!-- <div class="separator"></div> -->
    </div>
  </div>


  </div>

</footer>
