<header class="site-header clear">
    
    <div class="header-row clear">
        <div class="hero-wrapper" id="home">
        
            <div id="menu-container">
                <button id="overlay-menu" type="button" class="menuButton"></button>
                
            </div>
            <div class="logo"><a href="/"><img src="/assets/images/svn-logo.svg" class="logo-img" /></a></div>
            <div class="overlay overlay-data">
                <button type="button" class="overlay-close"><i class="fa fa-lg fa-close"></i></button>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/featured">Featured</a></li>
                        <li><a href="{{ site.baseurl }}/catalog">Catalog</a></li>
                        <li><a href="#">Journal</a></li>
                        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                      
                        <li class="menu-icons"><a href="http://www.instagram.com/svncrwns" target="_blank"><!-- <img src="/assets/images/instagram_icon-v2.png" width="7%" alt="SVNCRWNS Instagram Channel" title="SVNCRWNS Instagram Channel"/> --><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;<a href="http://www.instagram.com/svncrwns" target="_blank">
                        <!-- <img src="/assets/images/vimeo_icon.png" width="7%"/ alt="SVNCRWNS Vimeo Channel" title="SVNCRWNS Vimeo Channel"> --><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
