<header class="site-header clear">
    <div class="header-row clear" style="{{ page.home_hero_img }}');">
        <div class="svn-wrapper hero-wrapper" id="home">
        
            
            <div class="logo"><a href="/"><img src="/assets/images/svn-logo.svg" class="logo-img" /></a></div>
            <div id="menu-container">
                <button id="overlay-menu" type="button" class="menuButton">
                <div class="menu-txt">&equiv;</div>
                </button>
                
            </div>
            <div class="overlay overlay-data">
                <button type="button" class="overlay-close"><i class="fa fa-lg fa-close"></i></button>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/featured">Featured</a></li>
                        <li><a href="{{ site.baseurl }}/catalog">Catalog</a></li>
                        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                      
                        <li class="menu-icons"><a href="http://www.instagram.com/svncrwns" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>&nbsp;<a href="http://www.instagram.com/svncrwns" target="_blank">
                        <i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
