<!-- Section 02-->
  <section class="section-bg clear">
    <div class="svn-wrapper clear">
      <div class="svn-content foo">
        <div class="svn-content_no right">02</div>
        <div class="content_container">
          <div class="html5videohere yellow-box" style="background-image: url('{{ page.video_hero_img }}');">
            <div class="svn-video-overlay">
              <div class="video-container">

                <!-- SVG Close (X) Icon -->
                <i class="fa fa-times html5-close" aria-hidden="true"></i>

                <!-- Embedded video -->
                <iframe id="video" src="{{ page.video_url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

              </div>
            </div>
            <div class="svn-play-btn">
              <span class="play" id="video-fullscreen"></span>
            </div>
          </div>
          
          {% include caption.html caption_title="02. Something Bold" caption_text="Type something of interest here, just some filler shxt, no one cares what this says anyway.  Just keep on typing, get it?!" %}
        </div>
      </div>
    </div><!-- .svn-wrapper -->
  </section><!-- .section-bg -->