<div class="topbar_section" id="top">
    <div class="grid">
        <div class="frow justify-between">
            <div class="topbar_title topbar_mobile">
                <a href="/newsletter">Subscribe to our newsletter</a>
            </div>
            <div class="topbar_mobile">
                <a href="/assets/PACKAGES_SUMMER2018.pdf" class="topbar_link" target="_blank">
                    <div class="topbar_cta">
                        VIEW SUMMER 2018 PACKAGES
                    </div>
                </a>
                <!-- <a href="#" class="topbar_link">
                    <div class="topbar_cta">
                        sign up
                    </div>
                </a> -->


            </div>


        </div>

    </div>
</div>
