<div class="topbar_section">
    <div class="grid">
        <div class="frow justify-between">
            <div class="topbar_title topbar_mobile">
                <a href="/newsletter">Subscribe to our newsletter</a>
            </div>
            <div class="topbar_mobile">
                <a href="/assets/PACKAGES_SUMMER2018.pdf" class="topbar_link" target="_blank">
                    <div class="topbar_cta">
                        VIEW SUMMER 2018 PACKAGES
                    </div>
                </a>
                <!-- <a href="#" class="topbar_link">
                    <div class="topbar_cta">
                        sign up
                    </div>
                </a> -->
                <!-- Start Square Appointments Embed code --> <a target="_top" class="book_cta" style="color: white; text-transform: uppercase; font-family:'Montserrat', sans-serif; font-weight: 700; font-size: 11px; cursor: pointer; display: table-cell;" href="https://squareup.com/appointments/book/232X2JNPCNA88/svncrwns-baltimore-md" rel="nofollow">Book an Appointment</a> <!-- End Square Appointments Embed code -->

            </div>


        </div>

    </div>
</div>
