<div id="menu-container">
  <div id="nav-icon1">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <!-- <button id="overlay-menu" type="button" class="menuButton">
    <div class="menu-txt">&equiv;</div>
  </button> -->
</div>
<div class="overlay overlay-data">


  <!-- <button type="button" class="overlay-close"><img src="/assets/images/close-icon.png"/></button> -->
  <div class="overlay_container clear">
    
      <div class="frow centered">
        
        <nav>
          <div class="menu_title">menu</div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/what-we-do">What We Do</a></li>
            <li><a href="{{ site.baseurl }}/featured">featured</a></li>
            <li><a href="{{ site.baseurl }}/catalog">catalog</a></li>
            <li><a href="{{ site.baseurl }}/partners-and-clients">partners&amp;<br/>clients</a></li>
            <!-- <li><a href="{{ site.baseurl }}/our-story">our story</a></li> -->
            <li><a href="{{ site.baseurl }}/contact">contact</a></li>
            <li><a href="{{ site.baseurl }}/opportunities">opportunities</a></li>
          </ul>
        </nav>
      </div>
    </div>  
  </div>
</div>