<div id="menu-container">

    <!-- <button id="phase1-overlay-menu" type="button" class="phase1_menu_btn">
        <div class="">
            <img src="/assets/images/icon-menu-black.png" />
        </div>
    </button> -->
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            <!-- <span class="hamburger-label">Menu</span> -->
        </span>
    </button>
</div>

<div class="overlay overlay-data">

    <div class="grid">
        <div class="frow justify-between">
            <div class="menu_crown">
                <a href="/"><img src="/assets/images/crown-white.png" width="35" /></a>
            </div>
            <!-- <button type="button" class="phase1-overlay-close" id="">
                <img src="/assets/images/big_close_transparent.png"/>
            </button> -->

        </div>
    </div>

    <div class="overlay_container clear">
        <nav>
            <div class="grid">

                <div class="menu_group">
                    <div class="menu_title">menu</div>
                    <ul>
                        {% for item in site.data.menu_list %}
                        <li>
                            <a href="{{ item.menu_link }}">{{ item.menu_item }}</a>
                        </li>
                        {% endfor %}


                        <li>
                            <a href="/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="spacer_small">&nbsp;</div>

                <div class="spacer_small">&nbsp;</div>

                <div class="menu_group">
                    <div class="menu_title">all work</div>
                    <div class="menu_title">season iv  <span>(2018)</span></div>
                    <ul>
                        {% assign season_4 = site.catalog | where: "season", "4" %}
                        {% for work in season_4 %}
                        <li><a href="{{ work.url }}">{{ work.title }}</a></li>
                        {% endfor %} <br  />
                    </ul>
                </div>
                <div class="menu_group">
                    <div class="menu_title">season iii  <span>(2017)</span></div>
                    <ul>
                        {% assign season_3 = site.catalog | where: "season", "3" %}
                        {% for work in season_3 %}
                        <li><a href="{{ work.url }}">{{ work.title }}</a></li>
                        {% endfor %}<br/>
                    </ul>
                </div>
                <div class="menu_group">
                    <div class="menu_title">season ii <span>(2016)</span></div>
                    <ul>
                        {% assign season_2 = site.catalog | where: "season", "2" %}
                        {% for work in season_2 %}
                        <li><a href="{{ work.url }}">{{ work.title }}</a></li>
                        {% endfor %}<br/>
                    </ul>
                </div>
                <div class="menu_group">

                    <div class="menu_title">season i <span>(2015)</span></div>
                    <ul>
                        {% assign season_1 = site.catalog | where: "season", "1" %}
                        {% for work in season_1 %}
                        <li><a href="{{ work.url }}">{{ work.title }}</a></li>
                        {% endfor %}<br/>
                    </ul>
                </div>
            </div>

        </nav>
    </div>
</div>
