<footer class="phase1-site-footer">
    <div class="frow justify-between">
        <div class="left_footer">
            <img src = "/assets/images/simple_crown_blk.png" width="25" />&nbsp;&nbsp;
            <div class="left_footer_copy">
                &copy;2015 &mdash; 2017. All Rights Reserved
            </div>
        </div>
        <div class="right_footer">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="mailto:hello@svncrwns.com">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Javascript Files -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<!-- Scripts -->
<script type="text/javascript" src="/javascript/phase1-main.js"></script>

{% unless page.layout == "test-lookbook-layout" or page.layout == "test-lookbook-slider" or page.layout == "bare-template" %}
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
{% endunless %}
