<footer class="phase1-site-footer">
    <div class="frow justify-between">
        <div class="left_footer">
            <img src = "/assets/images/simple_crown_blk.png" width="25" />&nbsp;&nbsp;
            <div class="left_footer_copy">
                &copy;2015 &mdash; 2018. All Rights Reserved
            </div>
        </div>
        <div class="right_footer">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="mailto:hello@svncrwns.com">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Javascript Files -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


<script type="text/javascript" src="https://use.fontawesome.com/d476a27cae.js"></script>

{% if page.layout == "phase1-slide" or page.layout == "phase1-slide-web" %}
<script type="text/javascript" src="/slick/slick.min.js"></script>
{% endif %}

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<!-- Scripts -->
<script type="text/javascript" src="/javascript/phase1-main.js"></script>
