<!-- Slide Components -->

<!-- Introduction Slide -->
  <div class="slide" id="intro-slide">
    <div class="slide-intro" style="background-image:url('{{ page.intro-slide_img }}');"></div>
    <div class="slide-intro_text">
      <div class="slide-intro_title">{{ page.intro-slide_title }}</div>
      <div class="slide-intro_copy">
        {{ page.intro-slide_copy }}
      </div>
    </div>
  </div>

  <!-- Three-Fold Slide -->
  <div class="slide" id="three-fold-slide">
    <div class="three-fold_slide" style="background-image:url('{{ page.three-fold-slide_img1 }}');"></div>
    <div class="three-fold_slide" style="background-image:url('{{ page.three-fold-slide_img2 }}');"></div>
    <div class="three-fold_slide" style="background-image:url('{{ page.three-fold-slide_img3 }}');"></div>
  </div>

  <!-- One in One Slide -->
  <div class="slide slide-bg" style="background-image: url('{{ page.one-in-one_img-cover }}');" id="one-in-one-slide">
    <div class="slide-inner" style="background-image: url('{{ page.one-in-one_img-inner }}');">
    </div>
  </div>
  

  <!-- Full Width Slide -->
  <div class="slide slide1" style="background-image: url('{{ page.full-width_img1 }}');" id="full-width-slide">
  </div>

  <!-- Two Plus One Slide -->
  <div class="slide" id="two-plus-one-slide">
      <div class="two-plus_slide" style="background-image: url('{{ page.twoplus_img1 }}');"></div>
      <div class="two-plus_slide" style="background-image: url('{{ page.twoplus_img2 }}');"></div>
      <div class="one-plus_slide" style="background-image: url('{{ page.oneplus_img3 }}');"></div>
  </div>

  <!-- Full Width Slide -->
  <div class="slide slide1" style="background-image: url('{{ page.full-width_img2 }}');" id="full-width-slide">
  </div>

  <!-- Fin Slide -->
  <div class="slide" id="fin-slide">
    <div class="slide-intro" style="background-image:url('{{ page.fin-slide_img }}');"></div>
    <div class="slide-intro_text">
      <div class="slide-intro_copy slide-fin_text">
        fin.
      </div>
    </div>
  </div>

  <!-- Credits Slide -->
  <div class="slide">
    <div class="slide_credits-wrapper">
      <div class="slide_title catalog_title-credit video">credits</div>
      <ul class="slide-credits_list">
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
            
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
            <li>montier kess</li>
            <li>montier kess</li>
            <li>montier kess</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>