<div class="crwns-wrapper clear">
	<div class="event_wrapper">
		<div class="font_size_lg uppercase">upcoming<br/>events</div>
		<div class="event_wrapper_inner uppercase clear">
			{% for event-item in site.data.upcoming-events %}
			<div class="font_size_micro event_item">
				{{ event-item.event_type }}<br/>
				<div class="font_standard uppercase">
					{{ event-item.project_name }}
				</div>
				{% if event-item.event_name %}
				{{ event-item.event_name }}<br/>
				{% endif %}
				{{ event-item.event_date_time }}<br>
				{% if event-item.event_url %}
				<a href="{{ event-item.event_url }}">{{ event-item.event_url_name }}</a>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>