<!-- 2col_right -->
<div class="home_wrapper">
	<div class="frow justify-between direction-reverse">
		
		<div class="featured_image"><img src="{{ include.featured-image }}" /></div>

		<div class="featured_copy">
			<div class="frow centered">
				<div class="column-end">
					<div class="catalog_featured_title {% if page.layout == "default" %} home_featured_title {% endif %}">
						{% if include.featured-url %}<a href="{{ include.url }}">{% endif %}
							{{ include.featured-title }}
						{% if include.featured-url %}</a>{% endif %}
						
					</div>
					<div class="project_copy">{{ include.featured-subtitle }}</div>

				</div>
			</div>
		</div>
	</div>
	{% 	include new_component_library/captions.html %}
</div>