<div class="frow justify-start">

	<div class="horizontal_img_wrapper">
		
	  	<div class="horizontal_img_prime">
	    	<div class="catalog_img-no svn-content_img-no-txt">{{ include.photo1-no }}</div>
	    	<img src="{{ include.photo1 }}" />

	    	<div class="horizontal_img_layer">
		    	<div class="catalog_img-no svn-content_img-no-txt">{{ include.photo2-no}}</div>
		    	<img src="{{ include.photo2 }}" />
		  	</div>
	  	</div>
	  
	  	

	</div>
</div>

{% include new_component_library/captions.html %}