<div class="svn_masthead_wrapper">
  
  <!-- Time + Location -->
  <div class="svn_masthead_section">
    <div class="frow justify-between">
      <div class="svn_masthead_item">{{ site.time | date: "%-m.%-d.%-y" }}</div>
      <div class="svn_masthead_item"><span id="clock"></span> <span>EST</span></div>
      <div class="svn_masthead_item">Baltimore</div>
    </div>
  </div>

  <!-- Masthead Content -->
  <div class="svn_masthead_content">
    <div class="frow centered-column">
      <div class="masthead_logo fade-in one">
        <img src="/assets/images/svn-logo-big.svg" class="masthead_logo_img" />
      </div>
    
      <div class="masthead_text fade-in two">a strategy &amp; production company</div>
      
      <ul class="masthead_list fade-in three">
        <li>ideate</li>
        <li>activate</li>
        <li>execute.</li>
      </ul>
    
      <div class="masthead_more fade-in three">
        <a href="#hero" class="masthead_more_link" />learn more<br/><img src="/assets/images/learn-more-icon.png" width="10" /></a>
      </div>
    </div>
  </div>
  <!-- #Masthead Content -->

</div>