<!-- <div class="page_wrapper">
	<div class="clear">
		<div class="title-container">
			<div class="title" id="home">{{ page.page_title }}.</div>
		</div>
	</div>
</div> -->	

<div class="page_wrapper title_wrapper">
	<div class="frow column-end cs-justify-content">
		<div class="title-container">
			<div class="title" id="home">{{ include.page_title }}.</div>
		</div>

		{% if include.page_subtitle %}
		<div class="title-container-subtitle">{{ include.page_subtitle }}</div>
		{% endif %}

		{% if include.project_subtitle %}
		<div class="title-container-subtitle">{{ include.project_subtitle }}</div>
		{% endif %}

	</div>
</div>
