<!-- Primary Hero -->
<section class="svn-wrapper margintop75">
	<div class="svn-big-logo-wrapper clear">
  		<img src="/assets/images/svn-logo-big.svg" class="svn-big-logo" />
	</div>
	<div class="svn-primary-hero" style="background-image: url('{{ include.primary_hero }}');" id="primary-hero">

		{% if include.primary_title %}
		<div class="frow centered">
			<ul class="primary-list">
				<li>film</li>
				<li>fashion</li>
				<li>lifestyle</li>
			</ul>
		</div>
		{% endif %}
		
	</div>
</section>
<!-- #Primary Hero -->