<section class="svn-wrapper">
	<div class="section-menu-wrapper">
		<div class="section-menu-title">menu</div>
		<div class="frow centered">
			<div class="col-xs-1-1 col-sm-1-2">
				<ul class="section-menu-list">
					<li><a href="/">home</a></li>
					<li><a href="/featured">featured</a></li>
					<li><a href="/catalog">catalog</a></li>
					<li><a href="/opportunities">opportunities</a></li>
				</ul>
			</div>
			<div class="col-xs-1-1 col-sm-1-2">
				<ul class="section-menu-list">
					<li><a href="/partners-and-clients">partners&amp;clients</a></li>
					<li><a href="/what-we-do">what we do</a></li>
					<li><a href="/contact">connect with us</a></li>
					<li><!-- <a href="/privacy-policy">privacy policy</a> --></li>
				</ul>
			</div>
		</div>
	</div>
</section>