<div id="slider">
  <a href="#" class="control_next"><img src="/assets/images/slide-right.png" width="25" /></a>
  <a href="#" class="control_prev"><img src="/assets/images/slide-left.png" width="25" /></a>
  <ul>
    <li class="slide-film-img" style="background-image: url('{{ include.slide1 }}');"></li>
    <li class="slide-film-img" style="background-image: url('{{ include.slide2 }}');"></li>
    <li class="slide-film-img" style="background-image: url('{{ include.slide3 }}');"></li>
    <li class="slide-film-img" style="background-image: url('{{ include.slide4 }}');"></li>
  </ul>  
</div>