<div class="page_wrapper">
<div class="frow column-end">
	<div class="subscribe-wrapper">
		<div class="frow column-end">
		<div class="subscribe-content">
		<div class="subscribe-title">{{ include.title }}</div>
		<div class="subscribe-text">{{ include.text }}</div>
		<div class="subscribe-mailchimp-wrapper">
		<!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{
              background:#fff; 
              clear:left; 
              font:14px Helvetica,Arial,sans-serif; 
              margin-top: 10px;
            }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            #mc_embed_signup_opps {
              background: transparent !important;

            }
            @media screen and (min-width:750px){
            	#mc_embed_signup_opps {
            		width: 75%;
            		float: right;
            	}
            }
            #mc_embed_signup_opps input.email {
            float: right;
            margin: 0 0 10px 0;
            border-radius: 0;
            border-color: #000000 !important;
            width: 90% !important;
            min-height: 50px !important;
            font-size: 20px;
            color: #000 !important;
            
            background-color: transparent;
            padding-left: 15px;
            }
            @media screen and (min-width: 750px) {
              #mc_embed_signup_opps input.email {
                width: 100% !important;
                min-width: 420px !important;
              }
            }
            #mc_embed_signup_opps input::placeholder {
            color: rgba(0,0,0,0.35);
            }
            #mc_embed_signup_opps input.button {
            float: right;
            border-radius: 0;
            color: #000;
            border: 1px solid #000;
            background: transparent;
            font-size: 14px;
            height: 37px;
            line-height: 24px;
            min-width: 90px;
            /*width: 10px;*/
            margin: 0;
            }
            #mc_embed_signup_opps input.button:hover {
            background: #000;
            color: #fff;
            transition: 0.5s;
            }
            #mc_embed_signup_opps form {
            padding: 0;
            }
          </style>
          <div id="mc_embed_signup_opps">
            <form action="//svncrwns.us11.list-manage.com/subscribe/post?u=ab04d0cabec9aa1f49ca3e65e&amp;id=2fe748f030" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
              
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab04d0cabec9aa1f49ca3e65e_2fe748f030" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="DONE." name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
          </div>

          <!--End mc_embed_signup-->
		</div>
		</div>
		</div>
	</div>
</div>
</div>