<section style="background-color: {{ include.testimonial_bg }};">
<div class="testimonial-wrapper">
	<div class="testimonial-title">a word from our community</div>

	{% for items in site.data.[include.testimonial_list] %}
	<div class="testimonial-items-wrapper">
		<div class="testimonial-text">{{ items.testimonial_text }}</div>
		<div class="testimonial-author">{{ items.testimonial_author }}</div>
		<div class="spacer1x"></div>
		<div class="testimonial-title"><a href="{{ items.link_url }}" class="post-link">learn more about this project</a></div>
	</div>
	{% endfor %}

</div>
</section>