@import 'helper/mixins';
@import 'helper/media_queries';
@import 'helper/variables';
@import 'helper/settings';

*, *:before, *:after {
  box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: $font-brand3;
  font-size: $base-font-size;
  line-height: $line-height;
  font-weight: 300;
  color: $off-black !important;
  background-color: $off-white;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

ul, li {
  list-style: none;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
* Links
**/
// a {
//   color: $off-black;
//   text-decoration: none;

//   &:visited {
//     color: darken($off-black, 15%);
//   }

//   &:hover {
//     color: $off-black;
//     border-bottom: 1px solid;
//     cursor: url('/dist/images/cursor-circle.png'), auto;
//   }
// }
// a.no-line {
//   &:hover {
//     border-bottom: 0;
//   }
// }

/**
 * Clearfix
**/
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
