@font-face {
  font-family: 'League Spartan';
  src: url('/assets/fonts/leaguespartan-bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/leaguespartan-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('/assets/fonts/leaguespartan-bold.woff2') format('woff2'), /* Super Modern Browsers */
      url('/assets/fonts/leaguespartan-bold.woff') format('woff'), /* Pretty Modern Browsers */
      url('/assets/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg'); /* Legacy iOS */
      font-weight: bold;
      font-style: normal;
}

/* ----- TOC -----

PreLoader
Header & Overlay Menu
Wrappers
Hero
Background meta and images
Reusable classes
Section 01
Section 02 Artist's Note
Section 03
Section 04 Featured Work
Section 05

----- #TOC ----- */

/* PreLoader */

/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { 
  display: block; 
  position: absolute; 
  left: 100px; 
  top: 0; 
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/assets/images/Preloader_21.gif) center no-repeat #fff;
}

/* No Scroll w/ Overlay Present */
body.noScroll {
  overflow: hidden;
}

/* Header & Overlay Menu */
#menu-container { 
  position: relative; 
  height: 60px; 
  width: 80px; 
  display: block; 
  text-align: center; 
  margin: 0 auto;
  @include tablet { 
    float: left; 
    text-align: none;
    margin: none;
  }
}
.menuButton { 
  text-indent: 0; 
  color: #fff; 
  font-size: 3em; 
  position: relative; 
  background: url("/assets/images/crown-logo.svg") no-repeat center center; 
  background-size: cover; 
  width: 75%; 
  height: 75%; 
  border: none; 
}
.menuButton:hover { 
  background: url("/assets/images/crown-logo-brand2.svg") no-repeat center center; 
  background-size: cover; 
  -o-transition:.75s;
  -ms-transition:.75s; 
  -moz-transition:.75s; 
  -webkit-transition:.75s; 
  transition:.75s;
}
.menuButton:active { 
  position: relative; 
  top: 1px; 
}
.menu-text {
  display: none;
}
.menu-icons img { 
  width: 5%; 
}
#overlay-menu { 
  margin: 0.2em; 
}
.overlay { 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
/*  background: rgba(201,164,67,0.95); */
  background-image: url('/assets/images/overlay-bg.png');
  background-size: cover;
  background-position: bottom left;
  z-index: 500; 
}
.overlay nav { 
  position: absolute;
  bottom: 50px;
  padding-right: 1em;
  text-align: right;
  width: 100%;
}
.overlay ul { 
  list-style: none; 
  padding: 0; 
  margin: 0 auto; 
  display: inline-block;
  height: 100%; 
  position: relative; 
}
.overlay ul li { 
  height: 25%; 
  padding: 0; 
  margin:0; 
  width: 100%;
}
.overlay ul li a { 
  text-decoration: none; 
  color: #fff; 
  letter-spacing: 2px; 
  font-family: $brand-font;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 44px;
  @include tablet {
    font-size: 70px;
    line-height: 70px;
  }
}
.overlay ul li a:hover { 
  /*color: #6F5723;*/ 
  color: #b5aa36;
}
.overlay-close { 
  width: 35px; 
  height: 30px; 
  position: absolute; 
  right: 10px; 
  top: 10px; 
  overflow: hidden; 
  border: none; 
  background: url('/assets/images/close-v3.png') no-repeat center center; 
  background-size: contain; 
  text-indent: 200%; 
  color: transparent; 
  outline: none; 
  z-index: 100; 
}
.overlay-data { 
  opacity: 0; 
  visibility: hidden; 
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s; 
  transition: opacity 0.5s, visibility 0s 0.5s; 
}
.overlay-open { 
  opacity: 1; 
  visibility: visible; 
  -webkit-transition: opacity 0.5s; 
  transition: opacity 0.5s; 
}
.header-row { 
  width: 100%; 
  height: auto; 
  display: inline-block; 
  float: left; 
  position: relative; 
}
.logo { 
  display: none; 
  float: right; 
  padding: .5em;
  z-index: 999;
  
  @include tablet { 
    display: block; 
  }
}
.logo-img {
  width: 7em;
}

/* Wrappers */
.svn-wrapper { 
  width: 300px; 
  padding: 2em 0; 
  margin: 0 auto;
  
  @include palm-mid { 
    width: 450px; 
  }
  @include tablet { 
    width: 600px; 
    padding: 0;
  }
  @include laptop { 
    width: 800px; 
  }
}
.hero-wrapper { 
  margin: 0.5em 5em;
  @include tablet { 
    margin: 0em 1em; 
  }
}

/* Hero */
.fullpage { 
  position: relative; 
  width: 100%; 
  @include desktop-blah { 
    width: 1100px; 
    margin: 0 auto; 
  }
  @include tv { 
    width: 1300px; 
  }
}
.hero-section { 
  z-index: 3; 
  position: relative; 
}
.hero-prop { 
  margin: 0.5em 2em 2em 2em;
  @include tablet {
    margin: 3.5em;
  } 
  @include laptop { 
    margin: 2.5em 3.5em 2em; 
  }
}
.hero-icon { 
  position: absolute; 
  top: 20em; 
  /*text-align: center; */
  width: 100px; 
  height: 77px; 
  margin: auto; 
  right: 0; 
  left: 0;
  @include palm-mid {
    top: 22.5em;
  }
  @include tablet {
    top: 18em;
  }
  @include laptop {
    top: 20em; 
  }
}
.hero-right-image { 
  background-image: url('/assets/images/drive.jpg'); 
}
.hero-left-image { 
  background-image: url('/assets/images/person.jpg'); 
}
.hero-bg { 
  background-size: cover; 
  background-position: bottom right; 
  background-repeat: no-repeat; 
  width: 100%; 
  height: calc(50vh - 85px); 
  @include palm-mid { 
    height: calc(55vh - 95px); 
  }
  @include tablet { 
    width: 50%; 
    float: left; 
    height: calc(90vh - 100px); 
  }
  @include tv { 
    height: 100vh; 
  }
}
.huge-hero-logo { 
  position: relative; 
  z-index: 2; 
  bottom: 4em; 
  padding: .5em; 
  text-align: right;
}
.hero-logo_img { 
  width: 70%; 
  @include laptop { 
    width: 40%; 
  }
}
.backtop-icon { 
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.55);
  padding: 0.4em 0.8em;
  background: white;
  position: fixed;
  bottom: 2em; 
  right: 0em;
  z-index: 200;
  border-radius: 34px;
  margin-right: 0.3em;
 }
 .backtop-icon:hover {
  background: black;
 }
 .backtop-icon a:hover, .backtop-icon:hover a {
  color: white;
 }

/* Background meta and images */
.section-bg { 
  background-size: cover; 
  background-position: center center; 
  width: 100%; 
  z-index: 2; 
  position: relative;
  @include tablet { 
    padding: 4em 0;
  }
}
.section01-bg-image { 
  background-image: url('/assets/images/geostairs.jpg'); 
}
.section03-bg-img { 
  background: url('/assets/images/white.jpg') no-repeat center center / cover;
}
.section-03-img2-prop { 
  top: -3em; 
  padding-left: 1em; 
  width: 65%; 
  position: relative;
  @include palm-mid { 
    top: -5em; 
    left: 1em; 
  }
  @include tablet { 
    width: 45%; 
    padding-left: 0; 
    left: 3em; 
  }
}
.section-05-img3-prop { 
  top: -2em; 
  width: 85%; 
  margin: 0 auto;

  @include palm-mid { 
    top: -4em; 
  }
  @include laptop { 
    top: -7em; 
  }
}

/* Content Specific Classes */
.svn-content { 
  position: relative; 
  background: $color-white;
  @include tablet { 
    float: left;
    clear: both;
    width: 100%;
  }
}
.svn-content_no { 
  position: relative; 
  padding: 1em 0.5em; 
  font-family: $alt-font-1; 
  font-size: $section-number-font-size; 
  color: $brand-color; 
  @include palm-mid { 
    padding: .5em; 
  }
  @include laptop { 
    padding: .5em 1.5em 1em; 
  }
}
.svn-content_no.right { 
  text-align: right; 
}
.svn-content_no-featured { 
  text-align: center; 
  color: black; 
  padding: 0 0 2.5em; 
}
.alt-color { 
  color: $primary-color; 
}
.svn-content_contain-img { 
  width: 85%; 
  margin: 0 auto; 
  position: relative; 
  text-align: center;
}
.svn-content_img-no { 
  position: absolute; 
  z-index: 5; 
  padding: 1em; 
  right: 0; 
}
.svn-content_img-no.left {
  text-align: left; 
  left: 15px;
}
.svn-content_img-no-txt { 
  color: #fff; 
  font-family: $brand-font; 
  font-size: 14px; 
}
.svn-content_contain-txt { 
  position: relative; 
  top: -0.5em; 
  padding-right: 0.3em; 
  margin: 0 auto; 
  width:75%;
  @include palm-mid { 
    width: 80%; 
  }
}
.svn-content_headline { 
  text-align: right; 
  font-size: 1.7em; 
  font-family: $brand-font; 
  line-height: 1.3em; 
  text-decoration: underline; 
  color: $brand-color;
  text-shadow: 3px 3px rgba(111,87,35,0.3);
  @include palm-mid { 
    font-size: 2.3em; 
  }
}
.svn-content_contain-caption { 
  position: relative; 
  width: 90%; 
  padding: 1.5em;
  @include palm-mid { 
    width: 75%; 
  }
  @include tablet { 
    clear: both; 
    padding: 7em 0 1em;
    width: 40%;
    float: right;
    display: inline-block;
    margin-right: 1.5em;
  }
  @include laptop { 
    width: 35%; 
  }
}
.close-caption {
  padding-top: 2em;
}
.svn-content_caption-sm { 
  font-size: 9px; 
  @include tablet {  
    display: block;
  }
}
.svn-content_caption-title { 
  font-size: 12px; 
  text-transform: uppercase; 
  font-weight: bold; 
  @include tablet { 
    font-size: 9px;
  }
}
.svn-caption_spacer { 
  height: 1em; 
  @include tablet { 
    clear: both; 
  }
}

/* Section 1 */
.svn-special_one { 
  @include tablet { 
    width: 60%; 
    margin: auto; 
    float: right; 
    right: 1.5em; 
  }
}
.svn-special_one-text { 
  @include tablet {
    clear: both; 
    position: absolute; 
    width: 58%; 
    top: 3.2em; 
    padding: .2em; 
  }
  @include laptop { 
    width: 45%; 
    top: 4.5em;
  }
}

/* Section 2 */
.svn-content_contain-note { 
  position: relative; 
  font-family: $alt-font-1; 
}
.svn-content_note-date { 
  text-align: center; 
  font-size: 2.5em; 
  color: rgba(155,155,155, 0.45); 
}
.svn-content_note-issue { 
  text-transform: uppercase; 
  position: relative; 
  top: -2.4em; 
  z-index: 200; 
  text-align: center;
}
.svn-content_note-title { 
  font-size: 3.2em; 
  font-family: $alt-font-1; 
  text-align: center; 
  text-transform: uppercase;
  opacity: .26; 
  position: relative;
  top: 0em; 
  line-height: 1em; 
  @include tablet { 
    font-size: 6em; 
    line-height: 1.1em; 
  }
}
.note-title-alt-color { 
  @include brandcolortext; 
  font-size: 85px; 
  @include palm-mid { font-size: 2em; }
  @include tablet { font-size: 1.7em; }
}
.svn-content_note-text p { 
  font-size: 0.9em; 
  text-align: center; 
  padding-top: 2em; 
  position: relative; 
  padding-bottom: 1em; 
  width: 85%; 
  margin: 0 auto; 
  line-height: 2em;
  @include palm-mid { 
    font-size: 1.2em; 
    line-height: 1.8em; 
  }
  @include tablet { 
    width: 50%; 
    float: left; 
    padding-left: 1em; 
  }
}
.svn-content_note-salutation { 
  position: relative; 
  padding: 1em 0; 
  text-transform: uppercase; 
  text-align: center; 
  color: #4a4a4a; 
  font-weight: lighter; 
  @include tablet { 
    text-align: right; 
    padding: 3em 0; 
  }
}
.note-author { 
  display: block; 
  font-style: normal; 
  font-weight: bolder; 
  letter-spacing: -1px; 
  padding-top: .3em; 
}

/* Section 03 */
.image-set { 
  position: relative; 
}
.svn-content_img1 { 
  width: 80%; 
  margin: 0 auto; 
  top: 1em; 
  position: relative; 
}
.svn-special_three-a {
  @include tablet { 
    width: 55%; 
    left: -2em; 
  }
}
.svn-special_three-text {
  @include tablet { 
    width: 60%; 
    position: absolute; 
    top: 7em; 
    right: 0; 
    padding: .2em; 
  } 
  @include laptop { 
    width: 45%; 
    top: 8em;
  }
}
.reel {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
/*.reel iframe, 
.reel object, 
.reel embed {
  position:absolute;
  top:0;
  left:0;
  right: 0;
  text-align: center;
  margin: auto;
  width:90%;
  height:100%;
}

.reel .overlay{
    position: absolute;
    width: 100%;
    height:100%;
    background:#000;
    opacity:0.5;
    z-index:999;
}

.reel .overlay .text-container{
    width:100%;
    text-align:center;
}

.reel .overlay .text-container h1{
    color:#FFF;
    text-transform:uppercase;
}*/
.yellow-box {
  width: 90%;
  height: 400px;
  position: relative;
  /*background: yellow;*/
  background-image: url('/assets/images/whitebark.jpg');
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-display: flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  @include palm-mid {
    height: 550px;
  }
}
.html5videohere {
  position: relative;
}
/* Fullscreen Overlay */
.svn-video-overlay {
  width: 100%;
  /*height: 100vh; remove this temporarily */
  /* 50% opacity black */
  background: rgba(0,0,0,.5);
  /* Stays locked on scroll */
 /* position: fixed;*/
  position: absolute;
  /* On top of the rest*/
  z-index: 5;
  /* Hidden */
  opacity: 0;
  /* No interference */
  left: -100%;
  /* CSS3 Transition */
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}
.play {
  width: 70px;
  height: 70px;
  background: #222;
  display: block;
  margin: 0 auto;
  /* Important for :after */
  position: relative;
  /* Makes a circle */
  border-radius: 50%;
}
.play:hover {
  background: #333;
  cursor: pointer;
}
.play:after {
  position: absolute;
  content: "";
  /* Centering */
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left:  -8px;
  /* CSS Triangle */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #ffffff;
}

/* 90% width container */
.video-container {
  width: 90%;
  /* Centering */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.html5-close {
  width: 20px;
  /*fill: white;*/
  position: absolute;
  color: red;
  right: 0;
  /* Bring above video */
  top: -30px;
}
.html5-close:hover {
  /* 50% opacity white */
  fill: rgba(255,255,255,0.5);
  cursor: pointer;
}
/* Class to fade in overlay */
.html5-show {
  opacity: 1;
}


/* Section 04 */
.svn-content_col {
  @include tablet { margin-bottom: 5em; }
}
.svn-content_bg { 
  background: white; 
  margin: 1em;

  @include palm-mid { margin: 3em; }
  @include tablet { margin: 5em; }
  @include laptop { margin: 2em 10em; }
}
.featured-category { 
  font-size: 0.8em; 
  text-transform: uppercase; 
  font-weight: bold; 
  padding: 1.3em 0; 
  text-align: center;

  @include tablet { padding: 2em 0; }
}
.featured-title { 
  font-family: $alt-font-1; 
  text-transform: uppercase; 
  font-size: 1.5em; 
  padding: 1.5em 0; 
  text-align: center;
  @include palm-mid { 
    padding: .5em 0 2em; 
    font-size: 2.3em; 
    line-height: 1em; 
    width: 77%; 
    margin: 0 auto; 
  }
  @include tablet { font-size: 3em; }
}
.featured-text p { 
  text-align: center; 
  padding-bottom: 3em;
  @include palm-mid { 
    font-size: 1.2em; 
    line-height: 1.8em;
  }
  @include tablet { padding-bottom: 2em; }
}
.featured-button-text { 
  font-size: 0.7em; 
  font-family: $alt-font-1; 
  text-align: center;

  @include tablet { font-size: 1em; }
}
.featured-button-text a { 
  font-size: 1.5em; 
  text-decoration: none; 
  color: black; 
  border-bottom: 2px solid $brand-color-2; 
  padding-bottom: 0.5em; 
}
.featured-button-text a:hover { border-color: black; }

/* Section 05 */
.svn-content_img-no.small { padding: .4em; }
.svn-special_five-text {
  @include tablet { 
    width: 60%; 
    right: -2.5em; 
  }
  @include laptop { 
    width: 45%; 
    right: -4.5em;
    top: -2.5em;
  }
}

/* Media Queries Used */

/*
palm-mid = 500
tablet = 700
laptop = 900
*/