/**
 * Site header
 */
/*.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}*/



/**
 * Site footer
 */
/*.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}*/



/**
 * Page content
 */
/*.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
*/


/**
 * Posts
 */
/*.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}*/
/*
.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}*/


/* BG properties and images */
.hero-bg { background-size: cover; background-position: center center; width: 100%; height: 40vh; }

.hero-left-image { background-image: url('/assets/images/hero-left-image.png'); }
.hero-right-image { background-image: url('/assets/images/hero-right-image.png'); }
.section01-bg-image { background-image: url('/assets/images/section-01-bg.png'); }
/* #BG properties and images */


/* Header */
.header-row { width: 100%; height: auto; display: inline-block; float: left; position: relative; background-color: $white-bg; }
.icon { float: left; padding: 1em;}
.logo { float: right; padding: 1em; }
/* #Header */


/* Section */
.fullpage { height: 100vh; width: 100%; }

.hero-section { margin: 0 2.5em; z-index: 3; position: relative;}
.hero-section-alt { margin: 0 1em; }
.huge-hero-logo { position: absolute; z-index: 2; bottom: 1em; padding: .5em; }
.hero-icon { position: absolute; top: 48%; right: 42%; }

.section-bg { background-size: cover; background-position: center center; height: 100vh; width: 100%; z-index: 2;}
.content-fill { height: 90vh; z-index: 4; position: relative; background: $background-color; top: 2em;}
.section-identifier { position: relative; padding: .2em; font-family: $alt-font-1; font-size: $section-number-font-size; color: $brand-color;}
.section-text {     text-align: right;
    width: 80%;
    padding-left: 1.4em;
    font-size: 20px;
    font-family: 'Maison Neue', Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 900;
    text-decoration: underline; }
.image-caption { font-size: 6px;
    width: 45%;
    float: right;
    position: relative;
    top: 9em;
    right: 2em;
 }

 .image-caption-title {     font-size: 8px;
    text-transform: uppercase;
    font-weight: bold; }
/* #Section */


/* Dividers */
.divider { padding: 2.5em 0; width: 100%; }
/* #Dividers */


/* Misc */
.alt-color { color: $primary-color; }
.position-img-home-01 { margin: 0 1em; padding: 0 1.5em; }
.image-number-r { position: relative; z-index: 5; top: 2em; right: 1em; float: right; color: $image-number-color;
    font-family: $alt-font-1; font-size: $small-font-size; 
}
.control-image { width: 100%; }
.home-image1-prop { height: 260px; }
/* #Misc */


