/* ----- TOC -----

Reusable Code
Featured
Offerings
Catalog
Catalog Single
About
Journal
Journal Posts
Section 04 Featured Work
Section 05

----- #TOC ----- */

body.white {
    background-color: #fff;
}

/* Reusable Code */
.spacer-half { padding: .5em 0; }
.spacer1x {padding: 1em 0;}
.spacer2x { padding: 2em 0; }
.spacer3x { padding: 3em 0; }
.spacer3x2 {padding: 6em 0;}
.crwns-wrapper { 
  margin-right: 5%; 
  margin-left: 5%; 
  padding-right: $spacing-unit; 
  padding-left: $spacing-unit; 
  @extend %clearfix; 
    @include palm { 
      max-width: 400px; 
      margin: 0 auto; 
    }
    @include palm-mid { 
      max-width: 500px; 
      margin: 0 auto; 
      clear: both;
    }
    @include tablet { 
      max-width: 700px; 
      margin: 0 auto;
    }
    @include laptop { 
      max-width: 1024px; 
      margin: 0 auto;
    }
    @include desktop { 
      max-width: 1200px; 
      margin: 0 auto;
    }
}


/* Featured */
.video-hero { 
    height: 75vh; 
    position: relative; 
    z-index: 200;
}
.video-bg { 
    background-image: url('/assets/images/test.gif'); 
}
.title-container { 
    text-align: center; 
}
.title { 
    text-transform: uppercase; 
    letter-spacing: 6px;
    font-family: $brand-font;
}
.title-icon { 
    width: 3em; 
    margin: 0 auto 20px; 
    display: none;
    @include tablet { 
        display: block; 
    }
}
.box-hero { 
    width: auto; 
    position: relative;
}
.box-hero__img { 
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 3px 3px 13px #000;
    @include tablet { 
        width: 65%; 
        float: left;
    }
}
.box-hero__text { 
    width: 100%; 
    @include tablet { 
        width: 34%; 
        float: left; 
        padding-top: 1.5em; 
    }
    @include desktop { 
        padding-top: 6.5em; 
    }
}
.box-hero__text--date { 
    font-size: 10px; 
    text-transform: uppercase; 
    letter-spacing: 4px; 
    @include laptop { 
        font-size: 12px; 
    }
}
.box-hero__text--date-position { 
    position: relative; 
    transform: rotate(-90deg); 
    transform-origin: left top 0; 
    left: -1.6em; 
    top: 0em; 
    @include tablet { 
        transform: none; 
        transform-origin: none; 
        left: 1em; 
        top: 2.8em;
    }
    @include laptop { 
        top: 3.5em; 
        left: 1em;
    }
    @include desktop { top: 0em; left: 1em; }
}
.box-hero__text--title, 
.box-hero__text--title-r { 
    width: 100%;
    text-align: center;
    @include tablet { 
        position: relative; 
        padding-top: 2.7em;  
        line-height: 40px; 
        left: -2em;
        text-align: left;
    }
    @include laptop { 
        left: -2.5em; 
        padding-top: 3.3em; 
    }
    @include desktop { 
        left: -4.5em; 
        padding-top: 0.3em;
    }
}
 .box-hero__text--title-v2 { 
    text-align: center; 
    margin: 0 auto; 
    left: 0; 
    right: 0; 
    padding-top: 1em; 
    width: 100%;
    @include mobile-mid { 
        width: 65%; 
    }
    @include laptop { 
        width: 40%; 
    }
}
.box-hero__text--content { 
    font-family: $brand-font; 
    font-size: 14px; 
    padding-top: 1em; 
    width: 95%;
    text-align: center;
    margin: 0 auto;
    line-height: 24px;
    @include tablet { 
        position: relative; 
        width: 90%; 
        padding-top: 1em; 
        left: 0em;
        text-align: left;
    }
    @include laptop { 
        font-size: 14px; 
        padding-top: 1em; 
    }
}
.brand-link a { 
    font-size: 36px; 
    color: $brand-color; 
    text-decoration: none; 
    font-family: $alt-font-1; 
    line-height: .9em; 
    @include tablet { 
        font-size: 35px; 
        text-decoration: underline;
    }
    @include laptop { 
        font-size: 44px; 
    }
}
.brand-link a:hover { 
    color: #745c1c; 
}
.box-hero__img--right { 
    @include tablet {
        float: right; 
    }
}
.box-hero--right { 
    @include tablet {
        text-align: right; 
        left: .5em; 
        float: right;
    }
}
.box-hero__text--data-position-r { 
    float: left;
}
.box-hero__text--content-r { 
    float: left; 
    left: 1em; 
}
.box-hero__text--title-r { 
    @include tablet { 
        left: 3.2em !important; 
        padding-top: 3.8em; 
        padding-bottom: 1em; 
    }
    @include laptop { 
        left: 4.9em !important;  
        padding-top: 4.3em !important;
    }
    @include desktop { 
        left: 6.9em !important; 
        padding-top: 2em !important;
    }
}
.year { 
    font-weight: bold; 
    font-size: 14px; 
}
.padbot20 { 
    padding-bottom: 5em; 
}


/* Offerings */
.offerings-bg { 
    background-image: url('https://dl.dropboxusercontent.com/u/12644668/shoes.jpg'); 
}
.offerings-hero { 
    height: 80vh; 
    padding: 0; 
}
.offerings-block-white { 
    color: white !important; 
}
.secondary-link a { 
    font-size: 30px; 
    color: black; 
    text-decoration: none; 
    text-transform: uppercase;
    @include mobile-mid { 
        font-size: 40px; 
    }
    @include pad { 
        font-size: 50px; 
    }
    @include laptop { 
        font-size: 60px; 
    }
}


/* Catalog */
.catalog-link a { 
    font-size: 1.2em; 
    font-family: $brand-font; 
    text-align: center; 
    @include palm { 
        font-size: 1.8em; 
    }
}
.martop-catalog:first-child { 
    margin-top: 2em;
    @include mobile-mid { 
        margin-top: 3em; 
    }
}
.martop-catalog { 
    @include mobile-mid { 
        margin: 0.5em 0; 
    }
}
.box-hero-v2 { 
    margin-top: 2em; 
    @include mobile-mid { 
        margin-top: 2em; 
    }
}


/* Catalog Single */
.catalog-content { 
    margin-top: 2em; 
}
.catalog-hero { 
    position: relative; 
}
.catalog-hero1 { 
    @include palm-mid { 
        width: 80%; 
    }
    @include tablet { 
        width: 90%; 
    }
}
.catalog-hero2 { 
    width: 65%; 
    margin-top: -4em; 
    left: 5em; 
    @include palm-mid { 
        width: 60%; 
        margin-top: -6em; 
        left: 12em; 
    }
    @include tablet { 
        width: 70%; 
    }
    @include laptop { 
        margin-top: -10em; 
        left: 16em; 
    }
    @include desktop { 
        margin-top: -15em; 
        left: 18em; 
    }
}
.catalog-title_group { 
    text-align: center;  
    font-size: 1.5em; 
    @include palm-mid { 
        width: 40%; 
        float: right; 
        position: relative; 
    }
}
.catalog-title a { 
    font-family: $brand-font; 
    color: $brand-color; 
}
.catalog-date { 
    font-size: 0.6em; 
    padding: 0.5em 0; 
}
.catalog-credits_title { 
    font-family: $brand-font; 
    text-transform: uppercase; 
    font-size: 0.6em; 
    margin: 3em 0 1em; 
}
.catalog-credits_group { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    font-size: 0.7em; 
}
.catalog-credits_position { 
    font-size: 0.8em; 
}
.catalog-credits_artist { 
    font-family: $brand-font; 
    font-size: 0.8em; 
    text-transform: uppercase; 
    margin-bottom: 1.5em; 
}
.catalog-post_content { 
    font-size: 0.8em; 
    margin: 0 auto; 
    position: relative; 
    @include palm-mid { 
        width: 55%; 
        float: left; 
    }
    @include tablet { 
        font-size: 1.1em; 
    }
}
.catalog-post_content p { 
    padding-bottom: 1em; 
}
.catalog-video_title { 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
    padding: 1em 0; 
}
.catalog-video_content iframe { 
    width: 90%; 
}
.catalog-video_meta { 
    font-family: $brand-font;
    margin: 0 auto; 
}
.catalog-video_name { 
    padding: 2em 0 0; 
    border-bottom: 2px solid black; 
    width: 30%; 
}
.catalog-video_excerpt { 
    font-size: 0.8em; 
    width: 70%; 
    line-height: 1.8em; 
    margin-top: 2em; 
    @include tablet { 
        width: 55%; 
        font-size: 1.2em; 
    }
}
.catalog-photo { 
    padding: 1em; 
}
.catalog-photo_number-pos { 
    position: absolute; 
    padding: 1.5em; 
    @include palm-mid { 
        padding: 2em; 
    }
}
.catalog-testimonial_cover { 
    background-image: url("/assets/images/office.png"); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    @include palm { 
        padding: 2em 0; 
    }
}
.catalog-testimonial_group { 
    text-align: center; 
    color: white; 
    @include palm-mid { 
        margin-top: 4em; 
    }
}
.catalog-testimonial_title, .catalog-testimonial_author { 
    padding: 2em 0; 
    font-size: 0.6em; 
}
.catalog-testimonial_author { 
    width: 60%; 
    margin: 0 auto; 
}
.catalog-testimonial_text { 
    font-size: 1.2em;  
    font-family: $brand-font; 
    width: 80%; 
    margin: 0 auto; 
    padding: 2em 0;
    @include palm-mid { 
        font-size: 2em; 
        padding: 1em 0; 
    }
    @include laptop { 
        width: 55%; 
    }
}
.catalog-single-wrapper { 
    width: 90%; 
    margin: 0 auto; 
    position: relative; 
}
.catalog-primary_group { 
    margin-top: 2em; 
}
.catalog-hero_group { 
    width: 100%; 
    position: relative;  
    @include tablet { 
        padding-bottom: 2em; 
    }
}
.catalog-photo_group { 
    @include palm-mid { 
        width: 75%; 
    }
}
.catalog-caption {
    @include palm-mid { 
        width: 60%; 
        padding: 0.8em; 
        float: right; 
    }
    @include laptop { 
        width: 40%; 
    }
}


/* About */
.about-hero1 { 
    @include palm-mid { 
        width: 100%; 
    }
    @include tablet { 
        width: 90%; 
    }
}
.about-hero2 { 
    width: 50%; 
    margin-top: -4em; 
    left: 8em; 
    position: relative; 
    @include palm { 
        margin-top: -6em; 
        left: 11em; 
    }
    @include palm-mid { 
        left: 16em; 
        margin-top: -8em; 
    }
    @include tablet { 
        left: 22em; 
    }
    @include laptop { 
        width: 40%; 
        left: 30em; 
    }
    @include desktop { 
        left: 34em; 
    }
}
.about-title { 
    font-family: $brand-font; 
    color: $brand-color; 
    text-align: right; 
    font-size: 1.5em; 
    text-decoration: underline; 
    margin-top: 1em;
    @include palm { 
        font-size: 2.6em; 
        padding-bottom: 1.5em; 
    }
    @include palm-mid { 
        width: 50%; 
        margin-top: -4em; 
        font-size: 2.1em; 
    }
    @include tablet { 
        width: 40%; 
        margin-top: -6em; 
        font-size: 2.5em; 
    }
    @include desktop { 
        font-size: 3.5em;  
    }
}
.about-content_title { 
    text-align: center; 
    text-transform: uppercase; 
    font-family: $brand-font; 
    padding: 4em 0; 
    letter-spacing: 2px;
}
.about-content_text p { 
    font-size: 0.9em; 
    @include palm-mid { 
        width: 75%; 
        margin: 0 auto; 
        padding-bottom: 2em; 
        font-size: 1.1em; 
    }
    @include tablet { 
        width: 60%; 
    }
    @include desktop { 
        width: 45%; 
    }
}
.about-middle-hero1 {
    @include tablet { 
        width: 90%; 
        margin: 0 auto; 
    }
    @include laptop { 
        width: 75%; 
    }
}
.about-middle-hero2 { 
    width: 70%; 
    margin: -5em auto 0; 
    @include palm-mid { 
        margin: -8em auto 0; 
    }
    @include tablet { 
        width: 60%; 
    }
    @include laptop { 
        width: 50%; 
    }
}
.about-list_group { 
    padding-top: 3em;
    @include laptop { 
        width: 55% !important; 
        margin: 0 auto; }
}
.about-list { 
    list-style: none; 
    text-align: center; 
    font-family: $brand-font; 
    font-size: 1.1em; 
    margin: 0;
    @include palm-mid { 
        width: 50%; 
        float: left; 
    }
    @include tablet { 
        font-size: 1.3em; 
    }
}
.about-list li { 
    padding-bottom: 1em; 
}
.about-content_text a { 
    color: $brand-color; 
    font-size: 1.4em; 
    text-align: center; 
    font-family: $brand-font; 
    padding-bottom: 1em; 
    display: block; 
}
.about-wrapper { 
    margin: 0 auto !important; 
}
.special_group { 
    @include palm-mid { 
        margin-top: 4em; 
    }
}
.about-separator {
    @include tablet { 
        height: 2em; 
    }
}


/* Journal */
.journal-wrapper { width: 75%; margin: 0 auto; 
    @include tablet { width: 70%; }
    @include laptop { width: 65%; }
}
.journal-wrapper_list { list-style: none; text-align: center; margin: 0 auto; position: relative;  padding-top: 1.3em; text-transform: uppercase; letter-spacing: 2px; font-size: 8px;
    @include palm-mid { font-size: 10px; }
}
.journal-wrapper_list li { display: inline-block; }
.journal-title { text-align: center; padding-top: 15px; }
.journal-title a { font-size: 1.3em; font-family: $brand-font;
    @include tablet { font-size: 1.7em; }
}
.journal-container { padding: 4em 0 2em; }



/* Journal Posts */
.post-container { padding-top: 3em; margin: 0 10%; }
.post-date { text-align: center; text-transform: uppercase; font-size: 0.8em; letter-spacing: 3px; }
.post-title { text-align: center; padding: 0.7em 0 2.5em; font-size: 2em; font-family: "League Spartan"; }
.post-content { width: 80%; margin: 0 auto; padding-bottom: 3em;
    @include tablet { width: 35%; float: right; padding-top: 1em; }
}
.img-content { width: 80%; margin: 0 auto; 
    @include tablet { width: 60%; float: left; }
}
.body-content { padding-top: 1.5em; }
.journal-caption { width: 75%; padding: 1em 0;
    @include tablet { width: 65%; }
}
.journal-caption_group { padding-top: 4em; }
.journal-caption_sm { font-size: 0.8em; }



/* Misc */
.position-img-home-01 { margin: 0 1em; padding: 0 1em; position: relative; top: -.7em; 
    @include tablet { padding: 0 4em; }
}
.position-img-home-03 { margin: 0 1em; padding: 5em .5em 0 3em; position: relative; }
.image-number-r { position: relative; z-index: 5; top: 2em; right: 1em; float: right; color: $image-number-color;
    font-family: $alt-font-1; font-size: $small-font-size; 
}
.control-image { width: 100%; }
.home-image-prop { height: 260px; 
    @include palm { height: 335px; }  
    @include palm-mid { height: 76vh; }
    @include palm-three { height: 85vh; }
}
.control-image-s3 { width: 95%;}
.control-image-s3b { height: 100px; width: 75%; position: relative; top: -5em; left: -2em; }
.height-alt-s3 { height: 145vh; }
.palm-img {
    @include palm { width: 210px; }
    @include palm-mid { width: 19em; }
    @include palm-three { width: 22em; }
}
.palm-img2 {
    @include palm { width: 300px; text-align: center; }
    @include palm-three { width: 350px; }
    @include tablet { width: 26em; }
    @include tablet-mid { width: 30em; }
}
.palm-img3 {
    @include palm { width: 13em; }
    @include palm-mid { width: 17em; }
    @include palm-three { width: 21em; margin: 0 auto; }
}
.palm-img4 {
    @include palm-mid { width: 12em; }
}
.palm-img5 { 
    @include palm-three { width: 10em;  }    
}
.palm-img6 {
    @include palm-three { width: 7em; }
}
.height90 { 
    @include palm { height: 90vh; }
}
.height85 {
    @include palm { height: 85vh; }
    @include palm-three { height: 95vh; }
}
.separator { height: 2em; width: 100%; 
    @include tablet { height: 5em; }
}
.margin-extra { margin: 1em; }
.padding-extra { padding: 1em; }

/* Test */
.section-prop { background-color: purple; color: white; }
.section-03-img1-prop { width: 70%; margin: 0 auto; top: 1em;
   @include palm-three { width: 65%; }
}
.section-04-img { padding-bottom: 4em; text-align: center; 
    @include palm { }
    @include tablet { padding-bottom: 8em; }
}
.section-05-img1-prop { margin: 0 auto; width: 73%; top: 1em;
    @include tablet-mid { width: 50%; }
}
.section-05-img2-prop { top: -1em; left: -1em; width: 60%;
    @include palm { top: -3em; left: 1em; }
    @include palm-mid { left: 4em; top: -1em;}
    @include palm-three { top: -5em; left: 1em; }
    @include tablet { top: -5em; left: 3em; }
    @include tablet-mid { left: 6em; }
}
.s-img-id {  color: $color_img_id; text-transform: uppercase; font-family: $alt-font-1; font-size: $size_img_id; width: 20%;}
.p-img-id-3 { position: absolute; padding: .5em;  }
.captionthis { width: 55%; font-size: 6px; padding: 0 0 2em 2em; 
    @include palm { padding: 0 0 2em 4em; }
    @include palm-mid { font-size: 8px; }
}

/** GLOBAL CLASSES */
.crwns-content { margin: 0 2%; position: relative; }
.wrapper { 
    @include tablet { 
        padding-top: 2em;
    }
    @include desktop { 
        padding-top: 0; 
    }
}
.row { width: 100%; position: relative; }
.row.last { padding-bottom: 9em; }
.col-2 { width: 100%; position: relative;
    @include mobile-lg { width: 48%; float: left; padding-right: 30px; }
}
.col2.last { padding-right: 0; }
.box-page-title { float: right; transform: rotate(90deg); position: fixed; right: 1.6em; top: 25em; transform-origin: right bottom 0;
    @include mobile-mid { right: 2.2em; }
    @include mobile-lg { right: 2.9em; }
    @include pad { right: 3.3em; }
    @include laptop { right: 4.7em;  }
    @include desktop { right: 5.4em; }
}
    .box-page-title__text { font-family: $alt-font-1; font-size: 30px; 
        @include mobile-mid { font-size: 40px; }
        @include mobile-lg { font-size: 50px; }
        @include pad { font-size: 60px; }
        @include laptop { font-size: 80px; }
        @include desktop { font-size: 100px; }
    }


.sub-link-v2 a { font-size: 14px; text-transform: uppercase; color: #C68DAB;
    @include mobile-mid { font-size: 20px; }
}
.sub-link-v2 {  padding: 1em 0; }
.martop2:first-child { margin-top: 2em; 
    @include mobile-mid { margin-top: 6em; }
}
.sub-link-v3 { padding: 0; }
.sub-link-v3 a { font-size: 1em; }
.martop2 { 
    @include mobile-mid { margin-top: 6em; }
    @include mobile-lg { margin-top: 8em; }
    @include pad {margin-top: 10em; }
    @include laptop { margin-top: 14em; }
    @include laptop { margin-top: 18em; }
}

.center-position { text-align: center; }

/** REUSABLE CLASSES */
    /* - initially designed for Work page */


    
    
    .box-hero__img--text { position: absolute; top: 50%; font-weight: bold; font-family: $alt-font-1; left: .25em; color: white; font-size: 1em;
        @include mobile-mid { top: 50%; font-size: 1.6em; left: .65em; }
        @include mobile-lg { font-size: 1.1em; }
        @include pad { font-size: 1.4em; }
        @include laptop { font-size: 2em; }
    }
    .box-hero__img--50 { width: 100%; position: relative;
        @include mobile-lg { width: 50%; float: left; }
    }
    .box-hero__text--right { 
        @include mobile-mid {float: right; }
    }
    
        
        .box-hero__text--date-v2 {text-align: center; font-weight: lighter; 
            @include mobile-mid { font-size: 12px; }
        }
        
        
        
        
       
        
        .box-hero__text--content-v2 { text-align: center; margin: 0 auto; width: 100%; left: 0;
            @include mobile-mid { font-size: 20px; }
            @include pad { width: 60%; text-align: left;}
            @include desktop { width: 50%; }
        }
        .box-hero__text--subtext { font-size: 16px; text-align: center; font-style: italic; 
            @include mobile-mid { font-size: 18px; }
        }
    
    .subheader__text { text-transform: uppercase; color: #C9A443; font-weight: bold; padding-bottom: 10px; }
    .subheader__text--title { font-size: 22px; font-family: $alt-font-1; text-transform: uppercase; 
        @include laptop { font-size: 26px; }
    }
    .subheader__text--subtext {  text-transform: none; font-weight: lighter;  font-size: 18px; 
        @include mobile-lg { font-size: 25px; line-height: 30px; }
        @include laptop { font-size: 35px; line-height: 40px; }
    }
    .subheader__text--block { padding: 0 0 10px 10px; 
        @include mobile-lg { padding: 0 0 10px 20px; }
        @include laptop { padding: 0 0 10px 55px; }
    }
    .offerings-block { text-align: center; font-size: 18px; padding-bottom: 3em; color: #4A4A4A; 
        @include laptop { width: 70%; margin: 0 auto; }
    }
    .offerings-block__text--title { font-family: $alt-font-1; font-size: 20px; }
    .offerings-block__text--header { text-align: center; font-size: 20px; line-height: 1em; color: #4a4a4a;}

/* One-off classes */
.offerings-icon { width: 3em; }
.get-links { text-align: center; padding: 5em 0; }
.offerings-block__text--create { width: 60%; margin: 0 auto; }
.section-404 { font-size: 10.5em; font-family: $alt-font-1; position: absolute; overflow: hidden; top: -0.5em; left: -0.2em;
    @include laptop {font-size: 35.5em; left: -0.1em; right: 0; }
}
.clear-404 { height: 10vh;
    @include laptop {height: 65vh; }
}
.warn-404 { text-align: center; z-index: 5; position: relative; background: white; font-family: $alt-font-1; text-transform: uppercase;  margin: 0 auto; font-size: 0.6em; width: 42.9%; top: 4.5em; left: -1.4em;
    @include laptop { font-size: 2em; top: 4em; width: 46%;}
}

