@font-face {
  font-family: 'League Spartan';
  src: url('/assets/fonts/leaguespartan-bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/leaguespartan-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('/assets/fonts/leaguespartan-bold.woff2') format('woff2'), /* Super Modern Browsers */
      url('/assets/fonts/leaguespartan-bold.woff') format('woff'), /* Pretty Modern Browsers */
      url('/assets/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg'); /* Legacy iOS */
      font-weight: bold;
      font-style: normal;
}
/* ----- TOC -----

Reusable Code
Featured Work
Catalog
Catalog Single
About
Journal
Journal Posts
Section 04 Featured Work
Section 05
Upcoming Events

----- #TOC ----- */
body.white {
  background-color: $color-white;
}


/* ====================
REUSABLE CODE
======================= */
.crwns-wrapper { 
  margin-right: 5%; 
  margin-left: 5%; 
  padding-right: $spacing-unit; 
  padding-left: $spacing-unit; 
  @extend %clearfix; 
  @include palm { 
    max-width: 350px; 
    margin: 0 auto; 
  }
  @include palm-mid { 
    max-width: 450px; 
    margin: 0 auto; 
    clear: both;
  }
  @include tablet { 
    max-width: 650px; 
    margin: 0 auto;
  }
  @include laptop { 
    max-width: 800px; 
    margin: 0 auto;
  }
  @include desktop { 
    max-width: 950px; 
    margin: 0 auto;
  }
  @include tv {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.spacer1x {padding: 1em 0;}
.spacer2x { padding: 2em 0; }
.spacer3x { padding: 3em 0; }
.row { 
  width: 100%; 
  position: relative; 
}
.pos-rel {
  position: relative;
}


/* ====================
FEATURED WORK
======================= */
.title-container { 
  text-align: right;
  margin: 50px 0 100px;
}
.title-icon { 
  width: 3em; 
  margin: 0 auto 20px; 
  display: none;
  @include tablet { 
    display: block; 
  }
}
.title { 
  text-transform: uppercase; 
  font-family: $font-brand1;
  @include font_size_lg;
  text-align: right;
}
.project_content_featured {
  margin-bottom: 20px;
  width: 100% !important;
}






.box-hero { 
  width: auto; 
  position: relative;
}
.box-hero__img { 
  width: 100%;
  -webkit-filter: contrast(80%) grayscale(125%);
  filter: contrast(80%) grayscale(125%);
  box-shadow: 3px 3px 13px #000;
  @include tablet { 
    width: 65%; 
    float: left;
  }
}
.box-hero__text { 
  padding-top: 20px;
  font-family: $font-brand1;
  text-align: center;
  @include tablet { 
    width: 34%; 
    float: left;
    padding-top: 35px;
    margin-left: -4em;
    position: relative;
  }
  @include laptop {
    padding-top: 85px;
  }
}
.box-hero__text a {
  color: $color-brand3;
}
.box-hero__text a:hover {
 color: $color-brand2; 
}
.box-hero__text-r {
  margin-left: 0;
  right: -4em;
}
.box-hero__text--title { 
  text-shadow: 1px 1px 2px black;
  @include tablet { 
    width: 100%;
    position: relative;
    line-height: 40px; 
    text-align: center;
  }
}
.brand-link a { 
  font-size: 30px; 
  color: $color-brand3;
  text-decoration: none; 
  font-family: $font-brand1; 
  line-height: 1em; 
  @include tablet { 
    font-size: 40px; 
    line-height: 1.1em;
    text-decoration: underline;
  }
  @include laptop { 
    font-size: 46px; 
  }
  @include tv {
    font-size: 65px;
  }
}
.brand-link a:hover { 
  color: $color-brand2; 
}
.box-hero__meta {
  color: #6f6f6f;
  margin: 1.5em 0 0.5em;
}
.box-hero__category {
  font-size: 20px;
  text-transform: uppercase;
  font-family: $brand-font;
  position: absolute;
  color: $color-brand3;
  bottom: -40px;
  @include tablet {
    left: -15px;
    font-size: 50px;
  }
}
.box-hero__text--date { 
  font-size: 16px; 
  text-transform: uppercase; 
  font-family: $brand-font;
  position: relative;
  bottom: -60px;
  @include tablet {
    font-size: 20px;
    bottom: -50px;
    left: -0.7em;
  }
}
.featured-separator {
  padding-bottom: 5em;
}

/* Featured - Right Side Elements */
.box-hero__img--right { 
  @include tablet {
    float: right; 
  }
}
.box-hero__meta-r {
  @include tablet {
    bottom: 0px;
    right: 40px;
  }
}


/* ====================
CATALOG
======================= */
.catalog-wrapper {
  margin: 5em auto;
  z-index: 2;
  background: $color-white;
}
.banner {
  position: relative;
  overflow: hidden;
  /*background: rgba(0,0,0,0.6) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC');*/
}
.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
.video-wrapper {
  width: 75%;
  max-width: 775px;
}
.catalog-link a { 
  font-size: 1.2em; 
  font-family: $brand-font; 
  text-align: center; 
  @include tablet { 
    font-size: 1.5em; 
  }
}
.box-hero-v2 { 
  margin-top: 2em; 
  @include mobile-mid { 
    margin-top: 2em; 
  }
}
.center-position { text-align: center; }
.martop-catalog:first-child { 
  margin-top: 2em;
  @include mobile-mid { 
    margin-top: 3em; 
  }
}
.martop-catalog { 
  @include mobile-mid { 
    margin: 0.5em 0; 
  }
}
.separator { 
  height: 2em; 
  width: 100%; 
  @include tablet { 
    height: 5em; 
  }
}


/* ====================
CATALOG SINGLE FULL
======================= */
.catalog_page-wrapper {
  margin: 0 20px;
}
.catalog_credits-wrapper ul,
.catalog_credits-wrapper li {
  list-style: none;
}
.catalog_title {
  color: $color-brand3;
  font-family: $brand-font;
  font-size: 36px;
  padding: 50px 5px;
  text-align: center;
  text-decoration: underline;
  @include tablet {
    float: left;
    width: 34%;
  }
  @include desktop {
    padding: 75px 0;
  }
}
.catalog_title-credit {
  text-align: center;
  text-transform: uppercase;
  font-family: $brand-font;
  color: $color-gray;
}
.catalog_hero-section {
  @include tablet {
    float: right;
    width: 65%;
    z-index: -1;
    margin-top: -4.1em;
  }
}
.catalog_hero-1 {
  @include tablet {
    position: relative;
    z-index: -2;
  }
}
.catalog_hero-2 {
  margin: -4em auto 0;
  width: 85%;
  position: relative;
  @include tablet {
    margin-left: -5em;
  }
  @include laptop {
    margin-top: -8em;
  }
  @include desktop-blah {
    margin-top: -15em;
    margin-left: -9em;
  }
}
.catalog_section {
  margin-top: 4em;
}
.credits-list {
  text-align: center;
  text-transform: uppercase; 
  margin: 2em 0 4em;
}
.catalog_credits-group {
  color: $color-brand1;
  font-size: 12px;
  font-weight: bold;
}
.catalog_credits-artist { 
  margin-bottom: 1.5em;
}
.catalog_credits-artist li {
  color: $color-gray;
  font-weight: lighter;
}
.catalog_content-wrapper {
  margin-bottom: 6em;
  @include tablet {
    float: right;
    width: 57%;
  }
  @include desktop-blah {
    width: 50%;
    margin-right: 2em;
  }
}
.catalog_content-wrapper p {
  margin-bottom: 1.5em;
  font-size: 14px;
}
.catalog_img-no {
  position: absolute;
  left: 0;
  z-index: 5;
  padding: 1em; 
}
.catalog_photo-group {
  position: relative;
  margin: 1em 0;
  @include tablet {
    float: left;
    width: 55%;
  }
}
.catalog_photo-group-2 {
  width: 90%;
  float: right;
  @include tablet {
    width: 43.5%;
    margin-top: 8em;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.catalog_caption-close {
  padding: 1em 0 5em;
}
.catalog_testimonial-group {
  background-image: url('/assets/images/office.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  font-family: $brand-font;
  text-align: center;
  padding: 3em 0;
}
.catalog_testimonial-text {
  font-size: 22px;
  padding: 2em 0.5em;
}
.catalog_credits-wrapper {
  @include tablet {
    float: left;
    width: 35%;
  }
  @include desktop-blah {
    margin-left: 2em;
  }
}
.catalog_photo-5 {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.catalog_photo-6 {
  position: relative;
  width: 65%;
  float: right;
  margin-top: -6em;
}
.catalog_photo-7 {
  position: relative;
}
.site-wrapper {
  max-width: 1350px;
  margin: 0 auto;
}
.catalog-html5-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  /* Using background image for catalog-full template */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 35vh;
  @include palm-mid {
    height: 45vh;
  }
  @include tablet {
    height: 65vh;
  }
  @include laptop {
    height: 83vh;
  }
}
.catalog-play {
  background: $color-brand2;
}
.catalog_img-filter {
  -webkit-filter: grayscale(50%) saturate(75%);
  filter: grayscale(50%) saturate(75%);
}


/* ====================
CATALOG SINGLE PHOTO
======================= */
.catalog_photo-wrapper {
  width: 90%;
  @include palm-mid {
    margin: 0 auto;
    width: 75%;
  }
}
.catalog_photo-bottom {
  margin-bottom: 4em;
}
.catalog_photo-title {
  text-align: center;
  font-size: 2em;
  font-family: $font-brand1;
  color: $color-brand3;
  text-decoration: underline;
}
.svn-content_contain-caption.photo {
  padding: 1em;
  @include palm-mid {
    width: 100%;
  }
}
.svn-content_contain-caption.photo li {
  list-style: none;
  padding-bottom: 1.5em;
  @include palm-mid {
    width: 31%;
    float: left;
    margin-right: 8px;
    margin-bottom: 1em;
  }
  @include tablet {
    width: 24%;
    margin-right: 20px;
  }
}


/* ====================
CATALOG VIDEO
======================= */
.catalog_video-title {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.catalog_title-credit.video {
  text-align: left;
}
.credits-list.video {
  text-align: left;
}
.credits-list.video li {
  width: 50%;
  float: left;
  @include tablet {
    width: 25%;
  }
}
.catalog_credits-wrapper.video {
  float: none;
  width: 100%;
}
.catalog_credits-artist.video li {
  float: none;
  display: block;
  width: 100%;
}
.catalog_caption-close.video {
  padding: 1em;
  @include palm-mid {
    padding: 2em;
  }
}
.catalog_section.video {
  margin-top: 0;
}
.catalog_video-text {
  font-size: 14px;
  width: 100%;
  @include tablet {
    width: 42%;
  }
}
.catalog_photo-wrapper.video {
  width: 100%;
  @include tablet {
    width: 75%;
  }
}
.catalog_section.video {
  padding: 1em;
  @include palm-mid {
    padding: 2em;
  }
}

/* ====================
CONTACT
======================= */
.sub-title {
  letter-spacing: 2px;
}
.contact_info,
.contact_info a {
  font-size: 12px;
  color: $color-brand2;
  letter-spacing: 2px;
}

/* ====================
COMING SOON
======================= */
.soon-layout p {
  color: black;
  font-size: 2em;
}

/* ====================
UPCOMING EVENTS
======================= */
.event_wrapper {
  @include tablet {
    margin-top: 50px;
  }
}
.event_wrapper_inner {
  margin: 50px 0;
  width: 45%;
  float: right;
  max-width: 116px;
  @include tablet {
    width: 100%;
    max-width: none;
  }
}
.event_item {
  margin-bottom: 40px;
  @include tablet {
    width: 19%;
    float: right;
    margin-left: 35px;
    max-width: 116px;
  }
  @include laptop {
    margin-left: 50px;
  }
}

/* ====================
404
======================= */
.four_row {
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  width: 100%;
  font-family: 'League Spartan',sans-serif;
  letter-spacing: 0px;
  line-height: 30px;
}
.four_row a {
  margin: 0;
  padding: 0;
  color: $color-brand3;
}
.four_row a:hover {
  color: $color-brand4;
}

