
#sampletext { position: absolute; font : italic bold 60px arial; color : red; margin-top : 200px; z-index: 5;}
#slideshow > div { position: absolute;  width: 100%; margin: 0 auto;
/*  @include laptop { width: 30%; left: 10em; }*/
}
.marginauto { margin: 0 auto; }
/*.slideshow-container { display: none;
  @include laptop { position: relative; display: block; }
}*/

/* Smaller Slideshow Images */
/*#slideshow { position: relative; margin: 0 auto; width: 55%; height: 400px; display: block; text-align: center; 
	@include palm { height: 500px; padding-top: 2em; }
	@include laptop	{ width: 49%; padding-bottom: 4em;}
}*/

/* Larger Slideshow Images */
#slideshow { position: relative; margin: 0 auto; width: 100%; height: 300px; display: block; text-align: center; 
	@include palm { height: 350px; padding-top: 2em; overflow: hidden;}
	@include tablet { height: 500px; }
	@include laptop	{ padding-bottom: 4em;}
}

.slider-hero_text {
	z-index: 5;
	position: absolute;
	font-family: "League Spartan";
    text-align: center;
    color: #6F5723;
    text-transform: uppercase;
    font-size: 2.7em;
    top: 1em;
    left: 0;
    line-height: 0.9em;
    width: 100%;

    @include palm {
    font-size: 3.5em;
    top: 2em;
    }

    @include tablet {
    font-size: 6em;
    top: 1.7em;
    }

	@include laptop {
    font-size: 6em;
    top: 1.8em;
    /*left: 21%;*/
    line-height: 0.8em;
    /*width: 60%; */
	}
}

.slider-hero_text-small { font-size: 0.3em; display: block; color: black; }
