@font-face {
  font-family: 'League Spartan';
  src: url('/assets/fonts/leaguespartan-bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/leaguespartan-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('/assets/fonts/leaguespartan-bold.woff2') format('woff2'), /* Super Modern Browsers */
      url('/assets/fonts/leaguespartan-bold.woff') format('woff'), /* Pretty Modern Browsers */
      url('/assets/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg'); /* Legacy iOS */
      font-weight: bold;
      font-style: normal;
}

/* ----- TOC -----

Header & Overlay Menu
Wrappers
Hero
CTAs
Background meta and images
Reusable classes
Section 01
Section 02 Artist's Note
Section 03
Section 04 Featured Work
Section 05
Section Testimonial

----- #TOC ----- */



/* No Scroll w/ Overlay Present */
body.noScroll {
  overflow: hidden;
}

/* Header & Overlay Menu */
#menu-container { 
  position: relative; 
  height: 60px; 
  display: block; 
  text-align: center; 
  margin: 0 auto;
  @include tablet { 
    float: right; 
    text-align: none;
    margin: none;
  }
}
.menuButton { 
  text-indent: 0; 
  color: #fff;  
  position: relative; 
  background-color: transparent;
  border: none;
  @include palm-mid {
    width: 32px;
    float: right;
  }
}
.menuButton:hover { 
  -o-transition:.75s;
  -ms-transition:.75s; 
  -moz-transition:.75s; 
  -webkit-transition:.75s; 
  transition:.75s;
}
.menuButton:active { 
  position: relative; 
  top: 1px; 
}
.menu-icons img { 
  width: 5%; 
}
.menu-txt {
  color: #000;
  font-size: 35px;
  cursor: pointer;
}
.menu-txt:hover {
  color: $color-brand5;
}
#overlay-menu { 
  margin: 10px; 
}
.overlay { 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  background-size: cover;
  background-position: bottom left;
  z-index: 500; 
}
.overlay nav { 
  text-align: right;
  width: 100%;
  margin-top: 50px;
}
.overlay ul { 
  list-style: none; 
  padding: 0; 
  margin: 0 auto; 
  display: inline-block;
  height: 100%; 
  position: relative; 
}
.overlay ul li { 
  padding: 0; 
  margin:0; 
  width: 100%;
  margin-bottom: 7px;
}
.overlay ul li a { 
  text-decoration: none; 
  font-family: $brand-font;
  @include font_size_lg;
  text-transform: uppercase;
  line-height: 45px;
  @include tablet {
    line-height: 34px;
  }
}
.overlay ul li a:hover {  
  color: $color-brand5;
}
.overlay-close { 
  width: 35px; 
  height: 30px; 
  position: absolute;
  overflow: hidden; 
  border: none; 
  background-color: transparent; 
  outline: none; 
  z-index: 100;
  right: 0;
  left: 0;
  margin: auto;
  top: 120px;
  @include palm-mid {
    right: 24px;
    top: 55px;
    left: auto;
    margin: none;
  }
  @include tablet {
    right: 39px; 
    top: 23px; 
  }
}
.overlay-close:hover {
  color: $color-white;
}
.overlay-data { 
  opacity: 0; 
  visibility: hidden; 
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s; 
  transition: opacity 0.5s, visibility 0s 0.5s; 
}
.overlay-open { 
  opacity: 1; 
  visibility: visible; 
  -webkit-transition: opacity 0.5s; 
  transition: opacity 0.5s; 
}

.main-nav {
  width:calc(100vh - 15px);
  height: 80px;
  position:fixed;
  bottom: 100px;
  z-index: 9005;
  color: $color-brand5;
  left: 15px;
  line-height: 35px;
  
  @include tablet {
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);  
    top: -10px;
    height:45px;
    left: 5px;
    line-height: 20px;
  }
}
ul.nav li {    
  height:100%;
  list-style: none;
  font-family: $fontfamily-v1;
  font-size: 20px;
  @include tablet {
    margin-right:20px;
    float:left;
    line-height:20px;
    font-size: 16px;
  }
}
ul.nav li a {
  color: $color-brand5;
  cursor: pointer;
}
ul.nav li a:hover {
  text-decoration: none;
}
ul.nav li a:hover::after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  background: $color-brand5;
}

.svn-big-logo-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  @include tablet {
    right: 0px;
    bottom: -60px;
  }
  @include laptop {
    right: -30px;
  }
}
.svn-big-logo {
  width: 800px;
}
.logo-wrapper {
  // padding: 30px 10px;
  z-index: 9999;
  position: absolute;
  @include tablet {
    // padding: 5px 25px;
  }
}
.logo { 
  // width: 100%;
  text-align: right;
  padding: .5em;
  z-index: 999;
  // position: relative;
  cursor: pointer !important;
  right: 10px;
  position: fixed;
  width: auto;
  @include palm-mid {
    
  }
  @include tablet { 
    display: block; 
  }
}
.logo-img {
  width: 5em;
}
.site-header {
  @include desktop-blah {
    /*max-width: 1350px;*/
    margin: 0 auto;
  }
}
.menu-icons .fa {
  @include tablet {
    font-size: 40px;  
  }
}
.overlay_container {
  width: 95%;
  position: relative;
  @include tablet {
    margin: 0 auto;
    display: flex;
    align-items: center; 
    height: 100vh;  
  }
}
.menu_bio_container {
  display: none;
  @include tablet {
    @include menumenu_col(30%, left);
    display: block;
    margin-right: 45px;
    max-width: 295px;
  }
}
.menu_list_container {
  width: 100%;
  margin: 200px auto 0;
  @include tablet {
    margin: 0;
    width: 25%;
    position: absolute;
    right: 0;
  }
}
.menu_small_container {
  @include menumenu_col(65%, right);
  margin-top: 0;
}
.menu_section {
  margin-top: 40px;
}
.menu_section:first-child {
  margin-top: 0; 
}

/* Dividers */
.divider {
  background: #000;
  height: 5px;
  width: 100%;
  margin: 10px 0;
}

/* Fonts */
.font_lz {
  @include font_lz;
  text-align: right;
  line-height: 38px;
  margin-bottom: 7px;
  @include tv {
    margin-bottom: 30px;
  }
}
.font_size_la {
  @include font_size_la;
  text-align: right;
  @include desktop-blah {
    font-size: 25px;
  }
}
.font_size_lg {
  @include font_size_lg;
  text-align: right;
  line-height: 30px;
}
.font_lg_lowercase {
  @include font_lg_lowercase;
}
.font_size_micro {
  @include font_size_micro;
  text-align: right;
}
.font_size_small {
  @include font_size_small;
  text-align: right;
}
.font_size_med {
  @include font_size_med;
  text-align: right;
  line-height: 20px;
  margin-bottom: 7px;
  @include tv {
    margin-bottom: 30px;
  }
}
.font_standard {
  @include font_standard;
  margin: 15px 0;
  line-height: 18px;
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
.font_text_area {
  @include font_text_area;
  text-align: right;
  margin: 10px 0;
}
.small_links {
  @include font_size_micro;
  line-height: 14px !important;
}
.small_links_w {
  line-height: 14px !important;
}
.link {
  color: #000;
  cursor: pointer;
}
.link:hover {
  color: $color-brand5;
  text-decoration: none;
}

.brand_color {
  color: $color-brand5;
}
.no-padding {
  padding: 0 !important;
}

/* Wrappers */
.svn-wrapper { 
  position: relative;
  width: 300px; 
  padding: 2em 0; 
  margin: 0 auto;
  @include palm {
    width: 375px;
  }
  @include palm-mid { 
    width: 450px; 
  }
  @include tablet { 
    width: 600px; 
    padding: 0;
  }
  @include laptop { 
    width: 885px; /* width was 800px */
  }
  @include desktop {
    width: 975px;
  }
  @include desktop-blah {
    width: 1150px;
  }
  @include tv {
    width: 1280px;
  }
  @include bigscreen {
    width: 1500px;
  }
}

/* Background meta and images */
.section-bg { 
  background-size: cover; 
  background-position: center center; 
  width: 100%; 
  z-index: 2; 
  position: relative;
  @include tablet { 
    padding: 4em 0;
  }
}
.section01-bg-image { 
  background-image: url('/assets/images/geostairs.jpg'); 
}
.section03-bg-img { 
  background: url('/assets/images/white.jpg') no-repeat center center / cover;
}
.section-03-img2-prop { 
  top: -3em; 
  padding-left: 1em; 
  width: 65%; 
  position: relative;
  @include palm-mid { 
    top: -5em; 
    left: 1em; 
  }
  @include tablet { 
    width: 45%; 
    padding-left: 0; 
    left: 3em; 
  }
}
.section-05-img3-prop { 
  top: -2em; 
  width: 85%; 
  margin: 0 auto;

  @include palm-mid { 
    top: -4em; 
  }
  @include laptop { 
    top: -7em; 
  }
}

/* Content Specific Classes */
.svn-content { 
  position: relative; 
  background: $color-white;
  @include tablet { 
    float: left;
    clear: both;
    width: 100%;
  }
}
.svn-content_no { 
  position: relative; 
  padding: 1em 0.5em; 
  font-family: $alt-font-1; 
  font-size: $section-number-font-size; 
  color: $brand-color; 
  @include palm-mid { 
    padding: .5em; 
  }
  @include laptop { 
    padding: .5em 1.5em 0; 
  }
}
.svn-content_no.right { 
  text-align: right; 
}
.svn-content_no-featured { 
  text-align: center; 
  color: black; 
  padding: 0 0 2.5em; 
}
.alt-color { 
  color: $primary-color; 
}
.svn-content_contain-img { 
  width: 85%; 
  margin: 0 auto; 
  position: relative; 
  text-align: center;
}
.svn-content_img-no { 
  position: absolute; 
  z-index: 5; 
  padding: 1em; 
  top: 0;
  right: 7px;
}
.svn-content_img-no.left {
  text-align: left; 
  left: 15px;
}
.svn-content_img-no-txt { 
  color: #fff; 
  font-family: $brand-font; 
  font-size: 14px; 
}
.svn-content_contain-txt { 
  position: relative; 
  top: -0.5em; 
  padding-right: 0.3em; 
  margin: 0 auto; 
  width:75%;
  @include palm-mid { 
    width: 80%; 
  }
}
.svn-content_headline { 
  text-align: right; 
  font-size: 1.7em; 
  font-family: $brand-font; 
  line-height: 1.3em; 
  text-decoration: underline; 
  color: $color-brand5;
  text-shadow: 3px 3px rgba(111,87,35,0.3);
  @include palm-mid { 
    font-size: 2.3em; 
  }
}

/* Section 1 */
.content_container {
  width: 90%;
  margin: 0 auto;
}
.content_50 {
  width: 100%;
  position: relative;
  @include tablet {
    width: 55%;
    float: left;
    min-height: 350px;
    @include flex;
  }
  @include laptop {
    min-height: 560px;
  }
}
.mobile_align_right {
  text-align: right;
}
.pull_right {
  @include tablet {
    float: right !important;  
  }
}
.pull_left {
  @include tablet {
    float: left;
  }
}
.pull_up {
  margin: -80px auto 0;
  width: 85%;
}
.align_bottom {
  vertical-align: bottom;
}
.content_text {
  @include font_lowercase_offbeat;
  margin-top: 30px;
  @include tablet {
    width: 40%;
    font-size: 22px;
    line-height: 27px;
  }
  @include laptop {
    font-size: 40px;
    line-height: 60px;
    width: 42%;
    margin-top: 0;
  }
  @include desktop {
    font-size: 44px;
  }
}
.content_half_vertical {
  position: relative;
}

.svn-special_one { 
  @include tablet { 
    width: 60%; 
    margin: auto; 
    float: right; 
    right: 1.5em; 
  }
}
.svn-special_one-text { 
  @include tablet {
    clear: both; 
    position: absolute; 
    width: 58%; 
    top: 3.2em; 
    padding: .2em; 
  }
  @include laptop { 
    width: 45%; 
    top: 4.5em;
  }
}

/* Section 2 */
.svn-content_contain-note { 
  position: relative; 
  font-family: $alt-font-1; 
}
.svn-content_note-date { 
  text-align: center; 
  font-size: 2.5em; 
  color: rgba(155,155,155, 0.45); 
}
.svn-content_note-issue { 
  text-transform: uppercase; 
  position: relative; 
  top: -2.4em; 
  z-index: 200; 
  text-align: center;
}
.svn-content_note-title { 
  font-size: 3.2em; 
  font-family: $alt-font-1; 
  text-align: center; 
  text-transform: uppercase;
  opacity: .26; 
  position: relative;
  top: 0em; 
  line-height: 1em; 
  @include tablet { 
    font-size: 6em; 
    line-height: 1.1em; 
  }
}
.note-title-alt-color { 
  @include brandcolortext; 
  font-size: 85px; 
  @include palm-mid { font-size: 2em; }
  @include tablet { font-size: 1.7em; }
}
.svn-content_note-text p { 
  font-size: 0.9em; 
  text-align: center; 
  padding-top: 2em; 
  position: relative; 
  padding-bottom: 1em; 
  width: 85%; 
  margin: 0 auto; 
  line-height: 2em;
  @include palm-mid { 
    font-size: 1.2em; 
    line-height: 1.8em; 
  }
  @include tablet { 
    width: 50%; 
    float: left; 
    padding-left: 1em; 
  }
}
.svn-content_note-salutation { 
  position: relative; 
  padding: 1em 0; 
  text-transform: uppercase; 
  text-align: center; 
  color: #4a4a4a; 
  font-weight: lighter; 
  @include tablet { 
    text-align: right; 
    padding: 3em 0; 
  }
}
.note-author { 
  display: block; 
  font-style: normal; 
  font-weight: bolder; 
  letter-spacing: -1px; 
  padding-top: .3em; 
}

/* Section 03 */
.image-set { 
  position: relative; 
}
.svn-content_img1 { 
  width: 80%; 
  margin: 0 auto; 
  top: 1em; 
  position: relative; 
}
.svn-special_three-a {
  @include tablet { 
    width: 55%; 
    left: -2em; 
  }
}
.svn-special_three-text {
  @include tablet { 
    width: 60%; 
    position: absolute; 
    top: 7em; 
    right: 0; 
    padding: .2em; 
  } 
  @include laptop { 
    width: 45%; 
    top: 8em;
  }
}
.reel {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
.yellow-box {
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  @include palm-mid {
    height: 550px;
  }
  @include tablet {
    width: 90%;
  }
}
.html5videohere {
  position: relative;
}
/* Fullscreen Overlay */
.svn-video-overlay {
  width: 100%;
  background: rgba(0,0,0,.5);
  position: absolute;
  z-index: 5;
  opacity: 0;
  left: -100%;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
}
.play {
  width: 70px;
  height: 70px;
  background: #222;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
}
.play:hover {
  background: #333;
  cursor: pointer;
}
.play:after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left:  -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #ffffff;
}
.video-container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  @include palm-mid {
    width: 135%; /* was 110% */
  }
  @include desktop-blah {
    width: 150%;
  }
}
.html5-close {
  width: 20px;
  position: absolute;
  color: black;
  right: -15px;
  top: -30px;
}
.html5-close:hover {
  fill: rgba(255,255,255,0.5);
  cursor: pointer;
}
.html5-show {
  opacity: 1;
}


/* Section 04 */
.svn-content_col {
  @include tablet { margin-bottom: 5em; }
}
.svn-content_bg { 
  background: white; 
  margin: 1em;

  @include palm-mid { margin: 3em; }
  @include tablet { margin: 5em; }
  @include laptop { margin: 2em 10em; }
}
.featured-category { 
  font-size: 0.8em; 
  text-transform: uppercase; 
  font-weight: bold; 
  padding: 1.3em 0; 
  text-align: center;

  @include tablet { padding: 2em 0; }
}
.featured-title { 
  font-family: $alt-font-1; 
  text-transform: uppercase; 
  font-size: 1.5em; 
  padding: 1.5em 0; 
  text-align: center;
  @include palm-mid { 
    padding: .5em 0 2em; 
    font-size: 2.3em; 
    line-height: 1em; 
    width: 77%; 
    margin: 0 auto; 
  }
  @include tablet { font-size: 3em; }
}
.featured-text p { 
  text-align: center; 
  padding-bottom: 3em;
  @include palm-mid { 
    font-size: 1.2em; 
    line-height: 1.8em;
  }
  @include tablet { padding-bottom: 2em; }
}
.featured-button-text { 
  font-size: 0.7em; 
  font-family: $alt-font-1; 
  text-align: center;

  @include tablet { font-size: 1em; }
}
.featured-button-text a { 
  font-size: 1.5em; 
  text-decoration: none; 
  color: black; 
  border-bottom: 2px solid $brand-color-2; 
  padding-bottom: 0.5em; 
}
.featured-button-text a:hover { border-color: black; }

/* Section 05 */
.svn-content_img-no.small { padding: .4em; }
.svn-special_five-text {
  @include tablet { 
    width: 60%; 
    right: -2.5em; 
  }
  @include laptop { 
    width: 45%; 
    right: -4.5em;
    top: -2.5em;
  }
}


/* Contact */
.contact-title {
  text-align: right;
  padding: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.contact_info,
.contact_info a {
  font-size: 12px;
  color: $color-brand5;
  letter-spacing: 2px;
}
/* #Contact */


/* Coming Soon */
.coming-btn-border {
  border:2px solid $color-brand3;
  padding: 1px;
}
.coming-btn {
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 12px;
}
.coming-btn:hover {
  color: #fff;
}
.coming-btn-border:hover {
  border-color: #fff;
}
.coming-btn-border a:hover {
  text-decoration: none;
}

.soon-layout p {
  color: #fff;
  @include font-size-med;
  text-transform: uppercase;
}

.a-slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.comingsoon-content {
  position: absolute;
  z-index: 9002;
  top: 0;
  right: 0;
  left: 0;
}
/* #Coming Soon */

/* 404 */
.four_row {
  height: 100vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  width: 100%;
  font-family: 'League Spartan',sans-serif;
  letter-spacing: 0px;
  line-height: 25px;
  flex-direction: column;
}
.four_row a {
  margin: 0;
  padding: 0;
  color: $color-brand3;
}
.four_row a:hover {
  color: $color-brand4;
}

/* ====================
FEATURED WORK
======================= */

.project_content_featured {
  margin-bottom: 20px;
  width: 100% !important;
}
.project_content_text {
  @include font_lz;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
}

/* Testing this code */
.project_wrapper {
  width: 100%;
  height: 100%;
}
.project_column_img {
  width: 55%;
}
.project_column_text {
  width: 45%;
}
.content_50 img {
  width: 100%;
}

.page_wrapper {
  width: 100%;
  margin: 0 auto 100px;
  @include palm-mid {
    max-width: 450px;
    
  }
  @include tablet {
    max-width: 600px;
    width: 90%;
    // margin-bottom: 100px;
  }
  @include laptop {
    max-width: 885px;
  }
  @include desktop-blah {
    max-width: 1100px;
  }
}
.some-text {
  padding: 50px 20px 50px 50px;
  @include palm-mid {
    padding-right: 0;
  }
  @include tablet {
    padding: 20px;
    float: left;
    width: 45%;
  }
}
.some-text-inner {
  @include palm {
    width: 75%;
    float: right;
  }
  @include tablet {
    width: 100%;
    display: flex;
    min-height: 345px;
  }
  @include laptop {
    min-height: 490px;
  }
  @include desktop-blah {
    min-height: 630px;
  }
}
.some-text-content {
  @include tablet {
    width: 240px;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  @include desktop-blah {
    width: 350px;
  }
}
.some-image {
  @include tablet {
    width: 55%;
    float: right;
  }
}
.divider_wrapper {
  position: relative;
  margin: 75px 0;
}
.divider_wrapper:last-child {
  display: none;
}
.divider_divider {
  background: #000;
  height: 10px;
   width: 15%;
}
.divider_option {
  float: right;
}
.some-text-option {
  @include tablet {
    float: right;
  }
}
.some-image-option {
  @include tablet {
    float: left;
  }
}
.outer_wrapper {
  @include tablet {
    margin-bottom: 100px;
  }
}