@font-face {
  font-family: 'League Spartan';
  src: url('/assets/fonts/leaguespartan-bold.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/leaguespartan-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('/assets/fonts/leaguespartan-bold.woff2') format('woff2'), /* Super Modern Browsers */
      url('/assets/fonts/leaguespartan-bold.woff') format('woff'), /* Pretty Modern Browsers */
      url('/assets/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg'); /* Legacy iOS */
      font-weight: bold;
      font-style: normal;
}

/* ----- TOC -----


----- #TOC ----- */




.menu_bio_container {
  display: none;
  @include tablet {
    @include menumenu_col(30%, left);
    display: block;
    margin-right: 45px;
    max-width: 295px;
  }
}
.menu_list_container {
  width: 100%;
  margin: 200px auto 0;
  @include tablet {
    margin: 0;
    width: 35%;
    position: absolute;
    right: 0;
  }

}
.menu_small_container {
  @include menumenu_col(65%, right);
  margin-top: 0;
}
.menu_section {
  margin-top: 40px;
}
.menu_section:first-child {
  margin-top: 0; 
}


.brand_color {
  color: $color-brand5;
}
.no-padding {
  padding: 0 !important;
}



/* Content Specific Classes */
.svn-content { 
  position: relative; 
  background: $color-white;
  @include tablet { 
    float: left;
    clear: both;
    width: 100%;
  }
}
.svn-content_no { 
  position: relative; 
  padding: 1em 0.5em; 
  font-family: $alt-font-1; 
  font-size: $section-number-font-size; 
  color: $brand-color; 
  @include palm-mid { 
    padding: .5em; 
  }
  @include laptop { 
    padding: .5em 1.5em 0; 
  }
  @include bigscreen {
    font-size: 30px;
  }
}
.svn-content_no.right { 
  text-align: right; 
}
.svn-content_no-featured { 
  text-align: center; 
  color: black; 
  padding: 0 0 2.5em; 
}
.alt-color { 
  color: $primary-color; 
}
.svn-content_contain-img { 
  width: 85%; 
  margin: 0 auto; 
  position: relative; 
  text-align: center;
}
.svn-content_img-no { 
  position: absolute; 
  z-index: 5; 
  padding: 1em; 
  top: 0;
  right: 7px;
}
.svn-content_img-no.left {
  text-align: left; 
  left: 15px;
}
.svn-content_img-no-txt { 
  color: #fff; 
  font-family: $brand-font; 
  font-size: 24px; 
}
.svn-content_contain-txt { 
  position: relative; 
  top: -0.5em; 
  padding-right: 0.3em; 
  margin: 0 auto; 
  width:75%;
  @include palm-mid { 
    width: 80%; 
  }
}
.svn-content_headline { 
  text-align: right; 
  font-size: 1.7em; 
  font-family: $brand-font; 
  line-height: 1.3em; 
  text-decoration: underline; 
  color: $color-brand5;
  text-shadow: 3px 3px rgba(111,87,35,0.3);
  @include palm-mid { 
    font-size: 2.3em; 
  }
}


