// Our font families variables
$brand-font: "League Spartan", "Maison Neue", Arial Black, sans-serif;
$fontfamily-v1: Helvetica, Arial, sans-serif;
$alt-font-1: Arial Black, sans-serif;
$alt-font-2: "Maison Neue", sans-serif;

// Font Families
$font-brand1: 'League Spartan', 'Maison Neue', Arial Black, sans-serif;
$font-brand2: Helvetica, Arial, sans-serif;

// Colors
$color-brand1:      #040707;
$color-brand2:      #794C08;
$color-brand3:      #A58124;
$color-brand4:      #C6A88D;
$color-brand5:      #6F5723;
$color-gray:        #4A4A4A;
$color-white:       #FFFFFF;

// I don't need these
$brown1: #745c1c;
$brand-color: #6F5723;
$section-number-font-size: 1.2em;
$primary-color: #4a4a4a;
$brand-color-2: #C9A443;

// Slide Properties
$slide-height: calc(100vh - 76px);

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

$section-hero-font-size: 20px;
$size_img_id: 0.8em;
$base-line-height: 1.5;
$spacing-unit:     20px;
$text-color: #000;

$quote-color: #3b3b3b;

$brand-color3: #C7A88D;
$background-color: #fff;
$white-bg: #fff;
$image-number-color: #fff;
$color_img_id: #ffffff;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


