.archive_wrapper {
    margin: 75px 10px 0;

    @include tablet {
        margin: 75px 10px;
    }
    .archive_wrapper_properties {
        padding-bottom: 75px;
        @include laptop {
            padding-top: 10px;
            margin-left: 2vw;
        }
    }
    .archive_content {
        margin-top: 25px;
    }
    .archive_single {
        border-bottom: 1px solid;
        margin-bottom: 20px;
        padding-bottom: 15px;
        @include laptop {
            width: 48%;
        }
        .archive_date {
            @include medium_font(14px);
            width: 125px;
            margin-bottom: 15px;

            @include palm {
                margin-bottom: 0;
            }
        }
        .archive_title {
            @include heavy_font(14px);
        }
        .archive_summary {
            padding-bottom: 25px;
            font-size: 14px;
            width: 70%;
            letter-spacing: 0.3px;
        }
    }
    .archive_meta {
        width: 70%;
    }
}
.archive_header {
    @include heavy_font(24px);
    padding-bottom: 30px;
    padding-top: 10px;
    border-top: 1px solid;
    // color: $off-white;

    @include tablet {
        padding-bottom: 40px;
        padding-top: 30px;
    }
    @include laptop {
        font-size: 36px;
    }
}
