.backstage-meta {
	// margin-top: 6em;
	margin-top: 4em;

	@include desktop {
		margin-top: 6em;
	}
}
.backstage-msg {
	text-transform: uppercase;
	font-family: $font-brand4;
	font-size: 14px;
	text-align: center;
	padding-bottom: 2em;

	@include tablet {
		width: 45%;
		text-align: initial;
	}
	@include desktop-blah {
		width: 35%;
	}

	span {
		font-weight: $heavy;
	}
}
.backstage-work {
	background: $off-white;
	// height: 10vh;
	margin-top: 5em;
	padding: 5em 0;
	background-attachment: fixed;
	overflow-y: scroll;
	z-index: -1;

	img {
		position: absolute;
		top: 0;
		left:0;
		z-index: 1;
		transition: 0.5s;
		opacity: 0;
		width: 100%;
		height: 100%;
	}

	ul li a:hover > img {
		opacity: 1;
	}

	ul {
		margin: 10px 20px;
		li {
			font-size: 25px;
			// padding-bottom: 15px;

			@include palm-mid {
				font-size: 35px;
			}
			@include laptop {
				font-size: 44px;
			}
		}
	}
}

.backstage-title {
	text-align: center;
	text-transform: uppercase;
	font-family: $font-brand4;
	font-size: 28px;
	line-height: 1.2;
	font-weight: $heavy;
	letter-spacing: 0;
	text-shadow: 
	-1px -1px 0 #000, 
	1px -1px 0 #000, 
	-1px 1px 0 #000, 
	1px 1px 0 #000;
	z-index: 0;
	position: relative;
	// padding-bottom: 0.5em;

	@include tablet {
		font-size: 40px;
	}

	a {
		color: $off-white;
		display: block;
		padding: 10px 0 15px;

		&:hover {
			color: $yellow;
			transition: 200ms linear;
			-webkit-transition: 200ms linear;
			border: 0;
		}
	}
}
.js-backstage-img {
	background-size: cover;
	height: 70vh;
	width: 100%;
	z-index: 2;
	// position: fixed;

	@include laptop {
		background-attachment: fixed;	
	}
	
	
}
.backstage-single {
	margin: 7em 0 3em;
    // width: 50%;
    // max-width: 450px;

    @include laptop {
    	width: 60%;
    	max-width: 450px;
    }
    .backstage-tag {
    	text-transform: uppercase;
    	font-family: $font-brand4;
    	font-weight: $heavy;
    	

    	a {
    		color: $light-brown;
    	}
    }

    .title {
    	text-transform: uppercase;
	    font-weight: 700;
	    font-family: $font-brand4;
	    font-size: 22px;
	    padding-bottom: 0.5em;
	    

	    @include palm-mid {
	    	font-size: 28px;
	    	padding-bottom: 0.2em;
	    }
	}
	.summary {
		font-family: $font-brand3;
    	// letter-spacing: 0.5px;
	}
}
.baltimore {
	@include desktop {
		background-image: url('/dist/images/baltimore-studios.jpg') !important;
		animation: animate 20s linear forward;
		-webkit-animation: animate 20s linear forward;	
	}
	
}
.believing-takes-time {
	@include desktop {
		background-image: url('/dist/images/btt-project-1.jpg') !important;	
	}
	
}
.cityofgods {
	@include desktop {
		background-image: url('/dist/images/cityofgods-1.jpg') !important;
		animation: animate 20s linear forward;
		-webkit-animation: animate 20s linear forward;	
	}
}
.fambma {
	@include desktop {
		background-image: url('/dist/images/fam_slider_2.jpg') !important;	
	}
}
.famwalters {
	@include desktop {
		background-image: url('/dist/images/fam_at_walters_cover.jpg') !important;	
	}	
}
.humble {
	@include desktop {
		background-image:url('/dist/images/catalog_humble.jpg') !important;	
	}
	
}
.obk {
	@include desktop {
		background-image:url('/dist/images/obk_cover.jpg') !important;		
	}
	
}
.renegade {
	@include desktop {
		background-image:url('/dist/images/renegade_bride_cover.jpg') !important;	
	}
	
}
.warisover {
	@include desktop {
		background-image:url('/dist/images/the_war_is_over_cover.jpg') !important;		
	}
}
@keyframes animate {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(2);
	}
}

// Backstage Single
.extra-single {
	padding-bottom: 3em;
	@include desktop {
		padding-bottom: 10em;
	}
}
.backstage-extra-image {
	padding: 2em 0;

	@include desktop {
		width: 65%;
	}
}
.backstage-extra-content {
	@include tablet {
		width: 75%;
	}
	@include desktop {
		width: 30%;
	}
	.backstage-content-title {
		text-transform: uppercase;
    	font-family: 'Montserrat',sans-serif;
    	font-weight: bold;
    	line-height: 1.2;
    	padding-bottom: 1em;

    	@include tablet {
    		font-size: 24px;	
    	}
	}
	.backstage-content-text {
		font-size: 14px;
	}
}