/* ====================
Catalog Group + Item Partial
======================= */
.catalog_item {
  margin-bottom: 30px;
  float: right;
  width: 100%;
  font-family: $font-brand1;
  @include font_size_la;
  text-align: right;
  font-size: 32px;

  @include palm {
    margin-bottom: 50px;
  }
  @include palm-mid {
    width: 90%;
    
  }
  @include tablet {
    clear: both;
    width: auto;
    font-size: 50px;
  }
  @include bigscreen {
    // font-size: 36px;
  }
}
.season_number {
  text-align: right;
  font-size: 45px;
}
.catalog_section_title {
  margin-bottom: 70px !important;
  color: $color-brand5;
}
.catalog_wrapper_section {
  margin-bottom: 100px;
}

// Hover
.js-background-receiver.hover {
  display: none;
  @include tablet {
    height: 350px;
    width: 350px;
    background-color: blue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 500;
    display: block;
    position: fixed;
    left: 75px;
    /*bottom: 350px;*/
  }
  @include laptop {
    height: 500px;
    width: 500px;
    left: 75px;
    top: 50px;
  }
  @include tv {
    height: 650px;
    width: 650px;
    bottom: 100px;
  }
  @include bigscreen {
    height: 750px;
    width: 750px;
  }
}
.js-background-trigger a {
  z-index: 700;
  position: relative;
}
.js-background-trigger {
  position: relative;
}

// JS Classes
.banner {
  position: relative;
  overflow: hidden;
}
.banner__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
.catalog_photo-group {
  position: relative;
  margin: 1em 0;
  @include tablet {
    float: left;
    width: 55%;
  }
}
.catalog_photo-group-2 {
  width: 90%;
  float: right;
  @include tablet {
    width: 43.5%;
    margin-top: 8em;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}