.contact_wrapper {
    max-width: 500px;
    margin: auto;

    @include tablet {
        margin: 0 auto 100px;
    }
    @include desktop {
        max-width: 750px;
        margin: 75px auto 150px;
    }
}
.contact_content {
    text-align: center;
    padding: 25px 0;

    @include palm {
        padding: 50px 0;
    }

    @include desktop {
        width: 77%;
        margin: auto;
    }
    @include widescreen {
        width: 90%;
    }

    .contact_title {
        font-size: 32px;
        line-height: 40px;

        @include tablet {
            font-size: 40px;
            line-height: 58px;
        }

        @include desktop {
            font-size: 55px;
            line-height: 80px;
        }
    }
    .contact_summary {
        padding-top: 30px;
        font-size: 16px;
        padding-bottom: 30px;

        @include tablet {
            font-size:22px;
        }
        @include desktop {
            font-size: 24px;
        }
    }
    .contact_disclaimer {
        font-size: 12px;
        letter-spacing: 0.45px;

        @include desktop-blah {
            font-size: 14px;
        }
    }

}
.contact_form input.input_item {
    width: 100%;
    display: block;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #000;
    padding-bottom: 7px;
    text-align: center;
    margin-bottom: 35px;
    outline: none;
    border-radius: 0;

    @include desktop-blah {
        margin-bottom: 50px;
    }
}
.contact_form input::placeholder {
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(0,0,0, 0.5);
    text-transform: uppercase;
}
.contact_form input[type="submit"] {
    border-radius: 0;
    border-color: transparent;
    background-color: $color-brand1;
    color: white;
    padding: 10px 20px;
    @include heavy_font(14px);
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    -webkit-appearance: none;
}
.contact_form input[type="submit"]:hover {
    background-color: $off-black;

}
.contact_group input {
    @include tablet {
        width: 47% !important;
    }
}
.studio_info_box {
  margin: 0px 0 0 0;
  @include desktop {
      max-width: 750px;
      margin: 0 auto;
  }
  .studio_info_title {
      @include heavy_font(16px);
      margin-bottom: 15px;

  }
  .studio_info_details {
    span {
      display: block;
      text-transform: lowercase;
      letter-spacing: 0.5px;
      font-size: 14px;
      padding-bottom: 10px;

      a {
        border-bottom: 1px solid;
        padding-bottom: 3px;
        color: $off-white;

        &:hover {
          border-bottom: 1px solid;
          padding-bottom: 3px;
          color: $off-black;
        }
      }
    }
  }
}

.studio_info_content {
    width: 200px;
    margin-bottom: 50px;
}
