// Design System

.fixed_menu_wrapper {
	// width: 25%;
	// margin-left: 75px;
	// border-right: 1px solid $black;
}
.design_content {
	// width: 60%;
}
.ds_menu_title {
	padding: 15px 0 5px;
	font-size: 10px;
	color: $black;
  	font-family: $font-brand1;
  	text-transform: uppercase;
}

.fixed_menu {
	margin-top: 25px;
}
.fixed_menu li {
	font-size: 20px;
	padding: 10px 10px 10px 4px;
	// border-bottom: 1px solid $black;
}
.fixed_menu a:hover,
.section_menu a:hover {
	border-bottom: none;
}
.fixed_menu a:hover {
	transition: 0.5s;
	background: $color-brand5;
	display: block;
	color: #f9f9f9;
	-webkit-font-smoothing: antialiased;
}
.sub_menu {
	margin-top: 7px;
	margin-left: 15px;
}
.sub_menu li {
	font-size: 16px;
	padding: 5px 0;
	border-bottom: none;
	padding-right: 10px;
}
.sub_menu a:hover {
	background: transparent;
	font-weight: bold;
	color: $color-brand5;
}
.ds_title {
	font-size: 24px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-family: $font-brand1;
}
.ds_copy {
	padding: 10px 0;
}
.ds_copy a {
	border-bottom: 1px solid;
}
.ds_copy a:hover {
	border-bottom: 1px solid;
	color: $color-brand5;
}
.ds_bold {
	font-weight: bold;
	text-transform: uppercase;
	font-family: $font-brand1;
}
.ds_item_wrapper {
	margin-bottom: 50px;
	padding: 15px 15px 50px 15px;
	background: $color-white;
}
.ds_component {
	margin-bottom: 50px;
}
.ds_component::after {
	content:'';
	display: block;
	width: 100px;
	height: 5px;
	background: $color-brand5;
	margin: 75px auto;
	text-align: center;
}
.ds_component_title {
	padding-bottom: 10px;
	font-family: $font-brand1;
	font-size: 14px;
	text-transform: uppercase;
}
.color {
	color: $color-white;
	margin: 10px 10px 10px 0;
	&.color1 {
		background-color: $color-brand1;
		padding: 25px;
	}
	&.color2 {
		background-color: $color-brand2;
		padding: 25px;
	}
	&.color3 {
		background-color: $color-brand3;
		padding: 25px;
	}
	&.color4 {
		background-color: $color-brand4;
		padding: 25px;
	}
	&.color5 {
		background-color: $color-brand5;
		padding: 25px;
	}
	&.color6 {
		background-color: $color-gray;
		padding: 25px;
	}
	&.color7 {
		background-color: $color-white;
		padding: 25px;
	}
	&.color8 {
		background-color: $black;
		padding: 25px;
	}
	&.color9 {
		background-color: $translucent-light;
		padding: 25px;
	}
	&.color-white {
		color: $black;
		border: 1px solid $black;
	}
}

.font {
	padding: 25px; 
	color: $black;
	border: 1px solid $black;
	margin: 10px 10px 10px 0;

	&.font1 {
		font-family: $font-brand1;
	}
	&.font2 {
		font-family: $font-brand2;
	}
	&.font3 {
		font-family: $font-brand3;
	}
}
