// Home
.section-bg { 
  background-size: cover; 
  background-position: center center; 
  width: 100%; 
  z-index: 2; 
  position: relative;
  @extend %clearfix;
  @include tablet { 
    padding: 4em 0;
  }
}
.svn-content { 
  position: relative; 
  background: $color-white;
  @include tablet { 
    float: left;
    clear: both;
    width: 100%;
  }
}
.content_container {
  width: 90%;
  margin: 0 auto;
}
.svn-content_no-featured { 
  text-align: center; 
  color: black; 
  padding: 0 0 2.5em; 
}