.masthead_title {
    font-family: $font-brand4;
    font-weight: $medium;
    text-align: center;
    padding: 125px 0 30px;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: $heavy;

    @include tablet {
        font-size: 30px;
        letter-spacing: 1.3px;
    }
    @include laptop {
        font-size: 38px;
        padding: 125px 75px 30px;
    }
    @include desktop-blah {
        width: 75%;
        margin: auto;
        max-width: 950px;
        font-size: 40px;
    }
}
.featured {
    text-align: center;
    text-transform: uppercase;
    font-family: $font-brand4;
    font-weight: $medium;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 125px;
}
.featured_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 450px;
    width: 100%;
    margin-bottom: 30px;

    @include tablet {
        height: 525px;
    }
    @include widescreen {
        height: 575px;
    }

    &.single_post_image {
        @include desktop {
            height: 700px;
        }
    }
}
.featured_post {
    text-align: center;
    letter-spacing: 1px;
    font-family: $font-brand4;
    padding-bottom: 50px;

    @include tablet {
        padding-bottom: 100px;
    }

    @include desktop-blah {
        margin: 0 auto 30px;
        width: 90%;
        max-width: 1000px;
    }
    .featured_title {
        font-weight: $medium;
        font-size: 20px;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-weight: $heavy;

        @include tablet {
            font-size: 24px;
            letter-spacing: 1.3px;
        }
    }
    .featured_summary {
        line-height: 24px;
        font-family: $font-brand3;
        letter-spacing: 0.5px;

        @include tablet {
            font-size: 18px;
            line-height: 26px;
        }
    }
}
.general_post {
    padding-bottom: 50px;
    width: 100%;

    @include tablet {
        width: 50%;
        padding: 0 15px 50px;
    }
    @include laptop {
        width: 50%;
    }
    @include desktop-blah {
        width: 33.3%;
    }

    .general_post_image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 335px;
        margin-bottom: 20px;

        @include tablet-small {
            height: 250px;
        }
        @include tablet {
            height: 350px;
        }
        @include laptop {
            height: 250px;
        }
        @include widescreen {
            height: 300px;
        }
    }
    .general_post_title {
        font-family: $font-brand4;
        font-weight: $heavy;
        font-size: 18px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;

        // @include laptop {
        //     font-size: 24px;
        // }
    }
}

// Single Posts
.post_meta_wrapper {
    padding-top: 50px;
    font-family: $font-brand4;
    margin-bottom: 75px;

    @include tablet {
        // margin: 0 75px 75px;
    }
    @include desktop {
        margin: 75px 0 150px;
    }
}
.date {
    // padding-bottom: 75px;
    padding-bottom: 35px;
    font-weight: $normal;
    // text-align: right;
    letter-spacing: 1px;
    font-size: 13px;
    width: 50%;
    // width: 25%;
    text-transform: uppercase;

    @include desktop {
        width: 25%;
        text-align: left;
        margin-top: 15px;
        padding-bottom: 0;
    }
}
.single_post_meta {
    @include tablet {
        width: 75%;
        // margin-top: 50px;
        // padding-right: 15vw;
    }
    @include desktop-blah {
        width: 70%;
        margin-top: 0;
    }
    @include widescreen {
        width: 65%;
    }

}
.single_post_title {
    font-weight: $heavy;
    letter-spacing: 1.2px;
    line-height: 1.2;
    font-size: 24px;
    padding-bottom: 25px;
    text-transform: uppercase;


    @include tablet {
        font-size: 40px;
    }
}
.single_post_summary {
    font-family: $font-brand3;
    letter-spacing: 0.5px;

    @include tablet {
        font-size: 20px;
    }
}
.post_wrapper {
    margin-bottom: 100px;

    @include tablet {
        margin: 0 75px 100px;
    }
    @include desktop {

        margin: 0 0 100px;
    }
}

// Pagination
.post_pagination_wrapper {
    @extend %clearfix;
    margin-bottom: 50px;

    .post_pagination_content {
        width: 72%;
        // float: right;
        font-family: $font-brand4;

        @include palm-mid {
            width: 55%;
        }
        @include tablet {
            width: 40%;
            max-width: 320px;
            margin-left: 20vw;
        }
        @include desktop {
            float: none;
            max-width: none;
            width: 100%;
            margin-left: 0;
        }

        .post_pagination_header {
            font-size: 14px;
            letter-spacing: 1px;
            padding-bottom: 20px;
            text-transform: uppercase;
        }
        .post_pagination_title {
            font-size: 18px;
            font-weight: $heavy;
            font-family: $font-brand4;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding-bottom: 30px;
            line-height: 1.2;

            @include tablet {
                font-size: 24px;
            }

            @include desktop {
                font-size: 20px;
            }
        }
        .arrow_properties {
            width: 20px;
            margin-right: 20px;
            display: block;
            margin-top: -10px;
        }
    }
}
a.pagination_links {
    &:hover {
        border-bottom: 0;
    }
}

.post_copy {
    margin-top: 75px;
    font-family: $font-brand3;
    letter-spacing: 0.5px;

    p {
        margin-bottom: 30px;
    }
    p img {
        display: block;
        margin: 50px auto;

        @include desktop {
            margin: 75px auto;
        }
    }
    @include tablet {
        font-size: 20px;
    }
}
.post_layout {
    width: 100%;
    @include desktop {
        width: 70%;
    }
    @include desktop-blah {
        width: 75%;
    }
}
.all_posts_wrapper {
    // margin-bottom: 150px;
    @include laptop {
        width: 75%;
    }
    @include desktop-blah {
        // width: 82%;
        width: 79%;
    }
}

.special_wrapper {
    @include laptop {
        width: 23%;
        // height: 300px;
    }
    @include desktop-blah {
        // width: 16%;
        width: 19%;
    }

}
.special_single {
    padding: 30px 30px 0;
    // background-image: linear-gradient(172deg, #986016, #410b0b);
    @include bg_gradient(#986016, #410b0b);
    color: white;
    margin-bottom: 3.5vh;

    @include palm-mid {
        width: 46%;
    }

    @include laptop {
        width: 100%;
        padding: 50px 30px 0;
        margin-bottom: 5vh;
    }
    // @include desktop {
    //     margin-bottom: 10vh;
    // }
    // @include desktop-blah {
    //     margin-bottom: 11vh;
    // }
    // @include widescreen {
    //     margin-bottom: 16vh;
    // }

    &.two {
        @include bg_gradient(#98163f, #410b0b);
    }


}
.special_title {
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    // margin-left: 20px;
}
.special_subtitle {
    font-family: $font-brand3;
    text-transform: initial;
    font-weight: $normal;
    font-size: 12px;
    line-height: 18px;
    padding: 20px 0 30px;
}
.special_cta {
    padding-bottom: 50px;
}
a.brand_cta {
    color: $off_white;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: $heavy;
    font-family: $font-brand4;

    &:hover {
        border-bottom: 0;
        color: $off-black;

    }

    div {
        border: 1px solid;
        padding: 6px 10px;
        display: inline;

        &:hover {
            background: $off-white;
            border-color: $off-white;
            // padding: 6px 10px;
        }
    }
}
.all_posts_link {
    text-transform: uppercase;
    font-family: $font-brand4;
    letter-spacing: 1px;
    font-weight: $heavy;
}
