// Masthead
.lp_masthead {
    text-align: center;
    padding: 60px 0 35px;

    @include tablet {
        padding: 175px 0;
    }
    @include laptop {
        width: 75%;
        max-width: 615px;
        margin: auto;
    }
    @include desktop-blah {
        padding-bottom: 125px;
    }
}
.lp_masthead_subtitle {
    @include third_level_heading(12px, $off-black);
    letter-spacing: 1.15px;
    width: 100%;
    text-align: center;

    @include tablet {
        font-size: 14px;
    }
}
.lp_masthead_title {
    @include heavy_font(22px);
    padding-bottom: 25px;
    width: 100%;
    text-align: center;

    @include palm {
        font-size: 26px;
        padding-bottom: 50px;
    }

    @include tablet {
        font-size: 40px;
    }
}
.lp_masthead_summary {
    letter-spacing: 0.5px;
    padding: 0 25px;

    @include tablet {
        font-size: 24px;
    }
}

//Masthead Mini
.lp_masthead_mini {
    @include heavy_font(80px);
    text-align: center;
    padding-bottom: 75px;

    @include tablet {
        font-size: 100px;
        padding-bottom: 250px;
    }
}
.lp_sp_img {
    padding-bottom: 75px;

    @include tablet {
        width: 48%;
        padding-bottom: 0;
    }
    @include desktop {
        width: 52%;
    }
    @include widescreen {
        width: 50%;
    }
}

// Project Link
.lp_projectlink {
    padding-top: 15px;
    font-size: 10px;
    letter-spacing: 1px;

    a {
        @include heavy_font(10px);
        border-bottom: 1px solid;
    }
}

// Sell Points
.lp_sell_point {
    padding-bottom: 125px;

    @include tablet {
        padding-bottom: 250px;
    }
}
.lp_sp_content {
    text-align: center;

    @include tablet {
        width: 48%;
    }
    @include desktop {
        width: 42%;
    }
}
.lp_sp_title {
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
    @include heavy_font(70px);

    span {
        font-size: 30px;
        letter-spacing: 1.15px;
        display: block;
        line-height: 1;
        margin-top: -10px;
    }
}
.lp_sp_number {
    @include heavy_font(80px);
    letter-spacing: 2px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: -1;
}
.lp_sp_summary {
    line-height: 26px;
    letter-spacing: 0.44px;
    padding: 0 12px;
}

// Info Box
.lp_info_box {
    padding-bottom: 125px;

    @include tablet {
        padding-bottom: 250px;
        max-width: 475px;
        margin: auto;
    }

    .lp_ib_img {
        z-index: 1;
        position: relative;
    }
    .lp_info_box_content {
        margin: -78px 25px 15px;
        background-color: $off-white;
        z-index: 5;
        position: relative;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 12px 18px 25px rgba(95,95,95,0.75);

        @include tablet {
            padding: 25px 35px 15px;
        }
    }
    .lp_info_box_header {
        @include border_title;
        @include medium_font(20px);
    }
    .lp_info_box_list {
        padding-top: 25px;

        ol li {
            list-style: inherit;
            padding-bottom: 10px;
            margin: 0 0 0 20px;
        }
    }
}

// Last Call
.lp_lastcall {
    text-align: center;

    @include laptop {
        width: 75%;
        max-width: 615px;
        margin: auto;
    }

    .lp_logo {
        padding-bottom: 30px;
    }
    .lp_lastcall_title {
        padding-top: 15px;
        @include heavy_font(28px);
        line-height: 30px;
        padding-bottom: 25px;
        color: $color-brand1;

        @include desktop {
            font-size: 36px;
        }
    }
    .lp_lastcall_summary {
        letter-spacing: 0.4px;
        padding: 0  0 50px;

        @include desktop {
            font-size: 18px;
        }
    }
    .lp_lastcall_price {
        text-transform: uppercase;
        padding-bottom: 50px;
    }
}
