.svn-slider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: $slide-height;
	margin: 0 auto;
}
.slide {
	position: relative;
}
.svn-slider .slick-track {
	height: $slide-height;
}
.slick-prev {
	left: 10px !important;
	z-index: 10;
	@include laptop {
		left: 40px !important;
	}
}
.slick-next {
	right: 10px !important;
	z-index: 10;
	@include laptop {
		right: 40px !important;
	}
}
.slick-prev.slick-arrow {
	background-image: url('/assets/images/slide-left.png');
	height: 75px;
	width: 35px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	content: none;
}
.slick-prev.slick-arrow:hover {
	background-image: url('/assets/images/slide-left-black.png');
	height: 75px;
	width: 35px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.slick-prev:before {
	content: none !important;
}
.slick-next.slick-arrow {
	background-image: url('/assets/images/slide-right.png');
	height: 75px;
	width: 35px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	content: none;
}
.slick-next.slick-arrow:hover {
	background-image: url('/assets/images/slide-right-black.png');
	height: 75px;
	width: 35px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.slick-next:before {
	content: none !important;
}

/* Introduction Slide */
.slide-intro {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: $slide-height;
	width: 100%;
	@include laptop {
		width: 60%;
		float: left;	
	}
}
.intro_height {
	height: 75vh !important;
	@include laptop {
		height: 100vh !important;
	}
}
.slide-intro_text {
	display: block !important;
	// position: absolute;
	// width: 100%;
	// bottom: 0;
	// text-align: right;
	height: $slide-height;
	// margin-bottom: 25px;
	// @include flex;
	justify-content: flex-end !important;
	position: relative;
	@include laptop {
		width: 39%;
		float: left;
		position: relative;
		padding-top: 100px;
	}
}
.slide-intro_title {
	font-family: 'League Spartan', sans-serif;
	text-transform: uppercase;
	width: 100%;
	position: absolute;
	font-size: 40px;
	line-height: 45px;
	opacity: 0.6;
	text-align: right;
	top: 20px;
	right: 20px;
	@include palm-mid {
		width: 72%;
	}
	@include tablet {
		width: 62%;
	}
	@include laptop {
		font-size: 85px;
		line-height: 80px;
		left: -200px;
		top: auto;
		right: auto;
		width: 100%;
	}
}
.slide-intro_copy {
	display: none;
	@include laptop {
		display: block;
		bottom: 0;
		position: absolute;
		padding: 30px;
		font-size: 14px;	
	}
	
}
.slide1 {
	background-image: url('/assets/images/test-hendrix.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: $slide-height;
	width: 100%;
	background-position: center center;
	@include tablet {
		background-position: initial;
	}
}

/* Three-Fold Slide */
.three-fold_slide {
	width: 100%;
	
	height: $slide-height;
	background-position: center center;
	background-size: cover;
	@include laptop {
		float: left;
		width: 33.3%;
	}
}
/* mobile -only fix */
.three-fold_slide:nth-child(2) {
	display: none;
	@include laptop {
		display: block;
	}
}
.three-fold_slide:nth-child(3) {
	display: none;
	@include laptop {
		display: block;
	}
}

/* One in One Slide */
.slide-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: $slide-height;
	display: flex;
	align-content: center;
	justify-content: center;
}
.slide-inner {
	display: none;
	@include laptop {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: 90%;
		width: 40%;
		margin: 30px 0 0 40px;
	}
	
}

/* Two Plus One Slide */
.two-plus_slide {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: $slide-height;
	width: 100%;
	margin-right: 10px;
	float: left;
	@include laptop {
		width: 47%;	
	}
}
.two-plus_slide:nth-child(2) {
	display: none;
	@include laptop {
		display: block;
	}
}
.one-plus_slide {
	display: none;
	@include laptop {
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		height: $slide-height;
		width: 4%;
		float: left;
	}
}

/* Fin Slide */
.slide-fin_text {
	font-family: 'League Spartan', sans-serif;
	font-size: 60px;
	text-transform: uppercase;
}
.slide-intro_copy.slide-fin_text {
	padding: 20px !important;
	line-height: 0;
}

/* Credits Slide */
.slide_credits-wrapper {
	width: 95%;
	margin: 100px auto 0;
	@extend %clearfix;
	@include tablet {
		width: 85%;
		margin: 150px auto 0;
	}
	@include laptop {
		width: 85%;
		margin: 150px auto 0;
	}
}
.slide_credits-wrapper a:hover {
  text-decoration: none;
  color: $color-brand5;
}


.slide_credits_nav {
	@extend .slide_credits-wrapper;
	margin: 0 auto;

	@include tablet {
		margin: 50px auto;	
	}
}
.projects_credits_wrapper {
	@extend .slide_credits_nav;
	width: 100%;
}
.slide_credits-wrapper2 {
	margin: 50px auto 0;
	width: 65%;
}
.slide-credits_list {
	list-style: none;
	margin-top: 30px;
	font-size: 14px;
	text-transform: uppercase;
	@include laptop {
		width: 80%;
		float: right;
	}
}
.catalog_credits-group.slide {
	font-size: 14px;
	text-align: right;
	@include laptop {
		padding-bottom: 25px;
		float: right;
		width: 200px;
	}
}
.catalog_title-credit.slide {
	text-align: right;
	font-size: 26px;
	@include laptop {
		font-size: 40px;	
	}
	
}

// Slide-Slider
.slide-medium {
	position: relative;
	background: blue;
	width: 800px;
	height: 450px;
}
