// What We Do
.wedo-header {
  text-align: right;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  border-bottom: 1px solid;
  padding: 0 20px 10px 0;
  font-family: $font-brand1;
}
.wedo-text {
  text-align: right;
  margin-bottom: 10px;
  padding-right: 20px;

  @include laptop {
    padding-right: 0;
  }
}
.wedo-item-wrapper {
  width: 85%;
  margin-bottom: 75px;

  @include tablet {
    max-width: 350px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}
.wwd-content-wrapper {
  padding: 20px;
  border: 2px dotted $black;
  margin: 10px;
  width: 90%;

  @include palm {
    width: 75%;
  }

  @include tablet-small {
    width: 45%;
    height: 300px;
    padding: 10px;
  }

  @include tablet {
    width: 30%;
  }
}
// These classes are used within content-block.html
.wwd-title-class {
  font-size: 18px;
  line-height: 20px;
  @extend %wwd-border;
}
.wwd-copy-class {
  font-size: 16px;
  line-height: 18px;
  @extend %wwd-border;
}