.beta_page_title {
	@include heavy_font(24px);
	padding: 75px 0 50px;
	@include laptop {
		padding: 75px 0;
		font-size: 32px;
	}
}
.discipline_section {
	@include desktop {
		width: 85%;
	}
}
.small_alpha {
	padding-bottom: 50px;
	@include laptop {
		width: 48%;
	}
	@include desktop {
		width: 44%;
	}
}
.main_season {
	padding-top: 100px;

	@include tablet {
		// padding-bottom: 75px;
	}
}
.season_title {
	padding-bottom: 50px;
}

.portfolio_single_work {
	width: 100%;
	padding-bottom: 30px;

	@include palm-mid {
		width: 48%;
	}
	@include laptop {
		width: 31%;
	}
	@include desktop {
		width: 24%;
	}

	.portfolio_single_img {
		height: 200px;
		background: black;
		margin-bottom: 10px;
		background-size: cover;
		background-position: center;

		@include laptop {
			height: 250px;
		}
		&:hover {
			filter: blur(1.5px)sepia(50%);
			transition: 1.5s;
			-webkit-filter: blur(1.5px)sepia(50%);
			-webkit-transition: 1.5s;
			-moz-filter: blur(1.5px)sepia(50%);
			-moz-transition: 1.5s;
		}
	}
	.portfolio_single_title {
		@include medium_font(16px);

		
	}
}
// .portfolio-category {
// 	@include medium_font(12px);
// 	color: $color-brand2;
// }
.portfolio_grid_work {
	@include tablet {
		// margin-bottom: 95px;
	}
}

