.beta_page_title {
	@include heavy_font(24px);
	padding: 75px 0 50px;
	@include laptop {
		padding: 75px 0;
		font-size: 32px;
	}
}
.discipline_section {
	@include desktop {
		width: 85%;
	}
}
.small_alpha {
	padding-bottom: 50px;
	@include laptop {
		width: 48%;
	}
	@include desktop {
		width: 44%;
	}
}
.main_season {
	padding-top: 100px;

	@include tablet {
		// padding-bottom: 75px;
	}
}
.season_title {
	padding-bottom: 50px;
}
.portfolio_single_work {
	width: 100%;
	padding-bottom: 30px;
	padding: 0 10px 50px 0;
  	animation: fadeInTop 1s 0.5s linear both;
  	-webkit-animation: fadeInTop 1s 0.5s linear both;

	@include palm-mid {
		width: 48%;
		padding-bottom: 50px;
	}
	@include laptop {
		width: 31%;
	}
	@include desktop {
		width: 32%;
	}

	.portfolio_single_img {
		height: 200px;
		background: black;
		margin-bottom: 10px;
		background-size: cover;
		background-position: center;

		@include laptop {
			height: 350px;
		}
		&:hover {
			filter: blur(1.5px)sepia(50%);
			transition: 1.5s;
			-webkit-filter: blur(1.5px)sepia(50%);
			-webkit-transition: 1.5s;
			-moz-filter: blur(1.5px)sepia(50%);
			-moz-transition: 1.5s;
		}
	}
	.portfolio_single_title {
		@include medium_font(16px);
		text-align: center;
	}
}

// Filter for Projects 
.filter-container {
  overflow: hidden;
}
.filterDiv {
	display: none;
}
.show {
  display: block;
}
#myBtnContainer {
	margin: 0 auto 7em;
	text-align: center;
}
.filterProjects {
  text-transform: uppercase;
  font-family: $font-brand4;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  animation: fadeInTop 1s 0.7s linear both;
  -webkit-animation: fadeInTop 1s 0.7s linear both;
}
.filter-title {
	margin-bottom: 1.5em;
	letter-spacing: 2px;
}
.btn {
  border: none;
  outline: none;
  padding: 6px 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid;
  cursor: pointer;
  margin: 0 8px;
  font-family: $font-brand4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.3px;
}
.btn:hover {
  background-color: $soft-red;
}
.btn.active {
  background-color: $off-black;
  color: white;
}

// Page Header 02 Component
.page-header-02 {
  margin: 4em 0; 
  text-align: center;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  animation-name: fadeAppear;
  -webkit-animation-name: fadeAppear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  @include tablet {
    margin: 10em auto;
    max-width: 750px;
    width: 75%;  
  }
  .header-02-title {
    padding-bottom: 25px;
    text-transform: uppercase;
    font-family: $font-brand4;
    font-weight: 500;
    font-size: 30px;

    @include tablet {
      padding-bottom: 50px;
      font-size: 36px;
    }
  }
  .header-02-text {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;

    @include tablet {
      font-size: 22px;  
    }
  }
}
.portfolio_grid_work {
	margin-bottom: 12em;
}


// Animations
@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 12%, 0);
        transform: translate3d(0, 12%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 12%, 0);
        transform: translate3d(0, 12%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeAppear {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 7%, 0);
        transform: translate3d(0, 7%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeAppear {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 7%, 0);
        transform: translate3d(0, 7%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}