.phase1_full_height {
	margin: 40px 0 75px;
    position: relative;
    z-index: 1;
	@include tablet {
		margin: 75px 0;
	}
	@include desktop {
		margin: 125px 0;
	}
    @include desktop-blah {
        height: 58vh;
        margin: 0;
    }
}
// Phase 1 Home
.phase1-masthead {
    color: $off-black;
    position: relative;
    z-index: 100000;


    .phase1-header {
        font-family: $font-brand4;
        font-size: 34px;
        line-height: 1.1;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
				margin-top: 15px;

        @include tablet {
					font-size: 60px;
          line-height: 0.9;
					width: 70%;
        }

        @include desktop {
            font-size: 85px;
            width: 700px;
        }
    }
    .phase1-subheader {
        font-size: 18px;
        line-height: 1.6;

		@include tablet {
			font-size: 20px;
		}

        @include laptop {
            font-size: 22px;
            width: 760px;
        }
        @include desktop-blah {
            width: 900px;
        }
    }
}
.work_section {
    position: relative;

    @include desktop-blah {
        margin-bottom: 0;
    }
}
.work_szn {
  margin: 0 auto;
  position: relative;
  color: $off-black;

  .work_szn_header {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .work_szn_items {
    @extend %clearfix;

    .work_item_wrapper {
      float: left;
      margin-bottom: 40px;
      margin-right: 50px;
      position: relative;
      width: 100%;
      z-index: 1000;

      @include palm {
        width: 75%;
        max-width: 375px;
        margin-bottom: 50px;
      }

      @include tablet {
        width: 250px;
				height: 155px;
      }
      @include laptop {
        margin-right: 50px;
        min-height: 170px;
      }
      @include desktop-blah {
				height: inherit;
        margin-right: 25px;
        margin-bottom: 10px;
      }

      .work_item_title {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.2;
        font-family: $font-brand4;
        text-transform: uppercase;
        margin-bottom: 10px;
        position: relative;

        a {
            color: $off-black;
            z-index: 1000;
        }
      }
      .work_item_summary {
        line-height: 1.8;
        position: relative;
        z-index: 100002;

        @include palm-mid {
            width: 75%;
        }
        @include tablet {
            width: auto;
        }
      }
    }
  }
}
