// CTAs
a.brand_cta {
    color: $off_white;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: $heavy;
    font-family: $font-brand4;

    &:hover {
        border-bottom: 0;
        color: $off-black;
    }

    div {
        border: 1px solid;
        padding: 6px 10px;
        display: inline;

        &:hover {
            background: $off-white;
            border-color: $off-white;
        }
    }
}

// Landing Page CTAs
.lp_lastcall_cta {
    display: inline-block;
    margin-bottom: 50px;

    a {
        color: $off-white;

        &:hover {
            background: $off-white;
            color: $off-black;
            border: 1px solid $off-white;
        }
        div {
            border: 1px solid;
            width: auto;
            display: inline;
            padding: 14px 25px;
            @include heavy_font(16px);
            background: $off-black;

            &:hover {
                background: $off-white;
                
            }
        }
    }
}
