<!-- Template 2 -->
<div class="page_wrapper">
	<div class="sec_wrapper clear">
		<div class="some-image some-image-option"><img src="{{ project.catalog-cover-image }}" /></div>
		<div class="some-text some-text-option clear">
			<div class="some-text-inner">
				<div class="some-text-content">
					<div class="font_lz uppercase"><a href="{{ project.url }}" class="link">{{ project.title }}</a></div>
					<div class="project_copy">{{ project.featured-subtitle }}</div>
					<div class="font_size_micro brand_color uppercase">{{ project.featured-category }} | {{ project.featured-index-location }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- # Template 2 -->