<section class="reel js_scroll_reveal" style="background-image:url('/dist/images/theme2020reel-bg.png');">
    <video id="video-bg" src="/dist/images/svncrwns-2020.mp4" loop muted autoplay></video>
    <div class="video-overlay">
        <div class="frow centered-column">
            <div class="reel-info">
                <div class="reel-title">"Driving Culture, Shifting Business"</div>
                <a href="/portfolio/" class="theme2020-btns white"><div>Portfolio</div></a>
            </div>
        </div>
    </div>
</section>