<section class="newsletter js_scroll_reveal" style="background-image:url('/dist/images/theme2020-newsletter-bg.png');">
    <div class="grid">
        <div class="frow column-start">
            <div class="newsletter-intro">
                <div class="theme2020-small">Get on the list</div>
                <div class="theme2020-copy white">We make really great emails, you’ll want these in your inbox.  Packed w/ insights + tools for your biz</div>
                <a href="/subscribe/" class="theme2020-btns white"><div>Subscribe</div></a>
            </div>
        </div>
    </div>
</section>