<div class="grid">
    <section class="partners js_scroll_reveal">
        <div class="theme2020-small">Our Partners</div>
        <div class="partners-wrapper">
            <div class="logo-row">
                <div class="frow justify-between items-center">
                    <div class="logo-partner"><img src="/dist/images/partner-braneu.png" /></div>
                    <div class="logo-partner"><img src="/dist/images/partner-10skyn.png" /></div>
                    <div class="logo-partner"><img src="/dist/images/partner-irv.png" /></div>
                </div>
            </div>
            <div class="logo-row">
                <div class="frow justify-between items-center">
                    <div class="logo-partner"><img src="/dist/images/partner-bma.png" /></div>
                    <div class="logo-partner"><img src="/dist/images/partner-avam.png" /></div>
                    <div class="logo-partner"><img src="/dist/images/partner-gwcc.png" class="gwcc-logo" /></div>
                    <div class="logo-partner"><img src="/dist/images/partner-noisytenants.png" /></div>
                </div>
            </div>
            <div class="logo-row">
                <div class="frow justify-between items-center">
                    <div class="logo-partner"><img src="/dist/images/partner-bhmhs.png" /></div>
                    <div class="logo-partner"><img src="/dist/images/partner-taylors.png" /></div>
                    <div class="logo-partner"><img src="/dist/images/partner-hsr.png" /></div>
                </div>
            </div>
        </div>
    </section>
</div>
