<div class="editorial_meta">	
	<div class="frow justify-start">
	{% case section.category %}
		{% when 'photo' %}
		<div class="work-space-tag photo"><a href="/work">work &mdash; {{ section.category }}</a></div>
		{% when 'film' %}
		<div class="work-space-tag film"><a href="/work">work &mdash; {{ section.category }}</a></div>
		{% when 'website' %}
		<div class="work-space-tag website"><a href="/work">work &mdash; {{ section.category }}</a></div>
		{% when 'event' %}
		<div class="work-space-tag event"><a href="/work">work &mdash; {{ section.category }}</a></div>
		{% when 'special-project' %}
		<div class="work-space-tag special-projects">case study</div>
	{% endcase %}

	</div>
	<div class="editorial_title">{{ page.title }}</div>
	{% if section.brand-statement %}
	<div class="themealpha_small_alpha">
        <div class="small_title_wrapper">
            <!-- <div class="themealpha_small_title_line"></div> -->
            <div class="themealpha_small_title_text">{{ section.brand-statement }}</div>
        </div>
    </div>
    {% endif %}
</div>