<div class="grid">
    <section class="theme2020-contact">
        <div class="theme2020-row">
            <div class="frow justify-start">
                <div class="inquiries">
                    <div class="theme2020-small">
                        inquiries
                    </div>
                    <div class="inquiries-arrow">
                        <img src="/dist/images/inquiries-arrow.png" />
                    </div>
                </div>
    
                <div class="inquiries-info">
                    <div class="theme2020-copy">
                        For business inquiries – we're ready to learn about what you're working on.  View <a href="/" class="t20-link">our company offerings</a> and let’s schedule some time to talk about how we may help your team.
                    </div>
                    <a href="https://calendly.com/svncrwns/svncrwns-sessions?month=2020-10" class="theme2020-btns" target="_blank"><div>Schedule a Session</div></a>
                </div>
            </div>
        </div>
        <div class="theme2020-row end">
            <div class="frow justify-start">
                <div class="inquiries">
                    <div class="theme2020-small">
                        social
                    </div>
                    <div class="inquiries-arrow">
                        <img src="/dist/images/inquiries-arrow.png" />
                    </div>
                </div>
    
                <div class="inquiries-info">
                    <div class="theme2020-copy">
                        Follow us online.
                    </div>
                    <div class="social-wrapper">
                        <ul class="theme2020-list">
                            <li><a href="">Facebook</a></li>
                            <li><a href="">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<section class="instagram">
    <div class="frow justify-between">
        <div class="ig-single"><img src="/dist/images/instagram-01.png" /></div>
        <div class="ig-single"><img src="/dist/images/instagram-02.png" /></div>
        <div class="ig-single"><img src="/dist/images/instagram-03.png" /></div>
        <div class="ig-single"><img src="/dist/images/instagram-04.png" /></div>
        <div class="ig-single"><img src="/dist/images/instagram-05.png" /></div>
    </div>
</section>