<div class="theme2020-slider">
    <div class="slide" style="background-image:url('/dist/images/theme2020-bg-001.png');"></div>
    <div class="slide" style="background-image:url('/dist/images/theme2020-bg-002.png');"></div>
    <div class="slide" style="background-image:url('/dist/images/theme2020-bg-003.png');"></div>
    <div class="slide" style="background-image:url('/dist/images/theme2020-bg-004.png');"></div>
    
</div>

<div class="theme2020-intro">
    <div class="frow centered-column">
        <div class="theme2020-title">SVNCRWNS</div>
        <div class="theme2020-locations">
            <ul>
                <div class="frow justify-between">
                    <li>Baltimore</li>
                    <li>New York</li>
                    <li>Atlanta</li>
                    <li>Los Angeles</li>
                </div>
                
            </ul>
        </div>
    </div>
    
</div>