{% assign portfolio-collection = page.collection | where: "portfolio-grid", "need" %}

{% if portfolio-collection %}
    {% assign links = site[page.collection]  %}
{% endif %}

{% for link in links %}
    {% if link.title == page.title %}
        {% unless forloop.first %}
            {% assign prev = tmpprev %}
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = links[forloop.index] %}
        {% endunless %}
    {% endif %}
    {% assign tmpprev = link %}
{% endfor %}
<script>
document.body.onkeyup = function(e){
	if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
	if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
};
</script>

<section class="pagination002 dipper goSlow">
	<div class="grid">
		{% if prev %}
		<div class="single-pagination">
			<div class="pagination002-title">Previous {{ include.name }}</div>
			
			<div class="pagination002-project js_hover_trigger2">
				<a href="{{ prev.url }}" class="hover-link">
				{{ prev.title }}
				<div class="js_bg_receiver_work2" style="background-image:url('{{ prev.masthead-image }}');"></div>
				</a>
			</div>
		</div>
		{% endif %}
		{% if next %}
		<div class="single-pagination">
			<div class="pagination002-title">Next {{ include.name }}</div>
			
			<div class="pagination002-project js_hover_trigger2"><a href="{{ next.url }}" class="hover-link">
				{{ next.title }}
				<div class="js_bg_receiver_work2" style="background-image:url('{{ next.masthead-image }}');"></div>
				</a>
			</div>
		</div>
		{% endif %}
	</div>
</section>