<section class = "theme2020-section js_scroll_reveal">
    <div class="grid">
        <div class="theme2020-row">
            <div class="frow justify-between">
                <div class="theme2020-content">
                    <div class="theme2020-small">Bridging the gap for business + culture</div>
                    <div class="theme2020-copy">A brand management company + studio helping artists + businesses share their stories, develop their audience and scale their business operations.</div>
                    <a href="/contact/" class="theme2020-btns"><div>Let's Talk</div></a>
                </div>
                <div class="theme2020-offers">
                    <div class="theme2020-small">Our Offers</div>
                    <ul class="theme2020-list">
                        <li>Strategy +</li>
                        <li>Brand Design</li>
                        <li>Marketing Campaigns</li>
                        <li>Content Production</li>
                        <li>Platform Development</li>
                        <li>Creative Direction</li>
                        <li>Partnerships</li>
                    </ul>
                    <a href="/contact/" class="theme2020-btns"><div>Capabilities</div></a>
                </div>
            </div>
        </div>

        <div class="theme2020-row end">
            <div class="frow justify-between">
                <div class="theme2020-ownership">
                    <div class="founders">
                        <div class="theme2020-small">Meet the Founders</div>
                        <ul class="theme2020-list">
                            <li><a href="">Chavon Lee</a></li>
                            <li><a href="">Montier Kess</a></li>
                        </ul>
                    </div>
                    <div class="brands">
                        <div class="theme2020-small">Our Brands + Initiatives</div>
                        <ul class="theme2020-list">
                            <li><a href="">Culture Intersects</a></li>
                            <li><a href="">Black Love Offering</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class="theme2020-industries">
                    <div class="theme2020-small">Industries</div>
                    <ul class="theme2020-list">
                        <li>Beauty</li>
                        <li>Fashion</li>
                        <li>Wellness</li>
                        <li>Arts & Culture</li>
                        <li>Media</li>
                        <li>Sports</li>
                        <li>Youth</li>
                    </ul>
                </div>
            </div><!-- #.frow justify-start -->
        </div><!-- #.theme2020-row -->
    </div>
</section>