<div class="lp_lastcall">
    <div class="lp_logo"><img src="/dist/images/logo_graphic_black.png" width="30" /></div>
    <div class="lp_masthead_subtitle">
        introducing
    </div>
    <div class="lp_lastcall_title" style="color: #{{ page.bold-number-color }};">
        The {{ page.title }}
    </div>
    <div class="lp_lastcall_summary">
        {{ section.last_call_summary }}
    </div>
    <div class="lp_lastcall_price">
        starting at ${{ section.last_call_price }}
    </div>
    <div class="lp_lastcall_cta">
        <a href="{{ section.last_call_link }}" class="">
            <div style="background-color: #{{ page.bold-number-color }};">
                {{ section.last_call_link_title }}
            </div>
        </a>

    </div>
</div>
