<section class="main_season">
  <!-- <div class="season_title">
    2018 season
    <div class="season_roman">iv</div>
  </div> -->
</section>
<div class="portfolio_grid_work">
  <div class="frow justify-between">
    {% assign project_season = site.catalog | where: "portfolio-grid", "need" %}
    {% for section in project_season %}
    <div class="portfolio_single_work">
      <a href="{{ section.url }}"><div class="portfolio_single_img" style="background-image: url('{{section.portfolio-cover}}');"></div></a>
      <div class="portfolio_single_title">
      	<a href="{{ section.url }}">{{ section.title }}</a>
        <div class="frow justify-start">
        	{% case section.category %}
        		{% when 'photo' %}
        		<div class="work-space-tag photo">{{ section.category }}</div>
        		{% when 'film' %}
        		<div class="work-space-tag film">{{ section.category }}</div>
        		{% when 'website' %}
        		<div class="work-space-tag website">{{ section.category }}</div>
        		{% when 'event' %}
        		<div class="work-space-tag event">{{ section.category }}</div>
        		{% when 'special project' %}
        		<div class="work-space-tag special-projects">{{ section.category }}</div>
        	{% endcase %}
        	{% if section.work-space == "in-house" %}
        	<div class="work-space-tag in-house">{{ section.work-space }}</div>
        	{% endif %}
        	{% if section.work-space == "client" %}
        	<div class="work-space-tag client">{{ section.work-space }}</div>
        	{% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>