<div class="themealpha_contact_primary">
      <div class="small_alpha">
          <!-- <div class="small_title_wrapper">
              <div class="small_title_line"></div>
              <div class="small_title_text">{{ page.panel-title }}</div>
          </div> -->
          <div class="small_title_description">
              {{ content }}
          </div>
      </div>
      <div class="themealpha_contact_form">
        <form action="https://getsimpleform.com/messages?form_api_token=9d66432a901371a7a80c41db053ead2c" method="post" class="contact_form">

          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='localhost:4000/thank-you/' />

          <!-- all your input fields here.... -->
          <div class="contact_group">
              <div class="frow justify-between">
                  <input type='text' name='full name' placeholder="name" required class="input_item" />
                  <input type='email' name='email address' placeholder="email address" class="input_item" />
              </div>

          </div>
          <div class="contact_group">
              <div class="frow justify-between">
                  <input type='tel' name='telephone' placeholder="phone" required class="input_item" />
                  <input type='text' name='company' placeholder="company" required class="input_item" />
              </div>

          </div>
          <div class="contact_group">
              <div class="frow justify-between">
                  <input type='text' name='timeline' placeholder="timeline" required class="input_item" />
                  <input type='text' name='budget' placeholder="budget" required class="input_item" />
              </div>

          </div>

          <input type='text' name='subject' placeholder="subject" required class="input_item" />
          <input type='text' name='message' placeholder="message" required class="input_item" />

          <input type='submit' value='Send' />
        </form>
      </div><!-- .themealpha_contact_form -->
    </div><!-- .themealpha_contact_primary -->