<div class="beta_page_title">{{ page.title }}</div>
<section class="beta_masthead_section">
  <div class="discipline_section">
    <div class="frow justify-between">
      {% for item in section.panels %}
      <div class="small_alpha">
        <div class="small_title_wrapper">
          <div class="small_title_line"></div>
          <div class="small_title_text">{{ item.panel-title }}</div>
        </div>
        <div class="small_title_description">
          {{ item.panel-description }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>