<section class="newsletter js_scroll_reveal" style="background-image:url('/dist/images/theme2020-workwithus-bg.png');">
    <div class="grid">
        <div class="frow column-start">
            <div class="newsletter-intro">
                <div class="theme2020-small">Looking for a team?</div>
                <div class="theme2020-copy white">What's next for your business? Our value – creating a blueprint for how to design and operate strong companies. Join the team.</div>
                <a href="/contact/" class="theme2020-btns white"><div>Let's Talk</div></a>
            </div>
        </div>
    </div>
</section>