<div class="grid">
<div class="frow justify-start">
    <div class="post_layout">
      
      <div class="post_meta_wrapper">
        <div class="frow justify-start">
          <div class="date">
            {{ page.date | date: '%b %d %Y' }}
          </div>
          <div class="single_post_meta">
            <div class="single_post_title">
              {{ page.title }}
            </div>
            <div class="single_post_summary">
              {{ page.featured_summary }}
            </div>
          </div>
        </div>
      </div>
      
      <div class="grid_single_post fluid_width_grid">
        <div class="featured_image single_post_image" style="background-image:url('{{ page.featured_image }}');">
        </div>
      </div>

      <div class="grid fluid_width_grid">
        <div class="post_wrapper">
          <div class="post_copy" id="trigger-left">
            {{ content }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>