<div class="fixed-project-group" id="followwidget">
    <div class="fixed-project-title">featured projects</div>
	<div class="fixed-project-lp">
		<div class="image" style="background-image:url('{{ page.fixed-project-image1 }}');"></div>
		<div class="image-title"><a href="{{ page.fixed-project-url1 }}">{{ page.fixed-project-title1 }} &#8594;</a></div>
	</div>
	<div class="fixed-project-lp">
		<div class="image" style="background-image:url('{{ page.fixed-project-image2 }}');"></div>
		<div class="image-title"><a href="{{ page.fixed-project-url2 }}">{{ page.fixed-project-title2 }} &#8594;</a></div>
	</div>
	<div class="fixed-project-lp">
		<div class="image" style="background-image:url('{{ page.fixed-project-image3 }}');"></div>
		<div class="image-title"><a href="{{ page.fixed-project-url3 }}">{{ page.fixed-project-title3 }} &#8594;</a></div>
	</div>
</div>