<div class="footer_cta_wrapper">
    <div class="frow justify-between">
        <div class="single_footer_cta" style="background-image:url('/uploads/brown-textured-bg.png');">
            <div class="single_footer_wrapper">
                <div class="footer_tag">featured case study</div>
                <div class="footer_slide">
                    <img src="/uploads/case-study-gwcc.png" class="footer_slide_img" />
                    
                </div>
                <div class="footer_details_wrapper">
                    <div class="footer_details_title">Believing Takes Time</div>
                    <div class="footer_details_notes">12-week media workshop &amp; youth photography exhibit in partnership w/ Baltimore Museum of Art</div>
                </div>
            </div>
        </div>
        <div class="single_footer_cta" style="background-image:url('/uploads/yellow-textured-bg.png');">
            <div class="single_footer_wrapper">
                <div class="footer_exc">we want to work with you</div>
                <div class="footer_exc_desc">We believe that creating long term strategy influences great partnerships &amp; brand value.  We want to make impact now and partner with you to plan for our futures.  Are you in?</div>
                <a href="/contact/" class="brand_btn"><div>I'm Interested</div></a>
            </div>
            
        </div>
    </div>
</div>
