<!-- <div class="outer_wrapper">
	<div class="svn-wrapper">
		<div class="offerings-wrapper">
			<div class="offerings-title">offerings</div>
			<div class="offerings-wrapper-inner clear">
				<div class="offerings-group">
					<div class="offerings-item">lookbook design</div>
					<div class="offerings-item">short films</div>
					<div class="offerings-item">video production</div>
				</div>
				<div class="offerings-group">
					<div class="offerings-item">web design</div>
					<div class="offerings-item">editorial photography</div>
					<div class="offerings-item">concept photography</div>
				</div>
				<div class="offerings-group">
					<div class="offerings-item">brand strategy</div>
					<div class="offerings-item">brand management</div>
					<div class="offerings-item">web development</div>
				</div>
			</div>
		</div>
	</div>
</div> -->