<div class="svn-wrapper clear">
	<div class="event_wrapper">
		<div class="font_size_lg uppercase">recent<br/>&amp; new<br/>events</div>
		<div class="event_wrapper_inner uppercase clear">
			{% for item in site.data.upcoming-events %}
			<div class="event_heading event_item">
				{{ item.event_type }}<br/>
				<div class="event_title">
					<a href="{{ site.baseurl }}/catalog{{ item.event_permalink }}" class="link">{{ item.project_name }}</a>
				</div>
				{% if item.event_name %}
					{{ item.event_name }}<br/>
				{% endif %}

				{{ item.event_date_time }}<br>
				
				{% if item.event_url %}
				<a href="{{ item.event_url }}">{{ item.event_url_name }}</a>
				{% endif %}

			</div>
			{% endfor %}
		</div>
	</div>
</div>