
<div class="frow justify-start">
	{% case items.category %}
		{% when 'photo' %}
		<div class="work-space-tag photo">{{ items.category }}</div>
		{% when 'film' %}
		<div class="work-space-tag film">{{ items.category }}</div>
		{% when 'website' %}
		<div class="work-space-tag website">{{ items.category }}</div>
		{% when 'event' %}
		<div class="work-space-tag event">{{ items.category }}</div>
		{% when 'special-project' %}
		<div class="work-space-tag special-projects">case studies</div>
	{% endcase %}

</div>