<div class="lp_lastcall">
    <div class="lp_logo"><img src="/assets/images/crown-black.png" width="30" /></div>
    <div class="lp_masthead_subtitle">
        introducing
    </div>
    <div class="lp_lastcall_title">
        The {{ page.title }}
    </div>
    <div class="lp_lastcall_summary">
        {{ page.last_call_summary }}
    </div>
    <div class="lp_lastcall_price">
        starting at ${{ page.last_call_price }}
    </div>
    <div class="lp_lastcall_cta">
        <a href="#" class="">
            <div>
                Let's get started
            </div>
        </a>

    </div>
</div>
