<div class="collapsed_menu_wrapper">
	{% unless page.title == "SVNCRWNS - Home" %}
	<ul>
		<li class=""><a href="/work/">work</a></li>
		<li class=""><a href="/journal/">journal</a></li>
		<!-- <li class=""><a href="/brand-starter-kit/">brand starter kit</a></li> -->
		<li class=""><a href="/contact/">connect</a></li>
	</ul>
	{% endunless %}
	{% if page.title == "SVNCRWNS - Home" %}
	<ul>
		<li class="themealpha-nav"><a href="/work/">work</a></li>
		<li class="themealpha-nav"><a href="/journal/">journal</a></li>
		<!-- <li class="themealpha-nav"><a href="/brand-starter-kit/">brand starter kit</a></li> -->
		<li class="themealpha-nav"><a href="/contact/">connect</a></li>
	</ul>
	{% endif %}
</div>