<!DOCTYPE html>
<html>

  {% include grid/head.html %}

{% if page.title == "SVNCRWNS - Home" %}
<body style="background-color: {{ site.homepage-bg-color }};">
{% endif %}
{% unless page.title == "SVNCRWNS - Home" %}
  <body style="background-color: #{{ page.bg_color }}; color: #{{ page.text_color }}; background-image:url({{ page.bg_img}});">
{% endunless %}

    <div class="se-pre-con"></div>

    {% unless page.layout == "services-now" %}
    {% include grid/short_header2.html %}
    {% endunless %}

    {% if page.layout == "services-now" %}
    {% include grid/services_header.html %}
    {% endif %}
    
