<footer class="phase1-site-footer">
    <div class="frow justify-between">
        <div class="left_footer">
            
            {% unless page.title == "SVNCRWNS - Home" %}
            <a href="/"><img src = "/dist/images/simple_crown_blk.png" width="25" /></a>&nbsp;&nbsp;
            <div class="left_footer_copy">
                &copy;2015 &mdash; 2019. All Rights Reserved
            </div>
            {% endunless %}
            {% if page.title == "SVNCRWNS - Home" %}
            <a href="/"><img src = "/dist/images/simple_crown_blk.png" width="25" /></a>&nbsp;&nbsp;
            <div class="left_footer_copy themealpha-nav">
                &copy;2015 &mdash; 2019. All Rights Reserved
            </div>
            {% endif %}
        </div>
        <div class="right_footer">
            {% unless page.title=="SVNCRWNS - Home" %}
            <ul>
                <li><a href="/newsletter/">Newsletter</a></li>
                <li><a href="/careers/">Careers</a></li>
                <li><a href="http://www.instagram.com/svncrwns">Instagram</a></li>
                <li><a href="http://www.vimeo.com/svncrwns">Vimeo</a></li>
            </ul>
            {% endunless %}
            {% if page.title == "SVNCRWNS - Home" %}
            <ul>
                <li class="themealpha-nav"><a href="/newsletter/">Newsletter</a></li>
                <li class="themealpha-nav"><a href="/careers/">Careers</a></li>
                <li class="themealpha-nav"><a href="http://www.instagram.com/svncrwns" target="_blank" >Instagram</a></li>
                <li class="themealpha-nav"><a href="http://www.vimeo.com/svncrwns" target="_blank">Vimeo</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</footer>


<!-- Javascript Files -->


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="https://use.fontawesome.com/d476a27cae.js"></script>

{% if page.layout == "phase1-slide" or page.layout == "phase1-slide-web" %}
<script type="text/javascript" src="/slick/slick.min.js"></script>
{% endif %}

{% if page.layout == "themealpha-home" or page.layout == "themealpha-journal" %}
<script type="text/javascript" src="/slick/slick.min.js"></script>
{% endif %}

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.js"></script>

<!-- Scripts -->
<script type="text/javascript" src="/javascript/phase1-main.js"></script>
<!-- Scroll Reveal -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    window.sr = ScrollReveal();
    sr.reveal('.js_scroll_reveal', {
        reset: true,
        easing: 'ease-in',
        duration: 700
    });

    AOS.init({
        duration: 1200
    });

</script>


</body>