
// Animations
@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 12%, 0);
        transform: translate3d(0, 12%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 12%, 0);
        transform: translate3d(0, 12%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeAppear {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 7%, 0);
        transform: translate3d(0, 7%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeAppear {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 7%, 0);
        transform: translate3d(0, 7%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes goSlow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes goSlow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}