/* Artist Note */
.svn-content_contain-note { 
  position: relative; 
  font-family: $alt-font-1; 
}
.svn-content_note-date { 
  text-align: center; 
  font-size: 2.5em; 
  color: rgba(155,155,155, 0.45); 
}
.svn-content_note-issue { 
  text-transform: uppercase; 
  position: relative; 
  top: -2.4em; 
  z-index: 200; 
  text-align: center;
}
.svn-content_note-title { 
  font-size: 3.2em; 
  font-family: $alt-font-1; 
  text-align: center; 
  text-transform: uppercase;
  opacity: .26; 
  position: relative;
  top: 0em; 
  line-height: 1em; 
  @include tablet { 
    font-size: 6em; 
    line-height: 1.1em; 
  }
}
.note-title-alt-color { 
  @include brandcolortext; 
  font-size: 85px; 
  @include palm-mid { font-size: 2em; }
  @include tablet { font-size: 1.7em; }
}
.svn-content_note-text p { 
  font-size: 0.9em; 
  text-align: center; 
  padding-top: 2em; 
  position: relative; 
  padding-bottom: 1em; 
  width: 85%; 
  margin: 0 auto; 
  line-height: 2em;
  @include palm-mid { 
    font-size: 1.2em; 
    line-height: 1.8em; 
  }
  @include tablet { 
    width: 50%; 
    float: left; 
    padding-left: 1em; 
  }
}
.svn-content_note-salutation { 
  position: relative; 
  padding: 1em 0; 
  text-transform: uppercase; 
  text-align: center; 
  color: #4a4a4a; 
  font-weight: lighter; 
  @include tablet { 
    text-align: right; 
    padding: 3em 0; 
  }
}
.note-author { 
  display: block; 
  font-style: normal; 
  font-weight: bolder; 
  letter-spacing: -1px; 
  padding-top: .3em; 
}