/* Caption - Home Page */
.contain_caption_wrapper {
  position: relative;
  margin-top: 75px;

  @include laptop {
    margin-top: 0px;
  }
}
.svn-content_contain-caption { 
  
  @include palm-mid { 
    float: right;
  }
  @include tablet { 
    clear: both; 
    padding: 75px 0 10px;
    display: inline-block;
  }
  @include bigscreen {
    padding: 100px 0 10px;
  }
}
.caption-container {
  @extend %clearfix;
  padding-right: 20px;
  padding: 0 20px 25px 0;

  @include tablet {
    padding-right: 0;
    padding-bottom: 50px;
  }
}
.caption {
  width: 95%;
  margin: 20px 0 0 0px;

  @include palm {
    width: 65%;
  }
  @include tablet {
    width: 35%;
    margin: 30px 0 75px 50px;
  }
  @include laptop {
    max-width: 325px;
    min-width: 250px;
  }
  @include desktop-blah {
    width: 25%;
  }
  @include bigscreen {
    width: 30%;
  }
}
.last_caption {
  padding-bottom: 100px;
}
.close-caption {
  padding-top: 2em;
}
.svn-content_caption-sm { 
  font-family: $font-brand3;
  font-size: 13px;
  text-align: right;
  line-height: 17px;
  @include tablet {  
    display: block;
  }
  @include bigscreen {
    font-size: 18px;
    line-height: 22px;
  }
}
.svn-content_caption-title { 
  font-size: 12px; 
  text-transform: uppercase; 
  font-weight: bold; 
  font-family: $font-brand1;
  text-align: right;
  @include desktop-blah {
    font-size: 16px;
  }
}
.svn-caption_spacer { 
  height: 20px; 
  @include tablet { 
    clear: both; 
  }
}

/* New Caption for Caption2.html */
.caption_wrapper {
  float: right;
  width: 70%;
  margin-top: 20px;
  @include tablet {
    width: 48%;
  }
}
.caption_item {
  padding-bottom: 27px;
}
.caption_title {
  text-align: right;
  font-weight: 700;
  font-size: 13px;
  font-family: $font-brand1;
  text-transform: uppercase;
  margin: 15px 0 5px;

  @include desktop-blah {
    font-size: 16px;
  }
}
.caption_text {
  text-align: right;
  font-size: 12px;
  @include desktop-blah {
    font-size: 13px;
    // line-height: 22px;
  }
}
.caption_link {
  text-align: right;
  font-size: 13px;
  margin: 10px 0;
}
.caption_link a {
  
  border-bottom: 1px solid;
  padding-bottom: 4px;
}
.caption_link a:hover {
  text-decoration: none !important;
  font-weight: bold;
}