// CTA
.return-cta {
  border: 2px solid;
  width: auto;
  padding: 4px 7px 3px;
  text-transform: uppercase;
  font-size: 12px;
  float: right;
  margin-left: 25px;
  margin-bottom: 10px;
  font-family: $font-brand1;
}
.return-cta-link:hover {
  text-decoration: none;
  color: $color-brand5;
}
.return-cta:hover {
  border-color: $color-brand5;
}

// CTA Btn for Feeling INspired Component
.cta-btn div {
  width: 180px;
  padding: 15px 0;
  float: right;
  text-align: center;
  border: 2px solid;
  -webkit-font-smoothing: antialiased;
}
.cta-btn div:hover {
  color: white;
  background-color: black;
  border-color: black;
  transition: 0.5s;
}