// Featured Work Partial
.svn-content_col {
  @include tablet { margin-bottom: 5em; }
}
.svn-content_bg { 
  background: white; 
  margin: 1em;

  @include palm-mid { margin: 3em; }
  @include tablet { margin: 5em; }
  @include laptop { margin: 2em 10em; }
}
.featured-category { 
  font-size: 0.8em; 
  text-transform: uppercase; 
  font-weight: bold; 
  padding: 1.3em 0; 
  text-align: center;

  @include tablet { padding: 2em 0; }
}
.featured-title { 
  font-family: $alt-font-1; 
  text-transform: uppercase; 
  font-size: 1.5em; 
  padding: 1.5em 0; 
  text-align: center;
  @include palm-mid { 
    padding: .5em 0 2em; 
    font-size: 2.3em; 
    line-height: 1em; 
    width: 77%; 
    margin: 0 auto; 
  }
  @include tablet { font-size: 3em; }
}
.featured-text p { 
  text-align: center; 
  padding-bottom: 3em;
  @include palm-mid { 
    font-size: 1.2em; 
    line-height: 1.8em;
  }
  @include tablet { padding-bottom: 2em; }
}
.featured-button-text { 
  font-size: 0.7em; 
  font-family: $alt-font-1; 
  text-align: center;

  @include tablet { font-size: 1em; }
}
.featured-button-text a { 
  font-size: 1.5em; 
  text-decoration: none; 
  color: black; 
  border-bottom: 2px solid $brand-color-2; 
  padding-bottom: 0.5em; 
}
.featured-button-text a:hover { border-color: black; }