// Image Combo 1
.catalog_hero-section {
  
  @include tablet {
    float: right;
    width: 85%;
    z-index: -1;
    
  }
}
.catalog_hero-1 {
  @include tablet {
    position: relative;
    z-index: -2;
  }
}
.catalog_hero-2 {
  margin: -4em auto 75px;
  width: 65%;
  position: relative;
  @include tablet {
    margin-left: -2em;
  }
  @include laptop {
    margin-top: -14em;
    margin-left: -3em;
  }
  @include desktop {
    margin-top: -10em;
    margin-left: -6em;
  }
  @include desktop-blah {
    margin-top: -15em;
    margin-left: -5em;
  }
}

// Image Combo 2
.catalog_hero-section2 {
  @extend .catalog_hero-section;
  width: 65%;
  // margin-bottom: 0 !important;
  z-index: 600;
  position: relative;
  
  @include palm {
    width: 85%;
  }
  @include tablet {
    margin-bottom: 125px;
  }
}
.catalog_hero-3 {
  @extend .catalog_hero-2;
  margin: -7em auto 0 10em;
  
  width: 70%;
  @include tablet {
    margin-top: -7em;
    margin-left: -5em;
    margin-bottom: 0 !important;
  }
  @include bigscreen {
    margin-top: -13em;
  }
}

// Image Combo 3
.catalog_photo-5 {
  position: relative;
  width: 65%;
  float: right;
  margin-bottom: 50px;
}
.catalog_photo-6 {
  position: relative;
  width: 100%;
  float: right;
  // margin-bottom: 125px;
}

// Image Video Combo
.catalog_photo-7 {
  position: relative;
}
.catalog-html5-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  /* Using background image for catalog-full template */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 33vh;
  @include palm {
    background-size: cover;
    height: 40vh;
  }
  @include palm-mid {
    height: 45vh;
  }
  @include tablet {
    height: 35vh;
  }
  @include laptop {
    height: 55vh;
  }
}
.image-wrapper {
  @include tablet {
    margin-bottom: 50px;  
  }
}
