.partner-wrapper {
  background-color: #fff;
  padding: 20px 0 75px;

  @include tablet {
    padding-bottom: 10px;
  }
}
.partner-wrapper-inner {
  width: 75%;
  max-width: 780px;
  margin: 0 auto;
}
.partners-list {
  text-align: right;
}
.partners-list li {
  display: inline-block;
  text-align: right;
  width: 100px;
  margin: 0 0 50px 15px;

  @include palm {
  	width: 130px;
  }

  @include tablet {
    width: 130px;
    margin: 0 0 50px 55px;
  }
}