// Subheader
.small_title_wrapper {
  padding-bottom: 25px;
}
.small_title_line {
  display: inline-block;
  width: 32px;
  height: 2px;
  background: black;
  margin-bottom: 5px;
}
.small_title_text {
  display: inline-block;
  padding-top: 0px;
  padding-left: 10px;
  @include heavy_font(14px);
}
.small_title_description {
  padding-left: 45px;
  font-weight: $normal;
  font-size: 16px;
  line-height: 1.6;

  @include tablet {
    font-size: 20px;
  }
}

// Buttons
.sc-cta {
  padding-left: 45px;
  padding-top: 20px;

  a {

    &:hover {
      text-decoration: none;
      border-bottom: 0;
      color: $color-brand2;
      transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transform: translateX(7px);
      -o-transform: translateX(7px);
      -moz-transform: translateX(7px);
      -webkit-transform: translateX(7px);
    }
    div {
      border: 1px solid;
      width: auto;
      display: inline;
      padding: 6px 15px;
      font-size: 12px;
      text-transform: uppercase;
      font-family: $font-brand4;
      font-weight: $medium;
    }
  }
}

// CTAs
a.brand_cta {
    color: $off_white;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: $heavy;
    font-family: $font-brand4;

    &:hover {
        border-bottom: 0;
        color: $off-black;
    }

    div {
        border: 1px solid;
        padding: 6px 10px;
        display: inline;

        &:hover {
            background: $off-white;
            border-color: $off-white;
        }
    }
}

// Landing Page CTAs
.lp_lastcall_cta {
    display: inline-block;
    margin-bottom: 50px;

    @include tablet {
        margin-bottom: 150px;
    }

    a {
        color: $off-white;

        &:hover {
            background: $off-white;
            color: $off-black;
            border: 1px solid $off-white;
        }
        div {
            border: 1px solid;
            width: auto;
            display: inline;
            padding: 14px 25px;
            @include heavy_font(16px);
            background: $off-black;

            &:hover {
                background: $off-white;

            }
        }
    }
}



// T H E M E A L P H A  C O M P O N E N T S

// Home - Slider
.myslide2 {
  width: 100%;
  position: relative;
}
.home-slide {
  width: 100%;
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 75vh !important;
  margin: 0 2px;

  @include tablet {
      height: 90vh !important;
  }

  &:hover {
    filter:sepia(50%);
    -webkit-filter: sepia(50%);
  }
}
.home-slide-meta {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 20px;
  bottom: 40px;
  background: rgba(0,0,0,0.3);
  padding: 10px;

  @include desktop {
    width: 80%;
  }
  @include widescreen {
    width: 65%;
  }
}
.home-meta-title {
  @include heavy_font(30px);
  line-height: 1;

  @include laptop {
    font-size: 46px;
    line-height: 1.1;
  }

  a {
    color: $off-white;
  }
}
.home-meta-description {
  padding-top: 7px;
  display: none;
  padding-bottom: 7px;

  @include laptop {
    display: block;
    font-size: 20px;
  }
}
// .home-meta-category {
//   width: fit-content;
//   background: $color-brand2;
//   text-transform: uppercase;
//   font-weight: bold;
//   padding: 3px 5px;
//   margin-top: 10px;
//   font-size: 10px;
//   font-family: $font-brand4;
// }


// Journal Featured Slider
.journal-featured-slider {
  width: 100%;
  position: relative;
}
.journal-slide {
  width: 100%;
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 75vh !important;
  margin: 0 2px;

  @include tablet {
      height: 90vh !important;
  }

  &:hover {
    filter:sepia(50%);
    -webkit-filter: sepia(50%);
  }
}



// Film
.full_height {
  height: calc(100vh - 94px);
}
.film-wrapper {
  position: relative;
}
.film-project {
    height: 200px;
    width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @include palm {
      height: 250px;
      width: 400px;
    }

  @include tablet {
    height: 450px;
      width: 700px;
  }
  @include laptop {
    height: 550px;
    width: 850px;
  }
  @include desktop-blah {
    height: 650px;
    width: 1000px;
  }
}
.catalog-play {
  background: $color-brand3;
}

.four_wrapper {
    height: calc(100vh - 125px);
}
.four_title {
    color: $off-white;
    font-size: 125px;
    text-align: center;
    font-family: $font-brand4;
    font-weight: $heavy;
    letter-spacing: 3px;
}
.four_subtitle {
    color: $off-white;
    text-transform: uppercase;
    font-family: $font-brand4;
    font-weight: $heavy;
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 45px;
    text-align: center;
}
.four_cta {
    text-align: center;
}

a.general_link {
  color: $off-white;
  border-bottom: 1px solid;

  &:hover {
    color: $off-black;
  }
}
.work-space-tag {
  background: black;
  color: $off-white;
  padding: 3px 5px;
  // font-size: 7px;
  margin-right: 8px;
  border-radius: 4px;
  @include heavy_font(7px);

  &.in-house {
    background: $color-brand3;
  }
  &.photo {
    background: $blue1;
    color: $off-black;
  }
  &.film {
    background: $blue2;
    color: $off-black;
  }
  &.website {
    background: $blue3;
  }
  &.event {
    background: $blue4;
  }
  &.special-projects {
    background: $blue5;
  }
}