// Custom Settings

.slide-film-img {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  // background: #000 !important;
}

// Settings
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px 0 75px 0;
  border-radius: 4px;

  @include palm {
    margin: 100px 0 75px;
  }

  @include tablet {
    margin: 25px 0 75px;
  }
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 169px;
  list-style: none;

  @include palm {
    height: 400px;
  }

  @include desktop {
    height: 500px;
  }
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 320px;
  height: 450px;
  background: #ccc;
  text-align: center;
  line-height: 450px;

  @include palm {
    width: 380px;
  }

  @include tablet-small {
    width: 550px;
    line-height: 500px;
  }

  @include tablet {
    width: 700px;
  }

  @include laptop {
    width: 850px;
    height: 550px;
    line-height: 550px;
  }

  @include desktop {
    height: 600px;
    width: 975px;
    line-height: 600px;
  }

  @include desktop-blah {
    width: 1100px;
  }

  @include tv {
    width: 1250px;
    height: 750px;
    line-height: 750px;
  }

  @include bigscreen {
    width: 1400px;
    height: 900px;
    line-height: 900px;
  }
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  // background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 0.3;
  -webkit-transition: all 1.5s ease;
  border-bottom: 0;
  text-decoration: none;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
} 

