/* ====================
UPCOMING EVENTS
======================= */
.event_wrapper {
  font-family: $font-brand1;
  // padding-right: 20px;
  position: relative;
  margin-top: 150px;
  @extend %clearfix;

  @include palm {
    padding-right: 0;
  }

  @include tablet {
    margin-top: 50px;
  }

  @include desktop-blah {
    margin-top: 100px;
  }
}
.event_wrapper_inner {
  margin: 50px 0;
  width: 60%;
  float: right;
  max-width: 175px;
  @include tablet {
    width: 100%;
    max-width: none;
  }
}
.event_header {
  @include boldfontuppercase(32px, 36px);
  text-align: right;
}
.event_item {
  margin-bottom: 60px;
  @include tablet {
    width: 50%;
    float: right;
    margin-left: 40px;
    max-width: 350px;
  }
  @include laptop {
    margin-left: 50px;
    max-width: 170px;
  }
  @include desktop-blah {
    max-width: 225px;
  }
}
.event_heading {
  font-size: 14px;
  text-align: right;
  font-family: $font-brand3;
  @include desktop-blah {
    font-size: 15px;
  }
}
.event_title {
  margin: 7px 0;
  @include boldfontuppercase(28px, 40px); 
  text-align: right;

  @include tablet {
    @include boldfontuppercase(34px, 42px); 
  }

  @include laptop {
    @include boldfontuppercase(24px, 1.4);
  }

}
.event_item:last-child {
  margin-left: 0 !important;
}