.work_szn {
    margin: 0 auto;
    position: relative;

    .work_szn_header {
        text-transform: uppercase;
        font-style: italic;
        font-size: 30px;
        margin-bottom: 30px;
        color: $off-grey;
    }

    .work_szn_items {
        @extend %clearfix;
        // width: 900px;

        .work_item_wrapper {
            width: 250px;
            float: left;
            min-height: 175px;
            margin-bottom: 25px;
            margin-right: 50px;
            z-index: 700;
            position: relative;

            .work_item_title {
                font-size: 30px;
                font-weight: 700;
                height: 75px;
                line-height: 37px;
                font-family: $font-brand4;
                text-transform: uppercase;
                margin-bottom: 15px;

                a {
                    color: $off-grey;
                }
            }
            .work_item_summary {
                font-size: 18px;
                line-height: 28px;
                color: $off-grey;
            }
            .work_item_link {
                margin: 10px 0;
                text-transform: uppercase;
                font-weight: 700;
                font-family: $font-brand4;

                a {
                    color: $off-grey;
                }
            }
        }
    }
}
.phase1-js-background-receiver.hover {
  display: none;
  @include tablet {
    height: 99vh;
    width: 55vw;
    background-color: $off-black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    display: block;
    position: fixed;
    right: 0;
    left: auto;
    top: 0;
  }
}
