<!DOCTYPE html>
<html>

  {% include head.html %}
 
 
  <body class="white">

    <div class="se-pre-con"></div>
	
	<div class="body-hero" style="background-image:url({{ page.featured-body-hero  }});"></div>
    
    <div>

      {% include header.html %}

     <section class="backtop_wrapper">
      <div class="backtop-icon" id="js-backtop"><a href="#framework" class="no-line"><img src="/assets/images/slide-up.png" width="35" /></a></div>
    </section>
    
      <div class="clear">
        {{ content }}
      </div>

      {% include footer2.html %}
     
    </div>

  </body>

</html>