<!DOCTYPE html>
<html>

  {% include head.html %}

  
  <body>

    <div class="se-pre-con"></div>

    {% if page.featured-body-hero %}
      <div class="body-hero" style="background-image:url({{ page.featured-body-hero }});"></div>
    {% endif %}

    <div>

      {% include header.html %}

      {% include new_component_library/backtop_icon.html %}

      <div class="clear" style="overflow-x: hidden;">
        {{ content }}
      </div>

      {% include new_component_library/section_menu.html %}
      
      {% include footer2.html %}

      {% include html5video.html %}

    </div>

  </body>

</html>
