---
layout: white-bg
---

<!-- Back to top icon -->
<div class="backtop-icon" id="js-backtop"><a href="#home"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></div>

<article class="clear_logo svn-wrapper clear">
  <section class="project_left_col clear">
    <div class="title_anchor_wrapper">
      <div class="project_title">{{ page.title }}</div>
      <div class="project_excerpt">{{ page.excerpt }}</div>
    </div>
    
  </section>
  <section class="project_right_col">
   
      {% include image_combo_1.html %}

      <!-- Content -->
      <div class="catalog_hero_section3 clear">
        <div class="catalog_content-wrapper clear">
          {{ page.content }}
        </div>
      </div>

      {% include image_combo_2.html %}

      {% include caption1.html %}

      {% include image_combo_3.html %}

      {% include caption2.html %}

      {% include image_video_combo.html %}

      {% include caption3.html %}
    
      {% include testimonial2.html %}

      {% include credits2.html %}
    
      {% include components/return-cta.html %}
    
  </section>

  
  <!-- <div class="svn-wrapper clear">  -->
    
    <!-- <section class="catalog_section clear">
     
      <div class="catalog_content-wrapper">
        {{ page.content }}
      </div>
    </section> -->

   <!--  <section class="clear">

     
      <div class="catalog_hero-section2 clear">
       
        <div class="catalog_hero-1 clear">
          <div class="catalog_img-no svn-content_img-no-txt">03</div>
          <img src="{{ page.photo3 }}" />
        </div>
        
        <div class="catalog_hero-3">
          <div class="catalog_img-no svn-content_img-no-txt">04</div>
          <img src="{{ page.photo4 }}" />
        </div>
      </div>

      {% include caption2.html %}
      
    </section> -->
    <!-- <section class="clear">
      <div class="clear">
        <div class="catalog_photo-group" id="js-photo5">
          <div class="catalog_img-no svn-content_img-no-txt">05</div>
          <img src="{{ page.photo5 }}" />
        </div>
        <div class="catalog_photo-group  catalog_photo-group-2" id="js-photo6">
          <div class="catalog_img-no svn-content_img-no-txt">06</div>
          <img src="{{ page.photo6 }}" />
        </div>
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption5-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption5-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption6-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption6-text }}
        </div>  
      </div>
    </section> -->
   <!--  <section> -->
      <!-- {% if page.photogroup4 == "yes" %}
      <div class="catalog_photo-group" id="js-photo7">
        <div class="catalog_img-no svn-content_img-no-txt">07</div>
        <img src="{{ page.photo7 }}" />
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption7-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption7-text }}
        </div>
      </div>
      {% endif %} -->

      <!-- {% if page.visual-group == "yes" %}
      <div class="pos-rel">
        <div class="catalog_img-no svn-content_img-no-txt">07</div>
        <div class="pos-rel catalog-html5-video" style="background-image: url('{{ page.photo7 }}');">

         

          <div class="svn-video-overlay">
            <div class="video-container">

              
              <i class="fa fa-times fa-2x html5-close" aria-hidden="true"></i>

            
              <iframe id="video" src="{{ page.video-url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
          </div>
          <div class="svn-play-btn">
            <span class="play catalog-play" id="video-fullscreen"></span>
          </div>

        </div>
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption7-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption7-text }}
        </div>
      </div>
      {% endif %} -->
    <!-- </section> -->
<!--   </div> -->

  <!-- {% if page.testimonial-group == "yes" %}
  <section class="catalog_testimonial-group clear">
    <div class="svn-wrapper">
      <div>testimonial</div>
      <div>
        <div class="catalog_testimonial-text">{{ page.testimonial-text }}</div>
        <div>{{ page.testimonial-author }}</div>
      </div>
    </div>
  </section>
  {% endif %} -->
</article>