---
layout: default
---
<div class="press">


  <article class="catalog-content">
    <div class="catalog-hero_group">
      <div class="catalog-hero catalog-hero1"><img src=" {{ page.img-path }}"/></div>
      <div class="catalog-hero catalog-hero2"><img src=" {{ page.img-path2 }}"/></div>
    </div>

    <div class="catalog-primary_group catalog-single-wrapper clear">
      <div class="catalog-title_group">
        <div class="catalog-title"><a href="{{ page.url }}">{{ page.title }}</a></div>
        <div class="catalog-date">{{ page.date | date: '%B %d %Y' }}</div>
        <div class="catalog-credits_title">credits</div>
        <ul class="catalog-credits_group">
          <li class="catalog-credits_position">{{ page.position1 }}</li>
          <li class="catalog-credits_artist">{{ page.artist1 }}</li>
          <li class="catalog-credits_position">{{ page.position2 }}</li>
          <li class="catalog-credits_artist">{{ page.artist2 }}</li>
          <li class="catalog-credits_position">{{ page.position3 }}</li>
          <li class="catalog-credits_artist">{{ page.artist3 }}</li>
        </ul>
      </div>
      
      <!-- <div class="separator"></div> -->
      
      <div class="catalog-post_content">
        {{ page.content }}
      </div>
    </div>

    <div class="separator clear"></div>

    <div class="catalog-secondary_group catalog-single-wrapper clear">
      
      {% if page.video-group == "yes" %}
      <!-- Video Group -->
      <div class="catalog-video_group center-position clear">
        <div class="catalog-video_title">video</div>
        <div class="catalog-video_content center-position">
          <iframe src="https://player.vimeo.com/video/178758716" width="1000" height="413" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="catalog-video_meta catalog-video_name">{{ page.video-name }}</div>
        <div class="catalog-video_meta catalog-video_excerpt">{{ page.video-excerpt }}</div>
      </div>
      <div class="separator"></div>
      {% endif %}


      <!-- Photo Group -->
      <div class="catalog-photo_group">
        {% if page.photo1-group == "yes" %}
        <div class="catalog-photo_container">
          <div class="catalog-photo_number-pos svn-content_img-no-txt">01</div>
          <img src="{{ page.img-path }}" class="catalog-photo"/>
        </div>
        {% endif %}
        {% if page.photo2-group == "yes" %}
        <div class="catalog-photo_container">
          <div class="catalog-photo_number-pos svn-content_img-no-txt">02</div>
          <img src="{{ page.photo3 }}" class="catalog-photo" />
        </div>
        {% endif %}
        {% if page.photo3-group == "yes" %}
        <div class="catalog-photo_container">
          <div class="catalog-photo_number-pos svn-content_img-no-txt">03</div>
            <img src="{{ page.img-path2 }}" class="catalog-photo" />
        </div>
        {% endif %}
        {% if page.photo4-group == "yes" %}
        <div class="catalog-photo_container">
          <div class="catalog-photo_number-pos svn-content_img-no-txt">04</div>
            <img src="{{ page.photo4 }}" class="catalog-photo" />
        </div>
        {% endif %}
        {% if page.photo5-group == "yes" %}
        <div class="catalog-photo_container">
          <div class="catalog-photo_number-pos svn-content_img-no-txt">05</div>
            <img src="{{ page.photo5 }}" class="catalog-photo" />
        </div>
        {% endif %}
      </div>

      <div class="separator"></div>

      <!-- Caption Group -->

      <div class="catalog-caption_group">
        {% if page.photo1-group == "yes" %}
        <div class="svn-content_contain-caption">
          <div class="svn-content_caption-title">
          {{ page.caption1-title }}
          </div>
          <div class="svn-content_caption-sm">
          {{ page.caption1-text }}
          </div>  
        </div>
        {% endif %}

        {% if page.photo2-group == "yes" %}
        <div class="svn-content_contain-caption">
          <div class="svn-content_caption-title">
          {{ page.caption2-title }}
          </div>
          <div class="svn-content_caption-sm">
          {{ page.caption2-text }}
          </div>  
        </div>
        {% endif %}

        {% if page.photo3-group == "yes" %}
        <div class="svn-content_contain-caption">
          <div class="svn-content_caption-title">
          {{ page.caption3-title }}
          </div>
          <div class="svn-content_caption-sm">
          {{ page.caption3-text }}
          </div>  
        </div>
        {% endif %}

        {% if page.photo4-group == "yes" %}
        <div class="svn-content_contain-caption">
          <div class="svn-content_caption-title">
          {{ page.caption4-title }}
          </div>
          <div class="svn-content_caption-sm">
          {{ page.caption4-text }}
          </div>  
        </div>
        {% endif %}

        {% if page.photo5-group == "yes" %}
        <div class="svn-content_contain-caption">
          <div class="svn-content_caption-title">
          {{ page.caption5-title }}
          </div>
          <div class="svn-content_caption-sm">
          {{ page.caption5-text }}
          </div>  
        </div>
        {% endif %}

      </div>

      <div class="separator"></div>

      <!-- Testimonial Group -->

      {% if page.testimonial-group == "yes" %}
      <div class="catalog-testimonial_group">
        <div class="catalog-testimonial_cover">
          <div class="title catalog-testimonial_title">{{ page.testimonial-category }}</div>
          <div class="catalog-testimonial_text">
            {{ page.testimonial-text }}
          </div>
          <div class="title catalog-testimonial_author">
            {{ page.testimonial-author }}
          </div>
        </div>
      </div>
      {% endif %}

    </div>
    
  </article>

</div>
