---
layout: white-bg
---

<!-- <div class="spacer2x"></div> -->

<article class="svn-wrapper video">
	
  <section>
    {% if page.video-url %}
      <div class="pos-rel">
        <div class="pos-rel svn-primary-hero film-hero" style="background-image: url('{{ page.film-hero }}');">

          <div class="svn-video-overlay">
            <div class="video-container">

              <!-- SVG Close (X) Icon -->
              <i class="fa fa-times fa-2x html5-close" aria-hidden="true"></i>

              <!-- Embedded video -->
              <iframe id="video" src="{{ page.video-url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
          </div>
          <div class="svn-play-btn">
            <span class="play catalog-play" id="video-fullscreen"></span>
          </div>

        </div>
      </div>
    {% endif %} 
  </section>

	<section class="catalog_section video clear">
    <div class="catalog_credits-wrapper video">
      <div class="catalog_video-title">{{ page.title }}</div>
      {{ page.content }}
    </div>
    {% include video-credits-list.html %}
  </section>

 

</article>
