---
layout: white-bg
---

<article>
  <section class="site-wrapper clear">
    <div class="catalog_title">{{ page.title }}</div>
    <div class="catalog_hero-section">
      <div class="catalog_hero-1 clear">
        <div class="catalog_img-no svn-content_img-no-txt">01</div>
        <img src="{{ page.photo1 }}" />
      </div>
      <div class="catalog_hero-2">
        <div class="catalog_img-no svn-content_img-no-txt">02</div>
        <img src="{{ page.photo2 }}" />
      </div>
    </div>
    <div class="backtop-icon" id="js-backtop"><a href="#home"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a></div>
  </section>
  <div class="svn-wrapper clear"> 
    <section class="catalog_section clear">
      <div class="catalog_credits-wrapper">
        {% include project-credits-list.html %}
      </div>
      <div class="catalog_content-wrapper">
        {{ page.content }}
      </div>
    </section>
    <section class="clear">
      <div class="pos-rel clear">
        <div class="catalog_photo-group">
          <div class="catalog_img-no svn-content_img-no-txt">03</div>
          <img src="{{ page.photo3 }}" />
        </div>
        <div class="catalog_photo-group catalog_photo-group-2">
          <div class="catalog_img-no svn-content_img-no-txt">04</div>
          <img src="{{ page.photo4 }}" />
        </div>
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption1-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption1-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption2-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption2-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption3-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption3-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption4-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption4-text }}
        </div>  
      </div>
    </section>
    <section class="clear">
      <div class="clear">
        <div class="catalog_photo-group" id="js-photo5">
          <div class="catalog_img-no svn-content_img-no-txt">05</div>
          <img src="{{ page.photo5 }}" />
        </div>
        <div class="catalog_photo-group  catalog_photo-group-2" id="js-photo6">
          <div class="catalog_img-no svn-content_img-no-txt">06</div>
          <img src="{{ page.photo6 }}" />
        </div>
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption5-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption5-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption6-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption6-text }}
        </div>  
      </div>
    </section>
    <section>
      {% if page.photogroup4 == "yes" %}
      <div class="catalog_photo-group" id="js-photo7">
        <div class="catalog_img-no svn-content_img-no-txt">07</div>
        <img src="{{ page.photo7 }}" />
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption7-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption7-text }}
        </div>
      </div>
      {% endif %}

      {% if page.visual-group == "yes" %}
      <div class="pos-rel">
        <div class="catalog_img-no svn-content_img-no-txt">07</div>
        <div class="pos-rel catalog-html5-video" style="background-image: url('{{ page.photo7 }}');">

          <!-- using image src for image, makes the video play button NOT centered on all sides

          <div class="catalog_photo-group" id="js-photo7">
            <div class="catalog_img-no svn-content_img-no-txt">07</div>
            <img src="{{ page.photo7 }}" class="catalog_img-filter" />
          </div> -->

          <div class="svn-video-overlay">
            <div class="video-container">

              <!-- SVG Close (X) Icon -->
              <i class="fa fa-times fa-2x html5-close" aria-hidden="true"></i>

              <!-- Embedded video -->
              <iframe id="video" src="{{ page.video-url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
          </div>
          <div class="svn-play-btn">
            <span class="play catalog-play" id="video-fullscreen"></span>
          </div>

        </div>
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption7-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption7-text }}
        </div>
      </div>
      {% endif %}
    </section>
  </div>
  {% if page.testimonial-group == "yes" %}
  <section class="catalog_testimonial-group clear">
    <div class="svn-wrapper">
      <div>testimonial</div>
      <div>
        <div class="catalog_testimonial-text">{{ page.testimonial-text }}</div>
        <div>{{ page.testimonial-author }}</div>
      </div>
    </div>
  </section>
  {% endif %}
</article>