---
layout: white-bg-no-video
---

<article class="svn-slider clear">

  <!-- Slide 1 - Introduction Slide -->
  <div class="slide">
    <div class="slide-intro"></div>
    <div class="slide-intro_text">
      <div class="slide-intro_title">introduction here</div>
      <div class="slide-intro_copy">
        On a warm and cloudy evening, before the rain poured out of the clouds, the sky was a bright, beautiful orange with shadows of green - a rainbow before the storm. Featuring Chavon and her kimono.
      </div>
    </div>
  </div>

  <!-- Slide 2 - Three-Fold Slide -->
  <div class="slide">
    <div class="three-fold_slide three-fold_slide_01"></div>
    <div class="three-fold_slide three-fold_slide_02"></div>
    <div class="three-fold_slide three-fold_slide_03"></div>
  </div>

  <!-- Slide 3 - One in One Slide -->
  <div class="slide slide-bg">
    <div class="slide-inner">
      
    </div>
  </div>

  <!-- Slide 4 - Full Width Slide -->
  <div class="slide slide1">
    
  </div>

  <!-- Slide 5 - Two Plus One Slide -->
  <div class="slide">
      <div class="two-plus_slide"></div>
      <div class="two-plus_slide"></div>
      <div class="one-plus_slide"></div>
  </div>

  <!-- Slide 6 - Full Width Slide -->
  <div class="slide slide1">
    
  </div>

  <!-- Slide 7 - Fin Slide -->
  <div class="slide">
    <div class="slide-intro"></div>
    <div class="slide-intro_text">
      <div class="slide-intro_copy slide-fin_text">
        fin.
      </div>
    </div>
  </div>

  <!-- Slide 8 - Credits Slide -->
  <div class="slide">
    <div class="slide_credits-wrapper">
      <div class="slide_title catalog_title-credit video">credits</div>
      <ul class="slide-credits_list">
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
            
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
          </ul>
        </li>
        <li class="catalog_credits-group slide">
          producer
          <ul class="catalog_credits-artist video">
            <li>montier kess</li>
            <li>montier kess</li>
            <li>montier kess</li>
            <li>montier kess</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</article>
