---
layout: white-bg
---
<!-- Don't need this section, not showing a page title -->
<!-- <section class="title-container clear">  
  <div class="spacer2x"></div>
  <div class="title-icon"><img src="/assets/images/crown-logo.svg" /></div>
  <div class="title">featured work</div>
  <div class="spacer3x"></div>
</section> -->

<article>
  <section class="site-wrapper clear">
    <div class="catalog_title">{{ page.title }}</div>
    <div class="catalog_hero-section">
      <div class="catalog_hero-1 clear">
        <div class="catalog_img-no svn-content_img-no-txt">01</div>
        <img src="{{ page.photo1 }}" />
      </div>
      <div class="catalog_hero-2">
        <div class="catalog_img-no svn-content_img-no-txt">02</div>
        <img src="{{ page.photo2 }}" />
      </div>
    </div>
  </section>
  <div class="svn-wrapper clear"> 
    <section class="catalog_section clear">
      <div class="catalog_credits-wrapper">
        <div class="catalog_title-credit">credits</div>
        <ul class="credits-list">
          <li class="catalog_credits-group">
            {{ page.position1 }}
            <ul class="catalog_credits-artist">
              <li>{{ page.artist1 }}</li>
              {% if page.add1b == "yes" %}
              <li>{{ page.artist1b }}</li>
              {% endif %}
              {% if page.add1c == "yes" %}
              <li>{{ page.artist1c }}</li>
              {% endif %}
              {% if page.add1d == "yes" %}
              <li>{{ page.artist1d }}</li>
              {% endif %}
              {% if page.add1e %}
              <li>{{ page.artist1e }}</li>
              {% endif %}
            </ul>
          </li>
          <li class="catalog_credits-group">
            {{ page.position2 }}
            <ul class="catalog_credits-artist">
              <li>{{ page.artist2 }}</li>
              {% if page.add2b == "yes" %}
              <li>{{ page.artist2b }}</li>
              {% endif %}
              {% if page.add2c == "yes" %}
              <li>{{ page.artist2c }}</li>
              {% endif %}
              {% if page.add2d == "yes" %}
              <li>{{ page.artist2d }}</li>
              {% endif %}
              {% if page.add2e %}
              <li>{{ page.artist2e }}</li>
              {% endif %}
            </ul>
          </li>
          <li class="catalog_credits-group">
            {{ page.position3 }}
            <ul class="catalog_credits-artist">
              <li>{{ page.artist3 }}</li>
              {% if page.add3b == "yes" %}
              <li>{{ page.artist3b }}</li>
              {% endif %}
              {% if page.add3c == "yes" %}
              <li>{{ page.artist3c }}</li>
              {% endif %}
              {% if page.add3d == "yes" %}
              <li>{{ page.artist3d }}</li>
              {% endif %}
              {% if page.add3e %}
              <li>{{ page.artist3e }}</li>
              {% endif %}
            </ul>
          </li>
          {% if page.addpos4 == "yes" %}
          <li class="catalog_credits-group">
            {{ page.position4 }}
            <ul class="catalog_credits-artist">
              <li>{{ page.artist4 }}</li>
              {% if page.add4b == "yes" %}
              <li>{{ page.artist4b }}</li>
              {% endif %}
              {% if page.add4c == "yes" %}
              <li>{{ page.artist4c }}</li>
              {% endif %}
              {% if page.add4d == "yes" %}
              <li>{{ page.artist3d }}</li>
              {% endif %}
              {% if page.add4e %}
              <li>{{ page.artist3e }}</li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
          {% if page.addpos5 == "yes" %}
          <li class="catalog_credits-group">
            {{ page.position5 }}
            <ul class="catalog_credits-artist">
              <li>{{ page.artist5 }}</li>
              {% if page.add5b == "yes" %}
              <li>{{ page.artist5b }}</li>
              {% endif %}
              {% if page.add5c == "yes" %}
              <li>{{ page.artist5c }}</li>
              {% endif %}
              {% if page.add5d == "yes" %}
              <li>{{ page.artist5d }}</li>
              {% endif %}
              {% if page.add5e %}
              <li>{{ page.artist5e }}</li>
              {% endif %}
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="catalog_content-wrapper">
        {{ page.content }}
      </div>
    </section>
    <section class="clear">
      <div class="pos-rel clear">
        <div class="catalog_photo-group">
          <div class="catalog_img-no svn-content_img-no-txt">03</div>
          <img src="{{ page.photo3 }}" />
        </div>
        <div class="catalog_photo-group catalog_photo-group-2">
          <div class="catalog_img-no svn-content_img-no-txt">04</div>
          <img src="{{ page.photo4 }}" />
        </div>
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption1-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption1-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption2-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption2-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption3-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption3-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption4-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption4-text }}
        </div>  
      </div>
    </section>
    <section class="clear">
      <div class="clear">
        <div class="catalog_photo-group" id="js-photo5">
          <div class="catalog_img-no svn-content_img-no-txt">05</div>
          <img src="{{ page.photo5 }}" />
        </div>
        <div class="catalog_photo-group  catalog_photo-group-2" id="js-photo6">
          <div class="catalog_img-no svn-content_img-no-txt">06</div>
          <img src="{{ page.photo6 }}" />
        </div>
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption5-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption5-text }}
        </div>  
        <div class="svn-caption_spacer"></div>
        <div class="svn-content_caption-title">
          {{ page.caption6-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption6-text }}
        </div>  
      </div>
    </section>
    <section>
      {% if page.photogroup4 == "yes" %}
      <div class="catalog_photo-group" id="js-photo7">
        <div class="catalog_img-no svn-content_img-no-txt">07</div>
        <img src="{{ page.photo7 }}" />
      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption7-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption7-text }}
        </div>
      </div>
      {% endif %}
      {% if page.visual-group == "yes" %}
      <div class="pos-rel catalog-html5-video">
        <div class="catalog_photo-group" id="js-photo7">
          <div class="catalog_img-no svn-content_img-no-txt">07</div>
          <img src="{{ page.photo7 }}" class="catalog_img-filter" />
        </div>

        <div class="svn-video-overlay">
          <div class="video-container">

            <!-- SVG Close (X) Icon -->
            <i class="fa fa-times html5-close" aria-hidden="true"></i>

            <!-- Embedded video -->
            <iframe id="video" src="{{ page.video-url }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          </div>
        </div>
        <div class="svn-play-btn catalog-play-btn">
          <span class="play catalog-play" id="video-fullscreen"></span>
        </div>

      </div>
      <div class="svn-content_contain-caption catalog_caption-close">
        <div class="svn-content_caption-title">
          {{ page.caption7-title }}
        </div>
        <div class="svn-content_caption-sm">
          {{ page.caption7-text }}
        </div>
      </div>
      {% endif %}
    </section>
  </div>
  {% if page.testimonial-group == "yes" %}
  <section class="catalog_testimonial-group clear">
    <div class="svn-wrapper">
      <div>testimonial</div>
      <div>
        <div class="catalog_testimonial-text">{{ page.testimonial-text }}</div>
        <div>{{ page.testimonial-author }}</div>
      </div>
    </div>
  </section>
  {% endif %}
</article>