<!DOCTYPE html>
<html>

  {% include head.html %}

  
  <body>

    <div class="se-pre-con"></div>

    <div class="body-hero" style="background-image:url('/assets/images/project_collabmore/collabmore-bg.png');"></div>

    <div>

      {% include header.html %}

      {% include new_component_library/backtop_icon.html %}

      <div class="clear" style="overflow-x: hidden;">
        <div class="coming-soon-wrapper">
          <div class="frow centered-column">
            <p class="coming-soon-title">
              {% if page.title == 'Lost - 404' %} sorry,<br/>you're lost {% else %} coming soon {% endif %}</p>
          
            <div class="coming-btn-wrapper">
              <div>
                <a href="/" class="coming-btn-border">
                    <div class="coming-btn">go home</div>
                  </a>
              </div>

              <div>
                  <a href="{{ site.baseurl }}/featured" class="coming-btn-border">
                    <div class="coming-btn">go to featured</div>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include new_component_library/section_menu.html %}
      
      {% include footer2.html %}

      {% include html5video.html %}

    </div>

  </body>

</html>

