{% include grid/head_header_color.html %}
<div class="grid blm">
  <div class="beta_page_title">{{ page.title }}</div>
  <div class="themealpha_contact_wrapper">
    <div class="frow justify-between">
      {% for section in page.page_sections limit: 2 %}
        {% include components/block-{{section.block}}.html %}
      {% endfor %}
    </div>
  </div>

  {% for section in page.page_sections offset: 2 %}
    {% include components/block-{{section.block}}.html %}
  {% endfor %}
  
</div>
{% include grid/end_footer.html %}

