{% include grid/head_header_color.html %}


<div class="grid">
	<div class="editorial_meta">
		
		<div class="frow justify-start">
		{% case page.category %}
			{% when 'photo' %}
			<div class="work-space-tag photo">{{ page.category }}</div>
			{% when 'film' %}
			<div class="work-space-tag film">{{ page.category }}</div>
			{% when 'website' %}
			<div class="work-space-tag website">{{ page.category }}</div>
			{% when 'event' %}
			<div class="work-space-tag event">{{ page.category }}</div>
			{% when 'special project' %}
			<div class="work-space-tag special-projects">{{ page.category }}</div>
		{% endcase %}

		</div>
		<div class="editorial_title">{{ page.title }}</div>
		{% if page.brand-statement %}
		<div class="themealpha_small_alpha">
	        <div class="small_title_wrapper">
	            <div class="themealpha_small_title_line"></div>
	            <div class="themealpha_small_title_text">{{ page.brand-statement }}</div>
	        </div>
	    </div>
	    {% endif %}
	</div>	

	{% if page.project-details-cover %}
	<section class="project_details_section">
		<div class="project_details_cover" style="background-image:url('/dist/images/{{ page.project-details-cover }}');"></div>
		<div class="project_details">
			
			<div class="project_details_title">Project Details</div>
			<div class="frow justify-between">
				<div class="themealpha_small_beta">
				    <div class="themealpha_project_info_wrapper">
						<div class="themealpha_project_header_text">01. About this Project</div>
				    </div>
				    <div class="themebeta_title_description">
						{{ page.summary }}
				    </div>
				</div>
				<div class="themealpha_small_beta">
				    <div class="themealpha_project_info_wrapper">
						<div class="themealpha_project_header_text">02. Opportunity</div>
				    </div>
				    <div class="themebeta_title_description">
						{{ page.opportunity }}
				    </div>
				</div>
				<div class="themealpha_small_beta">
				    <div class="themealpha_project_info_wrapper">
						<div class="themealpha_project_header_text">03. Insights</div>
				    </div>
				    <div class="themebeta_title_description">
						{{ page.insights }}
				    </div>
				</div>
				<div class="themealpha_small_beta">
				    <div class="themealpha_project_info_wrapper">
						<div class="themealpha_project_header_text">04. Solution</div>
				    </div>
				    <div class="themebeta_title_description">
						{{ page.solution }}
				    </div>
				</div>		
			</div>
		</div>
	</section>
	{% endif %}

	<section class="editorial_images">
		<div class="grid">
			{{ content }}

			{% if page.website-link %}
			<section class="editorial_links">
				
				<div class="view_website"><a href="{{ page.website-link }}"> View Website <span>&#8594;</span></a></div>
				
				{% if page.code-link %}
				<div class="view_website"><a href="{{ page.code-link }}"> View Code <span>&#8594;</span></a></div>{% endif %}
			</section>
			{% endif %}
		</div>
	</section>

	
</div>

{% include grid/end_footer.html %}