{% include grid/head_header_color.html %}

<div class="grid-bg" style="background-image: url('/assets/images/MASK-IMG.png');">
	<div class="grid">
	    <div class="phase1-site-wrapper">

		    <section class="phase1_full_height">
		        <div class="frow flex-centered">
		            <div class="phase1-masthead">
		                <div class="phase1-header">
		                    Strategy + Production
		                </div>
		                <div class="phase1-subheader">
		                    SVNCRWNS is a strategy and production company that started with the single mission of bridging the gap between community and commerce through creative engineering.  We focus on strategic growth for change-oriented entrepreneurs and institutions to help them make better decisions, turn those decisions into action and deliver the sustainable success they desire.  We advise on their most critical issues: business strategy, marketing, operations and digital transformation. <div>[Pronounced: seven crowns]</div>
		                </div>
		            </div>
		        </div>
		    </section>

		</div>
	</div>
</div>

<div class="grid_bgcolor" style="background-color: #D6C4B2;">
	<div class="grid grid-smash">
		<div class="frow justify-start">
			<div class="our_work_home">
				<div class="small_title_wrapper">
					<div class="small_title_line"></div>
					<div class="small_title_text">Our Work</div>
				</div>
				<div class="small_title_description">
					Our mission isn’t to churn out websites and design assets — we’re apart of your team and our main priority is helping our clients grow their organizations
				</div>
				<div class="sc-cta">
					<a href="#">
						<div>all work → </div>
					</a>
				</div>
			</div>

			<div class="our_work_portfolio">
				<div class="season_title">
					2018 season
					<div class="season_roman">iv</div>
				</div>
				<div class="portfolio_grid_home">
					<div class="frow justify-between">

						<div class="single_col_portfolio_alpha">

							{% assign season_4 = site.catalog | where: "season", "4" | sort: "order" %}
							{% for items in season_4 limit: 3 %}
								
								{% include components/single_portfolio_home.html %}
								
							{% endfor %}
						</div>
						<div class="single_col_portfolio_beta">
							{% assign season_4 = site.catalog | where: "season", "4" %}
							{% for items in season_4 limit: 3 offset:3 %}
								{% include components/single_portfolio_home.html %}
							{% endfor %}
						</div>
						<div class="single_col_portfolio_alpha">
							{% assign season_4 = site.catalog | where: "season", "4" %}
							{% for items in season_4 limit: 3 offset:6 %}
								{% include components/single_portfolio_home.html %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include grid/end_footer.html %}