{% include grid/head_header_color.html %}

<div class="themealpha-phase1-masthead">
    <div class="themealpha-phase1-header">
        Strategy + Production
    </div>
    <div class="themealpha-phase1-subheader">
        SVNCRWNS is a strategy and production company that started with the single mission of bridging the gap between community and commerce through creative engineering.  We focus on strategic growth for change-oriented entrepreneurs and institutions to help them make better decisions, turn those decisions into action and deliver the sustainable success they desire.  We advise on their most critical issues: business strategy, marketing, operations and digital transformation. <div class="phase1-caption">[Pronounced: seven crowns]</div>
    </div>
</div>


<div class="themealpha-home-section-title">Our Work</div>
<div class="myslide2">
	<div class="home-slide" style="background-image: url('/assets/images/home-slide-1.png');">
		<div class="home-slide-meta">
			<div class="home-meta-title">FAM @ Walters Gallery</div>
			
			<div class="home-meta-description">Jade is a writer, producer + director and she's launching a brand, Thursday Night Service, and reached out for video and photography content, social media curation.
			</div>
			<div class="home-meta-category">Photography</div>
		</div>
	</div>
	<div class="home-slide" style="background-image: url('/assets/images/home-slide-2.png');">
		<div class="home-slide-meta">
			<div class="home-meta-title">Aybe, Singer + Songwriter</div>
			
			<div class="home-meta-description">Jade is a writer, producer + director and she's launching a brand, Thursday Night Service, and reached out for video and photography content, social media curation.
			</div>
			<div class="home-meta-category">Photography</div>
		</div>
	</div>
	<div class="home-slide" style="background-image: url('/assets/images/home-slide-3.png');">
		<div class="home-slide-meta">
			<div class="home-meta-title">Believing takes Time</div>
			
			<div class="home-meta-description">Jade is a writer, producer + director and she's launching a brand, Thursday Night Service, and reached out for video and photography content, social media curation.
			</div>
			<div class="home-meta-category">Event</div>
		</div>
	</div>
	<div class="home-slide" style="background-image: url('/assets/images/home-slide-4.png');">
		<div class="home-slide-meta">
			<div class="home-meta-title">Engagement: Love on Display</div>
			
			<div class="home-meta-description">Jade is a writer, producer + director and she's launching a brand, Thursday Night Service, and reached out for video and photography content, social media curation.
			</div>
			<div class="home-meta-category">Event</div>
		</div>
	</div>
	<div class="home-slide" style="background-image: url('/assets/images/home-slide-5.png');">
		<div class="home-slide-meta">
			<div class="home-meta-title">Editorial: Renegade Bride</div>
			
			<div class="home-meta-description">Jade is a writer, producer + director and she's launching a brand, Thursday Night Service, and reached out for video and photography content, social media curation.
			</div>
			<div class="home-meta-category">Photography</div>
		</div>
	</div>
	<div class="home-slide" style="background-image: url('/assets/images/home-slide-6.jpg');">
		<div class="home-slide-meta">
			<div class="home-meta-title">Thursday Night Service</div>
			
			<div class="home-meta-description">Jade is a writer, producer + director and she's launching a brand, Thursday Night Service, and reached out for video and photography content, social media curation.
			</div>
			<div class="home-meta-category">Photography</div>
		</div>

	</div>
</div>


{% include grid/end_footer.html %}