<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="se-pre-con"></div>
    {% include newsletter_topbar.html %}
    <div class="grid">
        {% include short_header.html %}
    </div>
    <div class="newsletter_wrapper">
        <div class="frow justify-between">
            <div class="newsletter_page">
                
            </div>
            {{ content }}
        </div>
    </div>

    <div class="grid">
        {%  include short_footer.html %}
    </div>
  </body>

</html>
