{% include grid/head_header_color.html %}

  <div class="slide_web_cover" style="background-image:url('/dist/images/{{ page.phase1-hero }}');">
    <div class="frow centered">
      <div class="phase1_slider_web">
        {% for item in site.data[page.slider] %}
          <div class="phase1_cover_slide_web" style="background-image:url('{{ item.slide }}')"></div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include components/phase-slide-title.html %}

{% include grid/end_footer.html %}
