<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="se-pre-con"></div>
    {% include newsletter_topbar.html %}
    <div class="grid fixed_width_grid">
        {% include short_header.html %}
        <div class="post_meta_wrapper">
            <div class="frow justify-start">
                <div class="date">
                    {{ page.date | date: '%B %d %Y' }}
                </div>
                <div class="single_post_meta">
                    <div class="single_post_title">
                        {{ page.title }}
                    </div>
                    <div class="single_post_summary">
                        {{ page.featured_summary }}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="grid_full fixed_width_grid">
        <div class="featured_image single_post_image" style="background-image:url('{{ page.featured_image }}');">
        </div>
    </div>

    <div class="grid fixed_width_grid">
        <div class="frow direction-reverse">
            <div class="post_wrapper">
                <div class="post_copy">
                    {{ content }}
                </div>
            </div>

            {% include components/pagination.html %}
        </div>
    </div>

    {%  include short_footer.html %}

    </div>
  </body>

</html>
