<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="se-pre-con"></div>


    {% include newsletter_topbar.html %}
    <div class="grid">
        {% include short_header.html %}
    </div>
    <div class="short_body" style="background-image: url('{{ page.phase1-hero }}');">



        <div class="frow centered phase1-film-wrapper">
            {{ content }}
        </div>
    </div>

    <div class="grid">
        {% include components/phase-title.html %}
        {%  include short_footer.html %}
    </div>
    {% include html5video.html %}


  </body>

</html>
