<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="se-pre-con"></div>



{% include newsletter_topbar.html %}

        <div class="grid">
            {% include short_header.html %}
        </div>

        <div class="phase1_slider">
            {% for item in site.data[page.slider] %}
            <div class="phase1_cover_slide" style="background-image:url('{{ item.slide }}')"></div>
            {% endfor %}

        </div>

        {% include components/phase-slide-title.html %}


    <div class="grid">
        {%  include short_footer.html %}
    </div>


  </body>

</html>
