---
layout: default
---
<div class="post">

  <!-- <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header> -->

  <article class="post-container">
  	<div class="post-date">{{ page.date | date: "%B %Y" }}</div>
  	<div class="post-title">{{ page.title }}</div>
  	<div class="body-container">
  		<div class="post-content">
	  		{{ content }}

	  		<div class="journal-caption_group">
	        	{% if page.single-img1-group == "yes" %}
		        <div class="svn-content_contain-caption journal-caption">
		          <div class="svn-content_caption-title">
		          {{ page.img1-caption-title }}
		          </div>
		          <div class="svn-content_caption-sm journal-caption_sm">
		          {{ page.img1-caption-text }}
		          </div>  
		        </div>
		        {% endif %}
		        {% if page.single-img2-group == "yes" %}
		        <div class="svn-content_contain-caption journal-caption">
		          <div class="svn-content_caption-title">
		          {{ page.img2-caption-title }}
		          </div>
		          <div class="svn-content_caption-sm journal-caption_sm">
		          {{ page.img2-caption-text }}
		          </div>  
		        </div>
		        {% endif %}
		        {% if page.single-img3-group == "yes" %}
		        <div class="svn-content_contain-caption journal-caption">
		          <div class="svn-content_caption-title">
		          {{ page.img3-caption-title }}
		          </div>
		          <div class="svn-content_caption-sm journal-caption_sm">
		          {{ page.img3-caption-text }}
		          </div>  
		        </div>
		        {% endif %}
		        {% if page.single-img4-group == "yes" %}
		        <div class="svn-content_contain-caption journal-caption">
		          <div class="svn-content_caption-title">
		          {{ page.img4-caption-title }}
		          </div>
		          <div class="svn-content_caption-sm journal-caption_sm">
		          {{ page.img4-caption-text }}
		          </div>  
		        </div>
		        {% endif %}
		        {% if page.single-img5-group == "yes" %}
		        <div class="svn-content_contain-caption journal-caption">
		          <div class="svn-content_caption-title">
		          {{ page.img5-caption-title }}
		          </div>
		          <div class="svn-content_caption-sm journal-caption_sm">
		          {{ page.img5-caption-text }}
		          </div>  
		        </div>
		        {% endif %}
		        {% if page.single-img6-group == "yes" %}
		        <div class="svn-content_contain-caption journal-caption">
		          <div class="svn-content_caption-title">
		          {{ page.img6-caption-title }}
		          </div>
		          <div class="svn-content_caption-sm journal-caption_sm">
		          {{ page.img6-caption-text }}
		          </div>  
		        </div>
		        {% endif %}
	        </div>	
	  	</div>
  		<div class="img-content">
  			{% if page.single-img1-group == "yes" %}
	          <div class="catalog-photo_number-pos svn-content_img-no-txt">01</div>
	          <img src="{{ page.single-img1 }}" class="catalog-photo"/>
	        {% endif %}
	        {% if page.single-img2-group == "yes" %}
	          <div class="catalog-photo_number-pos svn-content_img-no-txt">02</div>
	          <img src="{{ page.single-img2 }}" class="catalog-photo"/>
	        {% endif %}
	        {% if page.single-img3-group == "yes" %}
	          <div class="catalog-photo_number-pos svn-content_img-no-txt">03</div>
	          <img src="{{ page.single-img3 }}" class="catalog-photo"/>
	        {% endif %}
	        {% if page.single-img4-group == "yes" %}
	          <div class="catalog-photo_number-pos svn-content_img-no-txt">04</div>
	          <img src="{{ page.single-img4 }}" class="catalog-photo"/>
	        {% endif %}
	        {% if page.single-img5-group == "yes" %}
	          <div class="catalog-photo_number-pos svn-content_img-no-txt">05</div>
	          <img src="{{ page.single-img5 }}" class="catalog-photo"/>
	        {% endif %}
	        {% if page.single-img6-group == "yes" %}
	          <div class="catalog-photo_number-pos svn-content_img-no-txt">06</div>
	          <img src="{{ page.single-img6 }}" class="catalog-photo"/>
	        {% endif %}
	        
  		</div>
	  	
  	</div>
  </article>

</div>
