---
layout: services-now
---

<div class="grid services-now">
    <section class="services_title_wrapper">
        <div class="services_title">svncrwns strategy sessions</div>
        <div class="services_desc">
            We understand the beauty and pain of running a business.  It’s wonderful to create products and services, but it’s requires a team and efficient business operation to maximize results.  We want to learn what your painpoints are, and provide a strategy to start moving in the right direction.
        </div>
    </section>
    <section class="services_benefit_wrapper">
        <div class="benefit_img">
            <img src="/uploads/hustle.png" />
    
            <div class="benefit_list_wrapper">
                <div class="benefit_list_title">Have you asked any of these questions lately?</div>
    
                <div class="benefit_list">
                    <div class="frow justify-between">
                        <div class="benefit_single">
                            <div class="benefit_icon">
                                <img src="/uploads/directions-icon.png" />
                            </div>
                            <div class="benefit_copy">I need to pivot.  I’m ready to see new results and need to implement some new ideas</div>
                        </div>
                        <div class="benefit_single">
                            <div class="benefit_icon">
                                <img src="/uploads/directions-icon.png" />
                            </div>
                            <div class="benefit_copy">I need to pivot.  I’m ready to see new results and need to implement some new ideas</div>
                        </div>
                        <div class="benefit_single">
                            <div class="benefit_icon">
                                <img src="/uploads/directions-icon.png" />
                            </div>
                            <div class="benefit_copy">I need to pivot.  I’m ready to see new results and need to implement some new ideas</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    
    <section class="services_ideas_wrapper">
        <div class="services_idea_intro">
            <div class="services_idea_icon">
                <img src="/dist/images/svncrwns-logo-2020-white-icon.png" />
            </div>
            <div class="services_idea_desc">
                We have been focused on a few specific ideas since the pandemic has started.  It all relates to this one question, how can we sustain and scale?
            </div>
        </div>
    
        <div class="services_idea_list">
            <div class="frow justify-between">
                <div class="services_idea_single">
                    <div class="services_idea_title">Blue Oceans</div>
                    <div class="services_idea_note">
                        The market can get crowded, how do we paint ourselves so that we stand above the rest.  Blue oceans is a business strategy that says, why swim with the sharks in the red ocean, when you can innovate into new opportunities and create new markets in the blue ocean.
                    </div>
                </div>
    
                <div class="services_idea_single">
                    <div class="services_idea_title">Blue Oceans</div>
                    <div class="services_idea_note">
                        The market can get crowded, how do we paint ourselves so that we stand above the rest.  Blue oceans is a business strategy that says, why swim with the sharks in the red ocean, when you can innovate into new opportunities and create new markets in the blue ocean.
                    </div>
                </div>
    
                <div class="services_idea_single">
                    <div class="services_idea_title">Blue Oceans</div>
                    <div class="services_idea_note">
                        The market can get crowded, how do we paint ourselves so that we stand above the rest.  Blue oceans is a business strategy that says, why swim with the sharks in the red ocean, when you can innovate into new opportunities and create new markets in the blue ocean.
                    </div>
                </div>
    
                <div class="services_idea_single">
                    <div class="services_idea_title">Blue Oceans</div>
                    <div class="services_idea_note">
                        The market can get crowded, how do we paint ourselves so that we stand above the rest.  Blue oceans is a business strategy that says, why swim with the sharks in the red ocean, when you can innovate into new opportunities and create new markets in the blue ocean.
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="services_offer_wrapper">
        <div class="services_offer_title">svncrwns strategy sessions</div>
        <div class="services_offer">45-min<br/>Strategy Call</div>
        <div class="services_offer_desc">
            <p>We’re offering strategy sessions to artists and entrepreneurs that own or operate retail, wellness and media brands.  We know it’s hard.  It’s never enough time in the day.  We want to empower you with information and resources.  Let’s talk aboout what’s next for you.</p>  
    
            <p>We have 45-minute sessions starting @ $45.  Schedule with us.</p>
        </div>
        <a href="/" class="brand_btn_v2">
            <div>Schedule Your session</div>
        </a>
    </section>     
</div>
<section class="es_callout" style="background-image:url('/uploads/white-textured-bg.png');">
    <div class="es_callout_title">still considering your options</div>

    <div class="frow justify-between">
        <div class="es_callout_img"></div>
        <div class="es_callout_details">
            <div class="es_callout_subtitle">It sounds good, but what else?</div>
            <div class="es_callout_offer">
                <div class="es_callout_offer_title">Sustain + Scale</div>
                <div class="es_callout_offer_series">an email series</div>
                <div class="es_callout_copy">We have an email series sharing more insight and resources for <span class="bold">auditing your brand, creating adaptive strategies, maximizing your content strategies</span> + a few extras.  Sign up below to get <span class="bold">free strategy insights
                </span> on how to <span class="bold">sustain and scale your business.</span></div>
                <div class="es_callout_offer_cta">
                    <img src="/uploads/es-email-placeholder.png" />
                </div>
            </div>
        </div>
    </div>
</section> 

