{% include grid/head_header_color.html %}
<div class="grid es_grid">
    <div class="es_title_wrapper">
        <div class="es_title">Sustain + Scale</div>
        <div class="es_subtitle">an email series</div>
    </div>
    
    <div class="es_img">
        <img src="/uploads/ss-email-img.png" />
    </div>
    

    <div class="es_wrapper">
        <p>We have an email series sharing insights and resources on <span class="bold">auditing your brand, creating adaptive strategies, maximizing your content strategies</span> + a few extras.  Sign up below to get <span class="bold">free strategy insights</span> on how to <span class="bold">sustain and scale your business.</span></p>

        <div class="email_section"><img src="/uploads/es-email-placeholder.png" /></div>
    </div>
</div>

{% include components/footer_cta.html %}
{% include grid/end_footer.html %}