{% include grid/head_header_color.html %}

<div class="themealpha-phase1-masthead">
    <div class="themealpha-phase1-header">
        {{ page.tagline }}
    </div>
    <div class="themealpha-phase1-subheader">
        SVNCRWNS has been a production company since 2015.  We work with our clients to grow + manage their brands by way of creating platforms and content.  We also create original content for women sharing stories about women.  We’re artists, we’re visionaries, and we’re brand consultants.  We love new ideas + creating opportunity, and we absolutely love creating experiences.  <a href="/work/" class="general_link">Check out our work</a>, and <a href="/contact/" class="general_link">let's partner on something</a> for the culture. <div class="phase1-caption">[Pronounced: seven crowns]</div>
    </div>
</div>


<div class="themealpha-home-section-title">Selected Work</div>
<div class="myslide2">
	{% for items in site.data.featured_work %}
	<div class="home-slide" style="background-image: url('{{ items.image }}');">
		<div class="home-slide-meta">
			<div class="home-meta-title"><a href="{{ items.url }}">{{ items.title }}</a></div>
			
			<div class="home-meta-description">{{ items.description }}
			</div>
			{% include components/work-space-tags.html %}
		</div>
	</div>
	{% endfor %}
</div>

<section class="home-lastrow">
	<div class="grid">
		<div class="frow justify-start">
			<div class="home-lastrow-bigtitle">
				<a href="/work/">View Our Portfolio &#8594;</a>
			</div>
			<div class="home-lastrow-newsletter">
				<!-- Begin Mailchimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
				<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
				<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700,900" rel="stylesheet">
				<style type="text/css">
					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
					/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
					   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					   #mc_embed_signup {
					   	background: transparent;
					   }
					   #mc_embed_signup label {
					   	color: #070707;
					   	text-transform: uppercase;
					   	margin-bottom: 0;
					   	padding-bottom: 12px;
					   }
					   #mc_embed_signup label#newsletter-title {
					   	font-family: 'Montserrat', sans-serif;
					   	letter-spacing: 1.2px;
					   }
					   #mc_embed_signup #label-description {
					   	font-family: 'Libre Baskerville',sans-serif;
					   	font-size: 13px;
					   	text-transform: initial;
					   	font-weight: normal;
					   	color: #070707;
					   	/*width: 50%;*/
					   	/*margin-bottom: 20px;*/
					   }
					   #mc_embed_signup input.email {
					   	background: transparent;
					   	/*color: #f7f7f7;*/
					   	color: #070707;
					   	border: 0;
					   	border-bottom: 1px solid;
					   	border-radius: 0;
					   	width: 70%;
					   	margin: 0 4% 20px 0;
					   }
					   #mc_embed_signup input.email::placeholder {
					   	/*color: #f7f7f7;*/
					   	color: #070707;
					   	font-family: 'Libre Baskerville', sans-serif;
					   	font-size: 12px;
					   }
					   #mc_embed_signup .button {
					   	border-radius: 0;
					   	background-color: transparent;
					   	border: 1px solid;
					   	color: #070707;
					   	text-transform: uppercase;
					   	font-size: 14px;
					   	font-weight: bold;
					   	font-family: 'Montserrat', sans-serif;
					   	margin-top: 15px;
					   	letter-spacing: 1.2px;
					   }
					   #mc_embed_signup .button:hover {
					   	background: #99703E;
					   	/*color: #fff;*/
					   	color: #f7f7f7;
					   	border: 1px solid #99703E;
					   }
				</style>
				<div id="mc_embed_signup">
				<form action="https://svncrwns.us11.list-manage.com/subscribe/post?u=ab04d0cabec9aa1f49ca3e65e&amp;id=2fe748f030" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<label id="newsletter-title" for="mce-EMAIL">Sign up to the newsletter</label>
					<label id="label-description" for="mce-EMAIL2">Sharing our projects, new insights + exclusive content</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab04d0cabec9aa1f49ca3e65e_2fe748f030" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
				</div>

				<!--End mc_embed_signup-->
			</div>
		</div>
	</div>
</section>


{% include grid/end_footer.html %}