<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="white">
    <div class="comingsoon-hero">
      <div class="a-slide" style="background-image: url('/assets/images/neptune-final-9.jpg');"></div>
      <div class="a-slide" style="background-image: url('/assets/images/philly1.png');"></div>
      <div class="a-slide" style="background-image: url('/assets/images/humble-cover.jpg');"></div>
    </div>
    <div class="se-pre-con"></div>
    <div class="comingsoon-content">
      {% include header.html %}
      <div class="clear">
        {{ content }}
      </div>
      {% include footer2.html %}
    </div>
  </body>

</html>
