<section class="section-bg section-nobg clear">

    <div class="svn-wrapper">

      <div class="svn-content">
        <div class="svn-content_no svn-content_no-featured"> 
          02.
        </div>
        <div class="svn-content_contain-note">
          <div class="svn-content_note-date">august 2016</div>
          <div class="svn-content_note-issue">number 01</div>
        </div>

        <div class="svn-content_note-title">
          artist's <span class="note-title-alt-color">note</span>
        </div>
        <div class="svn-content_note-text clear">
          <p>Butcher four loko meggings crucifix man bun. You probably haven't heard of them farm-to-table microdosing pop-up 90's. Locavore truffaut hammock franzen raw denim +1, chartreuse waistcoat poutine. Mustache kombucha bushwick you probably haven't heard of them vinyl YOLO. Microdosing cliche taxidermy, williamsburg jean shorts biodiesel selfies whatever. Lomo cronut brunch skateboard sartorial synth readymade, swag yr art party. Chia craft beer trust fund sartorial celiac.</p>
          <p>Butcher four loko meggings crucifix man bun. You probably haven't heard of them farm-to-table microdosing pop-up 90's. Locavore truffaut hammock franzen raw denim +1, chartreuse waistcoat poutine. Mustache kombucha bushwick you probably haven't heard of them vinyl YOLO. Microdosing cliche taxidermy, williamsburg jean shorts biodiesel selfies whatever. Lomo cronut brunch skateboard sartorial synth readymade, swag yr art party. Chia craft beer trust fund sartorial celiac.</p>
          <div class="svn-content_note-salutation">peace, <span class="note-author">svncrwns founders</span></div>
        </div>
      </div>
    </div>
  </section>