<section class="section-bg" style="background-image: url('{{ page.section3_bg }}');">
  <div class="svn-wrapper">
    <div class="svn-content">
      <div class="svn-content_no">03</div>
      <div class="content_container">
        <div class="content_50">
          <div class="content_half_vertical">
            <div class="svn-content_img-no svn-content_img-no-txt">03</div>
            <img src="/assets/images/white.jpg" />
          </div>
          <div class="content_half_vertical pull_up">
            <div class="svn-content_img-no svn-content_img-no-txt">VIBES</div>
            <img src="{{ page.section3_img2 }}" />
          </div>
        </div>
        <div class="content_50 content_text pull_right">
          {{ page.section3_text }}
        </div>

        {% include caption.html caption_title="03. Something Bold" caption_text="Type something of interest here, just some filler shxt, no one cares what this says anyway.  Just keep on typing, get it?!" caption_title_extra="03. VIBES. Bold" caption_text_extra="Type something of interest here, just some filler shxt, no one cares what this says anyway.  Just keep on typing, get it?!" %}

      </div>
      
    </div>
  </div> <!-- .svn-wrapper -->
</section><!-- .section-bg -->