<section style="background-color: {{ page.testimonial_bg }};">
<div class="testimonial-wrapper">
	<div class="testimonial-title">a word from our community</div>
	<div class="testimonial-text">…this was definitely a great start for getting the kids involved with the culture, and knowing a little bit of history that they may not have learned in the classroom</div>
	<div class="testimonial-author">- MS. MILES, LEITH WALK ELEMENTARY</div>
	<div class="spacer1x"></div>
	<div class="testimonial-title"><a href="{{ site.baseurl }}/catalog/pop-up-museum-sankofa" class="post-link">learn more about this project</a></div>
</div>
</section>