.editorial_title {
	@extend .beta_page_title;
	padding: 0 !important;
	// font-size: 36px !important;
	font-size: 22px !important;


	@include tablet {
		width: 75%;
	}
	@include laptop {
		width: 45%;
	}
}
.editorial_meta_section {
	padding: 50px 0 75px;
}
.editorial_links {
	// margin-bottom: 75px;
	// background: $editorial-links-color;
	padding: 15px 0 0;
	width: 75%;

	@include tablet {
		width: 50%;
		// padding: 15px 0 0;
	}
	@include desktop {
		width: 30%;
		// margin-left: 90px;
		// margin-bottom: 125px;
		padding: 50px 0 0;
	}
	
}
.view_website {
	@include heavy_font(14px);
	padding: 0 0 10px;

	@include tablet {
		padding: 0 0 15px;
		font-size: 16px !important
	}
}

.small_beta {
	border-bottom: 1px solid #eee;
	padding-bottom: 35px;
	margin-bottom: 35px;

	.beta_title_description {
		padding-left: 35px;
		letter-spacing: 0.3px;
		line-height: 1.6;
	}
}
.editorial_masthead {
	background-position: top center;
	background-size: cover;
	height: 60vh;
}
.editorial_meta {
	padding: 100px 0 75px;

	@include palm-mid {
		// padding: 100px 0 75px;		
	}
	@include desktop-blah {
		// padding: 100px 0 125px;
	}
}
.themealpha_small_title_text {
	@extend .small_title_text;
	text-transform: initial !important;
	width: 85% !important;
	margin-top: -7px !important;
	font-size: 16px !important;
	font-weight: normal;
	padding-left: 0;
	font-family: $font-brand3;
	letter-spacing: 0;

	@include palm-mid {
		font-size: 18px !important;		
	}
}
.themealpha_small_alpha {
	width: 100%;
	padding-top: 20px;

	@include laptop {
		width: 44%;	
		// padding-top: 75px;
	}
}
.themealpha_small_title_line {
	vertical-align: top !important;
	@extend .small_title_line;
}

.themealpha_small_beta {
	@extend .small_beta;
	width: 100%;
	border-bottom: 0 !important;
	margin-bottom: 0 !important;

	@include laptop {
		width: 48%;
	}

}
.themebeta_title_description {
	@extend .beta_title_description !optional;
	padding-left: 0 !important;
	font-size: 14px !important;
}
.themealpha_project_header_text {
	@extend .small_title_text !optional;
	padding-left: 0 !important;
}
.themealpha_project_info_wrapper {
	@extend .small_title_wrapper !optional;
	padding-bottom: 7px !important;
}

// Project Details
.project_details_section {
	position: relative;
	margin-bottom: 125px;

	@include widescreen {
		// margin-top: -8vh;
	}
}
.project_details {
	padding: 30px;
	background: $color-brand1;
	color: $off-white;
	margin: -7vh auto;
	width: 90%;
	
	@include tablet {
		max-width: 975px;	
		padding: 60px;
		margin: -25vh auto 0;
	}
	@include laptop {
		margin: -7vh auto 0;
		max-width: none;
		width: 90%;
	}	
	@include desktop-blah {
		width: 80%;
	}
	// @include widescreen {
	// 	width: 70%;
	// }
}
.nobgcolor {
	background: transparent;
	color: $off-black;
	margin: 0;
	padding: 60px 0;
	// opacity: 0;
}
.project_details_title {
	@extend .archive_header;
	font-size: 20px !important;

	@include tablet {
		font-size: 28px !important;
	}
}
.project_details_cover {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	// height: 320px;
	height: 600px;

	// z-index: -2;

	// @include laptop {
	// 	position: absolute;
	// 	top: -30vh;
	// 	right: 4vh;
	// 	width: 45%; 
	// }
	// @include desktop-blah {
	// 	top: -25vh;
	// }
	// @include widescreen {
	// 	top: -30vh;
	// 	height: 450px;
	// 	width: 50%;
	// 	right: 3vh;
	// }
}

// Editorial Captions
.caption_wrapper {
	width: 100%;
	max-width: 850px;
	// margin: 75px 0;
	margin: 0px 0 125px;


	@include tablet {
		// width: 75%;
		margin: 0 0 175px;
	}
	@include desktop {
		width: 75%;
	}
	@include desktop-blah {
		width: 60%;
	}
	&:last-child {
		margin-bottom: 50px;
	}
}
.editorial-caption-title {
	@include heavy_font(18px);
	padding-bottom: 15px;

	@include tablet {
		font-size: 24px !important;

	}
	@include desktop {
		width: 75%;
	}
}
.editorial_caption {
	font-size: 14px;
	line-height: 1.6;

	@include tablet {
		font-size: 18px;
	}
}
.editorial_images {
	padding-bottom: 75px;
}
// .editorial-video {
// 	margin-bottom: 150px;
// }

// Credits
// .block.caption_wrapper {
//   padding: 5em 0 3em;  
//   @include tablet {
//     padding: 0 0 2em 6em !important;  
//   }
// }
.project_links {
	// padding-left: 1em;

	@include palm-mid {
		// padding-left: 1em;
	}
	@include tablet {
		// margin-top: -3em;
	}
}
.project-highlights {
	text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-align: center;
    padding-bottom: 4em;
    font-size: 20px;
}