/* Phase 1 */
.left_footer {
	max-width: 280px;
	margin: 20px auto 10px;
	text-align: center;

	@include palm {
		text-align: initial;
	}

	@include tablet {
		width: auto;
		max-width: none;
		margin: 0;
	}

	a {
		&:hover {
			border-bottom: 0;
		}
	}

}
.left_footer_copy {
	display: block;
	margin-top: 7px;

	@include palm {
		display: inline-block;
		margin-top: 0;
	}
	&.themealpha-nav {
		// color: $;
		// @include first-page-color;
		color: $menu-link-color;
		
	}
}
.right_footer {
	font-weight: 700;
	width: 100%;
	text-align: center;
	font-size: 10px;

	@include palm-mid {
		font-size: 14px;
	}
	@include tablet {
		display: block;
		width: auto;
		text-align: inherit;
	}

	ul {
		margin:0;
		li {
			display: inline;
			text-transform: uppercase;
			margin-right: 9px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $off-black;
				font-weight: 700;

				&:hover {
					border-bottom: 2px solid $menu-link-hover;
				}
			}
			&.themealpha-nav a {
		        color: $menu-link-color !important;
		      }
		}
	}

}
.phase1-site-footer {
	font-family: $font-brand4;
	font-weight: 500;
	font-size: 10px;
	color: $off-black;
	margin: 0 20px 10px;

	@include tablet {
		// position: fixed;
		// z-index: 3;
		// bottom: 0;
		width: 100%;
		margin: auto;
		background: $off-white;
		padding: 8px 0px;
	}
}

/* #Phase 1 Footer */
.site-footer {
	@include tablet {
		position: relative;
		margin-top: 0;
		padding-top: 50px;
	}
}
.footer_signup_big {

	@include font_size_lg;
	color: $color-brand5;
	text-align: right;
	text-transform: uppercase;

}
.footer_signup_small {
	text-transform: uppercase;
	text-align: right;
	color: $color-brand5;
	@include font_size_micro;
}
.footer_section {
	width: 100%;
	position: relative;
	margin-top: 50px;

	@include tablet {
		width: 33%;
		float: left;
		margin-top: 0;
		min-height: 170px;
	}
}
.footer_section:first-child {
	margin-top: 0;
}
.footer_copyright {
	font-size: 8px;
	margin-top: 5px;
	color: $color-brand5;
}
.footer-section-wrapper {
	position: relative;
	width: 100%;
}
.footer_align_bottom {

	@include tablet {
		position: absolute;
		bottom: 0;
	}
}
.footer_social {

	@include tablet {
		width: 65%;
		left: 0;
		right: 0;
		margin: auto;
	}
}
ul.list {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
	color: $color-brand5;
	width: 100%;
	font-size: 18px;

	@include tablet {
		width: auto;
		float: left;
		margin-right: 20px;
		text-align: initial;
	}
}
ul.list li {
	margin-bottom: 6px;
}
ul.list li a {
	color: $color-brand5;
}
ul.list li a:hover {
	border-bottom: 1px solid;
}
.footer_right {
	right: 0 !important;
}
.footer-elements {
	padding: 0 0 10px;

	@include tablet {
		padding: 0 0 70px 0;
	}
}
.footer-logo {
	padding-bottom: 2em;
}
.no_underline:hover {
	text-decoration: none;
	border-bottom: 0;
}
