body.white {
  background-color: $off-white;
}
body.color_layout {
    background-color: $off-black;
    color: $off-white;
}
.body-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: fixed;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.25;
  filter: grayscale(200%);
  -webkit-filter: grayscale(200%);
}

// PreLoader
// This only works with JavaScript, if it's not present, doesn't show loader
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/dist/images/Preloader.gif) center no-repeat #fff;
}

// Back to top icon
.backtop-icon {
  position: fixed;
  bottom: 0.8em;
  right: 5px;
  z-index: 2000;
  margin-right: 0.3em;
  cursor: pointer;

  @include desktop-blah {
    right: 35px;
  }
}
.backtop-icon:hover {
  background-image: url('/dist/images/slide-up-hover.png');
}
.backtop_wrapper {
  @include tablet {
    position: relative;
    width: 100%;
    display: block;
  }
  @include desktop-blah {
    width: 1100px;
    margin: 0 auto;
  }
  @include tv {
    width: 1300px;
  }
}
