.hamburger {
  background: $menu-btn-color;

  @include laptop {
    display: none !important;
  }
}

/* Phase 1 Header */
.phase1-site-header {
  @include laptop {
    // padding-top: 0;
    // top:0;
    // position: fixed;
    // width: 100%;
    // background: $off-white;
    // z-index: 1;
    // height:100vh;
    // margin-top: -10px;
  }
  &.project-layout {
    @include tablet {
      background: rgba(255,255,255,0.35);
      padding: 5px 15px 0;
      border-radius: 24px;
      margin-top: 14px;
    }
  }
  
}
.phase1_menu_btn {
    text-indent: 0;
    color: #fff;
    position: relative;
    background-color: transparent;
    border: none;
    width: 50px;
}
.phase1_menu_btn:hover {
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;
}
.phase1_menu_btn:active {
  position: relative;
}
#phase1-overlay-menu {
  background-color: transparent;
  border-color: transparent;
  z-index: 7000;
  outline: transparent;
}
.phase1-overlay-close {
  width: 40px;
  height: 37px;
  overflow: hidden;
  border: 0 !important;
  background-color: transparent !important;
  z-index: 7000;
  outline: transparent;

  @include desktop-blah {
    position: fixed;
    top: 45px;
    right: 100px;
  }
}
.flex-centered {
	height: 100%;
	justify-content: flex-start !important;
	align-items: center;
}

/* No Scroll w/ Overlay Present */
body.noScroll {
  overflow: hidden;
}
.logo-wrapper {
  z-index: 9999;
  position: absolute;
}
.logo {
  text-align: right;
  padding: .5em;
  z-index: 999;
  cursor: pointer !important;
  right: 10px;
  position: fixed;
  width: auto;

  @include tablet {
    display: block;
  }
}
.logo-img {
  width: 100px;
  @include tv {
    width: 125px;
  }
}
.site-header {
  @include desktop-blah {
    margin: 0 auto;
  }
}
.menu-icons .fa {
  @include tablet {
    font-size: 40px;
  }
}
.overlay_container {
  position: relative;
}

/* Header & Overlay Menu */
.menuButton {
  text-indent: 0;
  color: #fff;
  position: relative;
  background-color: transparent;
  border: none;
  width: 36px;

  @include palm-mid {
    float: right;
  }

  @include desktop-blah {
    display: none;
  }
}
.menuButton:hover {
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;
}
.menuButton:active {
  position: relative;
}
.menu-icons img {
  width: 5%;
}
.menu-txt {
  color: #000;
  font-size: 35px;
  cursor: pointer;
}
.menu-txt:hover {
  color: $color-brand5;
}
#overlay-menu {
  margin: 10px;
  background-color: transparent;
  border-color: transparent;
  position: fixed;
  bottom: 5%;
  left: 0px;
  z-index: 7000;

  @include tablet {
    top: 50%;
    bottom: auto;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-color: $brown;
  z-index: 9009;
  overflow: scroll;
}
.overlay nav {
    width: 100%;

}
.overlay ul {
  list-style: none;
}
.overlay ul li:last-child {
  margin-bottom: 0;
}
.overlay ul li a {
  text-decoration: none;
  color: $off-white;
  font-weight: 700;
}
.overlay-close {
  width: 40px;
  height: 35px;
  position: fixed;
  overflow: hidden;
  border: 0 !important;
  background-color: transparent !important;
  z-index: 7000;
  bottom: 5%;
  margin: 10px;

  @include tablet {
    bottom: auto;
    top: 50%;
  }
  @include desktop-blah {
    display: none;
  }
}
.overlay-data {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.main-nav {
  width:calc(100vh - 15px);
  height: 80px;
  position:fixed;
  bottom: 100px;
  z-index: 9005;
  color: $color-brand5;
  left: 15px;
  line-height: 35px;

  @include tablet {
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
    top: -10px;
    height:28px;
    left: 5px;
    line-height: 20px;
  }

  @include laptop {
    left: 20px;
  }
}
ul.nav li {
  height:100%;
  list-style: none;
  font-family: $font-brand3;
  font-size: 20px;

  @include tablet {
    margin-right:20px;
    float:left;
    line-height:20px;
    font-size: 16px;
  }
  @include laptop {
    font-size: 20px;
    line-height: 28px;
  }
  @include bigscreen {
    font-size: 28px;
    line-height: 33px;
    margin-right: 30px;
  }
}
ul.nav li a {
  color: darken($color-brand5, 15%);
  cursor: pointer;
}
ul.nav li a:hover {
  text-decoration: none;
}
ul.nav li a:hover::after {
  content: '';
  display: block;
  width: auto;
  height: 1px;
  background: $color-brand5;
}

// Menu Close
.menu_group {
  margin-top: 60px;
}
.menu_title {
  @include third_level_heading(15px, $off-black);
  margin-bottom: 25px;
}

// phase1_full_height
.left_header {
  position: relative;
  width:100%;

  @include tablet-small {
    width: auto;
  }

  @include tablet-frow {
    width: auto;
  }

  a {
    &:hover {
        text-decoration: none;
        border-bottom: 0;
    }
  }
}

// Home Link
.menu_crown {
  width: 36px;
  margin-bottom: 30px;
  a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        border: none;
    }
  }
}


// Collapsed Menu
.collapsed_menu_wrapper {

  @include tablet {
    padding-top: 0;
    width: auto;
  }
  @include laptop {
    display: block;
  }
  ul {
    padding-top: 5px;
    margin-bottom: 0;

    li {
      padding:7px 10px 10px 0;
      @include heavy_font(10px);
      letter-spacing: 2px;

      @include tablet {
        display: inline-block;
        font-size: 16px;
        padding:0 10px 0 0
      }

      a {
        font-size: 14px;
        color: $off-black;
        text-decoration: none;

        &:hover {
          border-bottom:1px solid;
        }
      }
      &.themealpha-nav a {
        
        color: $menu-link-color;
        font-size: 11px;
       
        @include tablet {
          font-size: 14px;
        }

        &:hover {
          color: $off-black;

        }
      }
      
    }

  }
}

.menu_description {
  color: $off-black;
  font-size: 16px;
  padding: 0 0 100px;
  line-height: 1.6;

  @include tablet {
    width: 85%;
  }
  @include laptop {
    width: 45%;
  }

  a {
    &:hover {
      color: $color-brand3;
    }
  }
}
.all_work_title {
  position: fixed;
  top: 22vh;
  right: -5px;
  // width: 50px;
  word-break: break-word;
  font-size: 10px;
  z-index: 9999;
  font-family: $font-brand4;
  font-weight: $heavy;
  text-transform: uppercase;
  transform: rotate(90deg);
  background: $see-all-work-color;
  border-radius: 20px;
  padding: 3px 10px;
  border: 1px solid;
  display: none;


  @include tablet {
    right: 25px;
    bottom: 25vh;
    top: auto; 
    // display: block; 
  }
   @include desktop-blah {
    font-size: 14px;
    bottom: 28vh;
    right: -20px;
  }

}

// New Hover for Menu
.js_bg_receiver_work.hover {
  @include tablet {
    height: calc(100vh - 50px);
    width: 50%;
    background-color: rgba(228,77,78,0.6);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -100;
    display: block;
    position: fixed;
    right: 0;
    top: 6vh;
    filter: contrast(100%) grayscale(125%);
  }
  
}
.js_hover_trigger a {
  position: relative;

  &:hover {
    color: $color-brand3;
  }
}

// New Overlay Layout
.overlay_section {
  margin-bottom: 75px;
  max-width: 1150px;
}
.overlay_section_title {
  color: $color-brand3;
  @include heavy_font(20px);
  line-height: 1;
  padding-bottom: 50px;
}
.overlay-projects-menu {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-bottom: 25px;
  font-size: 13px;
}
.overlay_project_single {
  width: 100%;
  line-height: 1.2;
  // max-width: 250px;
  // @include heavy_font(20px);
  font-family: $font-brand4;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
  margin: 0 35px 5px 0;

  @include palm-mid {
    // width: 42%;
  }

  @include laptop {
    // width: 45%;
  }
}
.overlay_project_tags {
  font-family: $font-brand3;
  text-transform: initial;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
  letter-spacing: 0.5px;
  line-height: 1.4;
}
.overlay_alternate_text a {
  color: $color-brand3 !important;
  

  &:hover {
    color: $off-black !important;
  }
}
.overlay_header_logo a:hover {
  border-bottom: 0;
}
.overlay-projects {
  padding-top: 10px;

  @include desktop-blah {
    width: 47%;
    border-right: 1px solid;
  }
  &:last-child {
    border-right: 0;
  }
}

.overlay-projects-title {
  font-family: $font-brand4;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: $heavy;
    font-size: 20px;
  // width: 7%;
  line-height: 1;
  // margin-bottom: 50px;
  padding-bottom: 10px;
  margin-top: 10px;
  // border-bottom: 1px solid;
}

// Site Logo
.site-logo {
  @include palm-mid {
    max-width: 450px;
    margin: 10px auto;
    padding: 0;  
  }
  @include tablet-small {
    max-width: 550px;
  }
  @include tablet {
    max-width: none;
    margin: 10px 50px 0;
  }
  @include desktop-blah {
    margin: 10px 35px 7px 100px;
  }
  @include tv {
    margin: 10px 35px 0 150px;
  }
  
}