/* Phase 1 Header */
.phase1-site-header {
    // padding-top: 15px;

    @include tablet {
        padding-top: 0;
    }
}
.phase1_menu_btn {
    text-indent: 0;
    color: #fff;
    position: relative;
    background-color: transparent;
    border: none;
    width: 50px;
}
.phase1_menu_btn:hover {
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;
}
.phase1_menu_btn:active {
  position: relative;
}
#phase1-overlay-menu {
  background-color: transparent;
  border-color: transparent;
  z-index: 7000;
  outline: transparent;
}
.phase1-overlay-close {
  width: 40px;
  height: 37px;
  overflow: hidden;
  border: 0 !important;
  background-color: transparent !important;
  z-index: 7000;
  outline: transparent;
  // right: 0;

  @include tablet {
    // right: 50px;
    // top: 10px;
  }
}
.overlay-close:hover {
  color: $color-white;
}
.flex-centered {
	height: 100%;
	justify-content: flex-start !important;
	align-items: center;
}
.short_links {
    margin-bottom: 0;
    line-height: 24px !important;
    font-size: 24px !important;
}
/* Phase 1 Header */

/* No Scroll w/ Overlay Present */
body.noScroll {
  overflow: hidden;
}

.logo-wrapper {
  z-index: 9999;
  position: absolute;
}
.logo {
  text-align: right;
  padding: .5em;
  z-index: 999;
  cursor: pointer !important;
  right: 10px;
  position: fixed;
  width: auto;

  @include tablet {
    display: block;
  }
}
.logo-img {
  width: 100px;
  @include tv {
    width: 125px;
  }
}
.site-header {
  @include desktop-blah {
    margin: 0 auto;
  }
}
.menu-icons .fa {
  @include tablet {
    font-size: 40px;
  }
}
.overlay_container {
  // height: 100vh;
  position: relative;
  // padding: 30px 20px 15px;

  @include palm-mid {
      // padding-top: 50px;
  }

  // @include tablet {
  //     padding: 50px 20px;
  // }
}

/* Header & Overlay Menu */
.menuButton {
  text-indent: 0;
  color: #fff;
  position: relative;
  background-color: transparent;
  border: none;
  width: 36px;

  @include palm-mid {
    float: right;
  }

  @include desktop-blah {
    display: none;
  }
}
.menuButton:hover {
  -o-transition:.75s;
  -ms-transition:.75s;
  -moz-transition:.75s;
  -webkit-transition:.75s;
  transition:.75s;
}
.menuButton:active {
  position: relative;
}
.menu-icons img {
  width: 5%;
}
.menu-txt {
  color: #000;
  font-size: 35px;
  cursor: pointer;
}
.menu-txt:hover {
  color: $color-brand5;
}
#overlay-menu {
  margin: 10px;
  background-color: transparent;
  border-color: transparent;
  position: fixed;
  bottom: 5%;
  left: 0px;
  z-index: 7000;

  @include tablet {
    top: 50%;
    bottom: auto;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-color: $off-black;
  z-index: 9009;
  overflow: scroll;
}
.overlay nav {
    width: 100%;

}
.overlay ul {
  list-style: none;
}
.overlay ul li {
  margin-bottom: 15px;
  font-family: $font-brand4;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @include laptop {
    font-size: 50px;
    line-height: 50px;
  }
}
.overlay ul li:last-child {
  margin-bottom: 0;
}
.overlay ul li a {
  text-decoration: none;
  color: $off-white;
  font-weight: 700;
}
.overlay ul li a:hover {
  color: $color-brand3;
  border-bottom: 0;
}
.overlay-close {
  width: 40px;
  height: 35px;
  position: fixed;
  overflow: hidden;
  border: 0 !important;
  background-color: transparent !important;
  z-index: 7000;
  bottom: 5%;
  margin: 10px;

  @include tablet {
    bottom: auto;
    top: 50%;
  }
  @include desktop-blah {
    display: none;
  }
}
.overlay-close:hover {
  color: $color-white;
}
.overlay-data {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.main-nav {
  width:calc(100vh - 15px);
  height: 80px;
  position:fixed;
  bottom: 100px;
  z-index: 9005;
  color: $color-brand5;
  left: 15px;
  line-height: 35px;

  @include tablet {
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
    top: -10px;
    height:28px;
    left: 5px;
    line-height: 20px;
  }

  @include laptop {
    left: 20px;
  }
}
ul.nav li {
  height:100%;
  list-style: none;
  font-family: $font-brand3;
  font-size: 20px;

  @include tablet {
    margin-right:20px;
    float:left;
    line-height:20px;
    font-size: 16px;
  }
  @include laptop {
    font-size: 20px;
    line-height: 28px;
  }
  @include bigscreen {
    font-size: 28px;
    line-height: 33px;
    margin-right: 30px;
  }
}
ul.nav li a {
  color: darken($color-brand5, 15%);
  cursor: pointer;
}
ul.nav li a:hover {
  text-decoration: none;
}
ul.nav li a:hover::after {
  content: '';
  display: block;
  width: auto;
  height: 1px;
  background: $color-brand5;
}

// Menu Close
/* Icon 1 */

#nav-icon1 {
  display: none;
  @include desktop-blah {
    display: block;
    width: 30px;
    height: 16px;
    position: fixed;
    top: 46%;
    bottom: 25px;
    left: 20px;
    margin: 20px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 13000;
  }
}

#nav-icon1 span {
  display: block;
  position: fixed;

  height: 3px;
  width: 100%;
  background: $black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 6px;
}

#nav-icon1 span:nth-child(3) {
  top: 12px;
}

#nav-icon1.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.menu_title {
  @include third_level_heading(15px, $off-white);
  margin-bottom: 25px;
}

// phase1_full_height
.left_header {
    position: relative;


    a {
        &:hover {
            text-decoration: none;
            border-bottom: 0;
        }
    }
}

// Home Link
.menu_crown {
    width: 36px;
    margin-bottom: 30px;
    // margin-top: 12px;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
            border: none;
        }
    }
}
