// Theme Alpha -- Home
.themealpha-phase1-masthead {
  color: $off-black;
  position: relative;
  padding: 75px 0px 100px;

  @include tablet {
    padding: 50px 0 50px;
  }

  @include laptop {
    padding: 125px 0 50px;  
  }
}
.themealpha-phase1-header {
  font-family: $font-brand4;
  color: $brown;
  // font-size: 40px;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-top: 15px;
  animation-duration: .7s;
  -webkit-animation-duration: .7s;
  animation-delay: .7s;
  -webkit-animation-delay: .7s;
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  @include palm-mid {
    font-size: 50px;
  }
  @include tablet {
    font-size: 60px;
    line-height: 0.9;
    width: 70%;
  }

  @include desktop {
      width: 600px;
      font-size: 70px;
  }

  @-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

  
}
.themealpha-phase1-subheader {
  font-size: 18px;
  width: 100%;
  max-width: 775px;
  line-height: 1.6;
  text-transform: initial;
  // @include first_page_color;
  color: $paragraph-color;
  padding-top: 25px;
  @include tablet {
    padding: 25px 0 0;
  }
  @include laptop {
    width: 85%;
    font-size: 20px;
  }

  a {
    border-bottom: 1px solid;

    &:hover {
      color: $brown;
    }
  }
}


// JOURNAL

.themealpha_featured_meta {
  text-align: left;
  position: relative;
  margin-top: -16vh;
  padding: 0px 15px 0;

  @include palm-mid {
    margin-top: -20vh;
  }
  @include tablet {
    margin-top: -27vh;
    padding-top: 25px;
  }
  @include desktop {
    margin-top: -30vh;
  }
}
.themealpha_featured_title {
  @include heavy_font(30px);
  line-height: 0.9;
  width: 70%;
  padding-bottom: 30px;

  @include palm-mid {
    font-size: 50px;
  }
  @include tablet {
    font-size: 70px;
    width: 90%;
  }
  @include laptop {
    width: 83%;
    max-width: 650px;
  }
  @include desktop {
    font-size: 80px;
    max-width: 650px;
  }

  a {
    color: $off-white;

    &:hover {
      border-bottom: 0;
      color: $neon-green;
    }
  }
}
.journal_tag_item {
  background: $color-brand1;
  @include heavy_font(12px);
  margin-right: 15px;
  padding: 3px 8px;
  color: $off-white;
  margin-bottom: 7px;
}
.themealpha_featured_summary {
  padding-top: 25px;
  font-family: $font-brand3;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  background: rgba(204,191,163,0.3);
  margin: 30px 0 0;
  padding: 15px;

  @include palm-mid {
    font-size: 18px;
    margin: 30px 20px;
  }
  @include laptop {
    width: 50%;
  }
}
.featured_post_link {
  @include heavy_font(26px);
  max-width: 250px;
  margin: 25px 0;

  @include tablet {
    margin: 30px 0 0 20px;
  }
  @include laptop {
    margin: 30px 0 0 75px; 
    font-size: 30px; 
  }
}
.themealpha_all_posts_wrapper {
  // margin: 0 10px;
  
  @include tablet {
    width: 100%;
    // margin-bottom: 100px;
  }
}
.themealpha_general_post_title {
  padding-top: 15px !important;
  @extend .general_post_title;
  // border-top: 1px solid;
  // font-size: 14px;
  // text-align: left !important;
  line-height: 1.2;
  display: inline;
}
.themealpha_general_post_image {
  @extend .general_post_image;
  
  @include desktop {
      height: 375px !important;
  }
}

// Contact
.themealpha_contact_primary {
  width: 100%;
  padding-bottom: 75px;
  @include desktop-blah {
    width: 50%;
  }
  @include tv {
    width: 55%;
  }
}
.themealpha_contact_form {
  padding-top: 50px;
}
.themealpha_contact_information {
  background: $color-brand1;
  padding: 60px 30px;
  color: $off-white;
  width: 100%;

  @include tablet {
    padding: 60px;
    margin-bottom: 75px;
  }
  @include desktop-blah {
    width: 45%;
    padding: 40px;
  }
  @include tv {
    width: 40%;
  }
}
.themealpha_studio_item {
  @include palm-mid {
    width: 40%;
  }
}

.neon-text {
      text-align: center;
    font-size: 160px;
    text-transform: uppercase;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: auto; */
    text-shadow: -3px -3px 0 #d8ff01, 3px -3px 0 #d8ff01, -3px 1px 0 #d8ff01, 3px 3px 0 #d8ff01;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #f7f7f7;
    z-index: -1;
}